{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}Type of LPA - {% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}
{% set form = formErrorTextExchange(form,  {
    'type' : {
        'cannot-be-empty' : 'Please choose a type of LPA',
    }
}) %}

{# Set form fields variables #}
{% set type = form.get('type') %}

{# form fields config #}
{{ type.setOptions({
    label_attributes: {
        'class': 'block-label'
    }
}) ? ''}}

{# Disabling the radio buttons when not allowed to change #}
{% if not isChangeAllowed %}
{{ type.setAttributes({'disabled': 'disabled'}) ? '' }}
{{ type.setOptions({
    label_attributes: {'class': 'block-label disabled'}
}) ? ''}}
{% endif %}

<li id="lpa-type-section" class="section current">

    <h2 class="heading-medium accordion-header">What type of LPA do you want to create?</h2>

    <div class="accordion-info">
        <div class="text">
            <p>You can make an LPA to cover either your property and financial affairs, or your health and welfare.</p>
            <p><a class="js-guidance" href="/guide#topic-the-2-types-of-lpa" data-journey-click="page:link:help: Find out about the 2 types of LPA">Find out about the 2 types of LPA</a></p>
        </div>
    </div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}

        {# Error summary #}
        {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}

        <fieldset id="type">
            <legend class="visually-hidden">Choose type of LPA</legend>

            <h2 class="heading-medium flush--top">What type of LPA do you want to create?</h2>

            <div class="form-group {{ type.getMessages|length > 0 ? 'error'}}">
                {{ formElementErrorsV2(type) }}
                {{ formElement(type) }}
            </div>

            {% if not (isChangeAllowed) %}
            <div class="text">
                <p>You cannot change the type of your lasting power of attorney at this stage. If you want to make a
                {{ (lpa.document.type == 'health-and-welfare' ? 'property and financial affairs' : 'health and welfare') }}
                LPA based on the current one, click <a href="{{ cloneUrl }}">here</a>.</p>
            </div>
            {% endif %}

            <div class="form-group">
                <details class="text">
                    <summary data-journey-click="page:link.reveal:help: What if I want to make more than one LPA?" role="button" aria-expanded="false">What if I want to make more than one LPA?</summary>
                    <div>
                        <p>You can only make one LPA at a time.</p>
                        <p>At the end you can choose to reuse the details from this LPA so that you do not have to enter them again.</p>
                        <p>Remember, there is an application fee for each LPA.</p>
                    </div>
                </details>
            </div>

        </fieldset>

        <div class="form-group">
            {% if (isChangeAllowed) %}
                {{ formElement(form.get('save')) }}
            {% else %}
                <a href="{{ nextUrl }}" class="button">{{ (finalCheckAccessible(lpa) ? 'Return to final check' : 'Continue') }}</a>
            {% endif %}
        </div>

    {{ form().closeTag|raw }}

</li>

{% endblock %}
