<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>

    {#{% dump %}#}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="2; url=/lpa/{{ data.lpaid }}/download/{{ data.pdftype }}/{{ data.pdffilename }}" />

    <title>Generating your document | GOV.UK</title>

    <link href="{{ StaticAssetPath( '/assets/v2/css/download-message.css', { 'minify':true } ) }}" media="all" rel="stylesheet" type="text/css" />

    <!--[if gte IE 9]><!-->
    <link href="{{ StaticAssetPath( '/assets/v2/css/fonts.css', { 'minify':true } ) }}" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->

</head>
<body>

    <div class="download-message">
        <h2>Downloading...</h2>
    </div>

    <script src="/assets/v2/js/libs/jquery.min.js"></script>
    <script src="{{ StaticAssetPath( '/assets/v2/js/application.js', { 'minify':true } ) }}"></script>
</body>
</html>
