{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}
    System message
{% endblock %}

{% set form = formErrorTextExchange(form, []) %}
{% set message = form.get('message') %}

{% block content %}

{% import "application/macros.twig" as macros %}

{{ message.setAttributes({
    id: 'message',
    rows: 10,
    cols: 67,
    class: 'form-control'
}) ? ''}}


{{ message.setOptions( { label: 'Message' }) ? '' }}

{{ form.prepare() ? '' }}

{{ form().openTag( form )|raw }}

    {{ formElement(form.getCsrf) }}

    <div class="text">
        <p>System messages will be seen by all visitors to the LPA service. They should be used to inform users of scheduled periods of maintenance or changes to the LPA service.</p>
    </div>

    <fieldset>
        <legend class="visually-hidden">Set the system message</legend>

        {{ macros.formGroup(message) }}

    </fieldset>


	<input type="submit" class="button" value="Set system message">

{{ form().closeTag|raw }}

{% endblock %}
