{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}User search - {% endblock %}
{% block pageTitle %}User search{% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}
{% set form = formErrorTextExchange(form, {
    'email' : {
        'cannot-be-empty' : 'Enter a valid email address'
    }
}) %}

{# Set form fields variables #}
{% set email = form.get('email') %}

{# form fields config #}
{{ email.setAttributes({
    id: 'email-address',
    class: 'form-control'
}) ? '' }}

{# form fields labels #}
{{ email.setOptions({label:'Email address'}) ? '' }}

{{ form.prepare() ? '' }}

{{ form().openTag( form )|raw }}

    {{ formElement(form.getCsrf) }}

    <div class="text">
        <p>Search for a user by email address. If found, the user's account status and other details will be displayed.</p>
    </div>

    {{ macros.formGroup(email) }}

    <input type="submit" class="button" value="Search">

{{ form().closeTag|raw }}

{% if user is not empty and user != false %}
    <h2 class="heading-medium">User details</h2>
    <ul>
        <li>
            <strong class="bold-small">Account status: </strong>
            {% if user.isActive is defined %}
                {% if user.isActive == true %}
                    <span>Activated</span>
                {% elseif user.isActive == false %}
                    <span>Not activated</span>
                {% endif %}
            {% elseif user.isDeleted is defined and user.isDeleted == true %}
                <span>Deleted</span>
            {% endif %}
        </li>
        {% if user.lastLoginAt is defined %}
            <li>
                <strong class="bold-small">Last login time: </strong>
                {% if user.lastLoginAt == false %}
                    <span>Never logged in</span>
                {% else %}
                    <span>{{ user.lastLoginAt|date('jS M Y \\a\\t g:i:s a') }}</span>
                {% endif %}
            </li>
        {% endif %}
        {% if user.failedLoginAttempts is defined %}
            <li>
                <strong class="bold-small">Number of failed login attempts: </strong>
                {{ user.failedLoginAttempts }}
            </li>
        {% endif %}
        {% if user.isDeleted is defined and user.isDeleted == true %}
            <li>
                <strong class="bold-small">Deleted on: </strong>
                <span>{{ user.deletedAt|date('jS M Y \\a\\t g:i:s a') }}</span>
            </li>
            <li>
                <strong class="bold-small">Due to: </strong>
                {% if user.reason == 'expired' %}
                    <span>Account expired</span>
                {% elseif user.reason == 'unactivated' %}
                    <span>User did not activate account</span>
                {% elseif user.reason == 'user-initiated' %}
                    <span>User manually deleted their account</span>
                {% endif %}
            </li>
        {% endif %}
        {% if user.numberOfLpas is defined %}
            <li>
                <strong class="bold-small">Number of LPAs: </strong>
                <span>{{ user.numberOfLpas }}</span>
            </li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}
