{% extends 'layout/twig/layout.twig' %}

{% import "application/authenticated/dashboard/macros.twig" as macros %}

{% block htmlTitle %}Your LPAs - {% endblock %}
{% block pageTitle %}Your LPAs{% endblock %}

{% block content %}

{% set shortList = lpaTotalCount <= 6 and isSearch == false %}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="text">
            <p class="lede">On this page you'll find all the LPAs that you've created. As well as creating a new LPA from scratch, you can:</p>
            <ul class="list list-bullet">
                <li><strong class="bold-small">continue creating</strong> an LPA</li>
                <li><strong class="bold-small">check the signing dates</strong> on an LPA are in the right order before you send it to OPG - if they're not, we cannot register the LPA and you may have to pay another application fee
                </li>
                <li><strong class="bold-small">reuse details from an existing LPA to create a new one</strong> - you can do this once you've completed all sections up to and including the person to notify section, and have added a certificate provider
                </li>
            </ul>
        </div>
    </div>
    <div class="column-one-third">
        <div class="panel-cta tablet-and-up">
            <div class="panel-heading heading-medium">Create another LPA</div>
            <div class="panel-body">
                <p><a id="create-new-lpa" class="button" href='{{ url('user/dashboard/create-lpa') }}' role="button">Start now</a></p>
                <p class="bold-xsmall">Or reuse the details of an LPA below</p>
            </div>
        </div>
    </div>
</div>

{% if shortList %}
{# With less than 6 LPAs, no search is displayed #}
    {% if lpaTotalCount == 0 %}
        <h2 class="heading-large flush--ends">You have no LPAs</h2>
    {% endif %}
{% else %}
{# Over 6 LPAs and search is presented #}
<div class="dashboard-search">
    <div class="grid-row">
        <div class="column-one-half tablet-and-up">
        {% if isSearch %}
            <h2 class="heading-large flush--ends">Search: {{ freeText ? escapeHtmlAttr( freeText ) : '' }}</h2>
            <p class="flush--bottom">
                {% if lpaTotalCount == 0 %}
                    Your search has found no results.<br>
                {% else %}
                    Your search has found {{ lpaTotalCount }} results.<br>
                {% endif %}
                <a id="clear" href='{{ url('user/dashboard') }}'>Clear search results</a>
            </p>
        {% else %}
            {% if lpaTotalCount == 0 %}
                <h2 class="heading-large flush--ends">No LPAs found</h2>
            {% else %}
                <h2 class="heading-large flush--ends">All {{ lpaTotalCount }} LPAs</h2>
            {% endif %}
        {% endif %}
        </div>
        <div class="column-one-half">
            <form action="{{ url('user/dashboard') }}" method="GET" class="search-form">
                <fieldset>
                    <legend class="visually-hidden">Search for LPAs</legend>
                    <label for="search" class="search-label">Search for an LPA or donor</label>
                    <input type="text" id="search" name="search" value="{{ freeText ? escapeHtmlAttr( freeText ) : '' }}" class="js-search-focus search-input form-control"/>
                    <input class="search-button button" type="submit" value="Search"/>
                </fieldset>
            </form>
        </div>
        <div class="column-one-half mobile">
        {# This is only displayed on mobile #}
            {% if isSearch %}
                <h2 class="heading-large flush--ends">Search: {{ freeText ? escapeHtmlAttr( freeText ) : '' }}</h2>
                <p class="flush--bottom">
                    {% if lpaTotalCount == 0 %}
                        Your search has found no results.<br>
                    {% else %}
                        Your search has found {{ lpaTotalCount }} results.<br>
                    {% endif %}
                    <a id="clear" href='{{ url('user/dashboard') }}'>Clear search results</a>
                </p>
            {% else %}
                {% if lpaTotalCount == 0 %}
                    <h2 class="heading-large flush--ends">No LPAs found</h2>
                {% else %}
                    <h2 class="heading-large flush--ends">All {{ lpaTotalCount }} LPAs</h2>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

{% if lpaTotalCount > 0 %}

    {% if shortList %}
        {{ macros.listLpas(lpas, null, null) }}
        {{ macros.listLpas(lpas, 'property-and-financial', null) }}
        {{ macros.listLpas(lpas, 'health-and-welfare', null) }}
    {% else %}
        {{ macros.listLpas(lpas, 'all', paginationControlData['page']) }}
    {% endif %}

    {% include 'application/authenticated/dashboard/pagination.twig' with {data: paginationControlData, route: 'user/dashboard/pagination'} %}

    <p>
{% endif %}

<div class="panel-cta mobile">
    <div class="panel-heading heading-medium">Create another LPA</div>
    <div class="panel-body">
        <p>
            <a class="button" href='{{ url('user/dashboard/create-lpa') }}' role="button">Start now</a>
        </p>
        <p class="bold-xsmall">Or select an LPA above whose details you want to reuse</p>
    </div>
</div>

{% endblock %}