{% macro listLpas(lpas, shortList, type, headingText) %}

	{% import _self as macros %}

    <hr class="visually-hidden">

    {{ macros.showTypeHeaderIfLpasExist(lpas, type, headingText) }}

    <ul class="track-my-lpa">

    {% for key,lpa in lpas %}
        {% if (type == 'all' or type == lpa.type) %}
            <li class="list-item list-item--v3 status-started">

                <div class="info">
                    <div class="main-info">
                        <h1 class="list-item_title">
                            {% if lpa.donor|length > 0 %}
                                {{ lpa.donor }}
                            {% else %}
                                No donor added
                            {% endif %}
                        </h1>
                        <span class="lpa-number">{{ formatLpaId(lpa.id) }}</span>
                    </div>

                    <div class="list-item_status">
                        <span>
                            {% if lpa.progress == 'Started' %}
                                {% set statusClass = 'status-6' %}
                            {% elseif lpa.progress == 'Created' %}
                                {% set statusClass = 'status-5' %}
                            {% elseif lpa.progress == 'Completed' %}
                                {% set statusClass = 'status-4' %}
                            {% endif %}
                            <i class="icon {{ statusClass }}"></i>
                            <br>
                            {{ lpa.progress }}
                        </span>
                    </div>

                    <div class="extra-info">
                        <p>LPA type:</p>
                        <p class="main-text">
                            {{ lpa.type == 'property-and-financial' ? 'PF' : ((lpa.type == 'health-and-welfare') ? 'HW' : 'Not selected') }}
                        </p>
                    </div>

                    <div class="extra-info">
                        <p>Last saved:</p>
                        <p class="main-text">{{ lpa.updatedAt|date('d/m/y') }}</p>
                    </div>

                </div>

                <div class="list-item_cta">
                    <a class="button button-secondary" href="/lpa/{{ lpa.id }}">{{ lpa.progress == 'Completed' ? 'View LPA' : 'Continue' }}</a>
                    <ul class="list-item_secondary_actions">
                        {% if lpa.progress != 'Started' %}
                            <li>
                                <a href="/lpa/{{ lpa.id }}/date-check">Check <span class="extra-text">signing</span> dates</a>
                            </li>
                            <li>
                                <a href="{{ url('user/dashboard/create-lpa', {'lpa-id': lpa.id}) }}">Reuse <span class="extra-text">LPA</span> details</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="/user/dashboard/confirm-delete-lpa/{{ lpa.id }}" class="js-form-popup">Delete</a>
                        </li>
                    </ul>
                </div>
            </li>

        {% endif %}
    {% endfor %}

    </ul>

{% endmacro %}

{% macro showTypeHeaderIfLpasExist(lpas, type, headingText) %}

	{% set found = false %}

	{% for key,lpa in lpas %}
		{% if not found %}
    	    {% if (type == lpa.type) %}
    	    	<h2 class="heading-large">
                    {{ headingText }}
                </h2>
    	    	{% set found = true %}
    	   	{% endif %}
    	{% endif %}
	{% endfor %}

{% endmacro %}
