{% extends 'layout/layout.twig' %}

{%- set pageTitle = 'Online payment cancelled' -%}

{% block content %}

    <h2 class="govuk-heading-m flush--top">Amount due: &pound;{{ lpa.payment.amount | money_format }}</h2>

    <div class="text">

        <p class="govuk-body">You appear to have cancelled online payment. You could try paying online again or <a class="govuk-link" href="{{ url('lpa/checkout/cheque', {'lpa-id': lpa.id}) }}">pay by cheque</a>.</p>

    </div>

    <div class="text">
        <p class="govuk-body divorced">
            {# begin form #}
            {{ form.prepare() ? '' }}
            {{ form().openTag( form )|raw }}
            <input type="hidden" name="__csrf" value="{{ csrfToken }}">

            <div class="form-group">
                {{ formElement(form.get('submit')) }}
            </div>

            {{ form().closeTag|raw }}
        </p>
    </div>

{% endblock %}
