{% extends 'layout/twig/accordion-header.twig' %}

{% block content %}

{% import "application/macros.twig" as macros %}

{% set form = formErrorTextExchange(form, {}) %}

{# Set form fields variables #}
{% set instructions = form.get('instruction') %}
{% set preferences = form.get('preference') %}

{# form fields config #}
{{ instructions.setAttributes({
    id: 'instruction',
    rows: 10,
    cols: 67,
    maxlength: 2000,
    class: 'form-control'
}) ? ''}}

{{ preferences.setAttributes({
    id: 'preferences',
    rows: 10,
    cols: 67,
    maxlength: 2000,
    class: 'form-control'
}) ? ''}}

{# form fields labels #}
{{ instructions.setOptions({label: 'Instructions'}) ? '' }}
{{ preferences.setOptions({label: 'Preferences'}) ? '' }}

<li id="instructions-and-preferences-section" class="section current js-current">
    
    <h2 class="heading-medium accordion-header flush--top">Your LPA has been created</h2>

    <div class="text">
        <p>(You've entered all the essential information needed for your LPA.)</p>

        <p>You can <a href="{{ url('lpa/summary', {'from-page': 'instructions', 'lpa-id': lpa.id}) }}">review your LPA</a> and check everything's correct before you continue. You can also click on any sections above to make changes.</p>

        <p><strong class="bold-small">Your LPA is not finished until you have registered your LPA.</strong></p>

        <p>(The optional section below lets you add instructions for your attorneys.)</p>

    </div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }} 
        {{ formElement(form.get( form.csrfName )) }}

        <details{{ instructions.getValue() or preferences.getValue() ? ' open' : '' }} class="form-group">
        
            <summary data-journey-click="stageprompt.lpa:help.inline:create/review:add-extra-instructions-for-the-attorneys" role="button" aria-expanded="false">Add extra instructions for the attorneys? (optional)</summary>

            <div class="panel panel-border-narrow">

                <div class="form-group text">
                    <p>You don't have to put anything here, but you can state things that the attorneys must or mustn't do, give guidance that you'd like them to follow, or provide details of how they should be paid for their time.</p>
                    
                    <p>If you'd like to add anything here, please <a class="js-guidance" href="/guide#topic-instructions-and-preferences" data-journey-click="stageprompt.lpa:help:restrictions-and-guidance">read our help topic on instructions and preferences</a>. It contains useful examples and can help you avoid mistakes.</p>
                </div>

                <fieldset>
                    <legend class="visuallyhidden">Instructions and preferences</legend>
                    <div class="form-group {{ instructions.getMessages|length >0 ? 'error'}}">
                        <label class="form-label text" for="{{ instructions.getAttribute('id') }}">
                            {{ instructions.getOption('label') }}<br>
                            <span class="form-hint">These are things that the attorneys MUST or MUST NOT do. <a href="/guide#topic-instructions-and-preferences" class="js-guidance" data-journey-click="stageprompt.lpa:help:restrictions-and-guidance">Not sure what to put?</a><br></span>
                            {{ formElementErrorsV2(instructions) }}
                        </label>
                        {{ formElement(instructions) }}
                    </div>

                    <div class="form-group {{ preferences.getMessages|length >0 ? 'error'}}">
                        <label class="form-label text" for="{{ preferences.getAttribute('id') }}">
                            {{ preferences.getOption('label') }}<br>
                            <span class="form-hint">These are things you would like attorneys to think about when making decisions. <a href="/guide#topic-instructions-and-preferences" class="js-guidance" data-journey-click="stageprompt.lpa:help:restrictions-and-guidance">Not sure what to put?</a><br></span>
                            {{ formElementErrorsV2(preferences) }}
                        </label>
                        {{ formElement(preferences) }}
                    </div>
                </fieldset>

            </div>
        </details>

        <div class="form-group">
            <input type="submit" name="save" value="Save and continue" class="button">
        </div>
                         
    {{ form().closeTag|raw }}
    
</li>

{% endblock %}