{% extends 'layout/twig/accordion-header.twig' %}

{% block content %}

{% import "application/macros.twig" as macros %}

{% set form = formErrorTextExchange(form, {}) %}

{# Set form fields variables #}
{% set instructions = form.get('instruction') %}
{% set preferences = form.get('preference') %}

{# form fields config #}
{{ instructions.setAttributes({
    id: 'instruction',
    rows: 10,
    cols: 67,
    maxlength: 10000,
    class: 'form-control'
}) ? ''}}

{{ preferences.setAttributes({
    id: 'preferences',
    rows: 10,
    cols: 67,
    maxlength: 10000,
    class: 'form-control'
}) ? ''}}

{# form fields labels #}
{{ instructions.setOptions({label: 'Instructions'}) ? '' }}
{{ preferences.setOptions({label: 'Preferences'}) ? '' }}

<li id="instructions-and-preferences-section" class="section current js-current">
    
    <h2 class="heading-medium accordion-header flush--top">Instructions and preferences</h2>

    <div class="accordion-info">
        <div class="text">
            <p>You've entered all the essential information needed for your LPA.</p>

            <p>The optional section below lets you add instructions for your attorneys. You don't have to put anything there, but you can state things that the attorneys must or mustn't do or give guidance that you'd like them to follow.</p>

        </div>
    </div>


    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }} 
        {{ formElement(form.get( form.csrfName )) }}

        <details{{ instructions.getValue() or preferences.getValue() ? ' open' : '' }} class="form-group">
        
            <summary data-journey-click="stageprompt.lpa:help.inline:create/review:add-extra-instructions-for-the-attorneys" role="button" aria-expanded="false">Add extra instructions for the attorneys? (optional)</summary>

            <div>

                <div class="form-group text">   
                    <p>If you'd like to add anything here, please <a class="js-guidance" href="/guide#topic-instructions-and-preferences" data-journey-click="stageprompt.lpa:help:restrictions-and-guidance">read our help topic on instructions and preferences</a>. It contains useful examples and can help you avoid mistakes.</p>
                </div>

                <fieldset>
                    <legend class="visuallyhidden">Instructions and preferences</legend>
                    <div class="form-group {{ instructions.getMessages|length >0 ? 'error'}}">
                        <label class="form-label text" for="{{ instructions.getAttribute('id') }}">
                            {{ instructions.getOption('label') }}<br>
                            <span class="form-hint">These are things that the attorneys MUST or MUST NOT do. <a href="/guide#topic-instructions-and-preferences" class="js-guidance" data-journey-click="stageprompt.lpa:help:restrictions-and-guidance">Not sure what to put?</a><br></span>
                            {{ formElementErrorsV2(instructions) }}
                        </label>
                        {{ formElement(instructions) }}
                    </div>

                    <div class="form-group {{ preferences.getMessages|length >0 ? 'error'}} flush--bottom">
                        <label class="form-label text" for="{{ preferences.getAttribute('id') }}">
                            {{ preferences.getOption('label') }}<br>
                            <span class="form-hint">These are things you would like attorneys to think about when making decisions. <a href="/guide#topic-instructions-and-preferences" class="js-guidance" data-journey-click="stageprompt.lpa:help:restrictions-and-guidance">Not sure what to put?</a><br></span>
                            {{ formElementErrorsV2(preferences) }}
                        </label>
                        {{ formElement(preferences) }}
                    </div>
                </fieldset>

            </div>
        </details>

        <input type="submit" name="save" value="Save and continue" class="button">
                         
    {{ form().closeTag|raw }}
    
</li>

{% endblock %}