{% extends 'layout/twig/layout.twig' %}

{% block errorSummary %}
    {% include 'application/about-you/partials/form-error-summary.twig' %}
{% endblock %}

{% block pageTitle %}
    Your details
{% endblock %}

{% block content %}

{% block aboutyouheader %}{% endblock aboutyouheader %}

{# Set form fields variables #}
{% set title = form.get('name-title') %}
{% set firstName = form.get('name-first') %}
{% set lastName = form.get('name-last') %}
{% set dayOfBirth = form.get('dob-date-day') %}
{% set monthOfBirth = form.get('dob-date-month') %}
{% set yearOfBirth = form.get('dob-date-year') %}
{% set address1 = form.get('address-address1') %}
{% set address2 = form.get('address-address2') %}
{% set address3 = form.get('address-address3') %}
{% set postcode = form.get('address-postcode') %}

{# form fields config #}
{{ title.setAttributes({
    id: 'title',
    class: 'form-control'
}) ? ''}}

{{ firstName.setAttributes({
    id: 'firstname',
    class: 'form-control'
}) ? ''}}

{{ lastName.setAttributes({
    id: 'surname',
    class: 'form-control'
}) ? ''}}

{{ dayOfBirth.setAttributes({
    id: 'dob-day',
    type: 'number',
    class: 'form-control',
    min: '0',
    max: '31',
    pattern: '[0-9]*'
}) ? ''}}

{{ monthOfBirth.setAttributes({
    id: 'dob-month',
    type: 'number',
    class: 'form-control',
    min: '0',
    max: '12',
    pattern: '[0-9]*'
 }) ? ''}}

{{ yearOfBirth.setAttributes({
    id: 'dob-year',
    type: 'number',
    class: 'form-control',
    min: '0',
    max: '2014',
    pattern: '[0-9]*'
})  ? ''}}

{{ address1.setAttributes({
    id: 'addr1',
    class: 'form-control'
}) ? ''}}

{{ address2.setAttributes({
    id: 'addr2',
    class: 'form-control'
}) ? ''}}

{{ address3.setAttributes({
    id: 'addr3',
    class: 'form-control'
}) ? ''}}

{{ postcode.setAttributes({
    id: 'postcode',
    class: 'form-control'
}) ? ''}}

{# form fields labels #}
{{ address1.setOptions( {label: 'Address line 1'} ) ? '' }}
{{ address2.setOptions( {label: 'Address line 2'} ) ? '' }}
{{ address3.setOptions( {label: 'Address line 3'} ) ? '' }}
{{ postcode.setOptions( {label: 'Postcode'} ) ? '' }}
{{ title.setOptions( {label: 'Title'} ).setLabelAttributes( {id:'title-label'} ) ? '' }}
{{ firstName.setOptions( {label: 'First names'} ) ? '' }}
{{ lastName.setOptions( {label: 'Last name'} ) ? '' }}
{{ lastName.setOptions( {label: 'Last name'} ) ? '' }}
{{ dayOfBirth.setLabel('Day') ? '' }}
{{ monthOfBirth.setLabel('Month') ? '' }}
{{ yearOfBirth.setLabel('Year') ? '' }}

{# begin form #}
{{ form.prepare() ? '' }}
{{ form().openTag( form )|raw }}
    {{ formElement(form.get( form.csrfName )) }}

    <h2 class="heading-medium">What is your name?</h2>

    <fieldset>
        <legend class="visuallyhidden">Name</legend>

        <div class="form-group {{ title.getMessages|length >0 ? 'error'}}">
            <label class="form-label" for="{{ title.getAttribute('id') }}">
                {{ title.getOption('label') }}
                {{ formElementErrorsV2(title) }}
            </label>
            {{ formElement(title) }}
        </div>

        <div class="form-group {{ firstName.getMessages|length >0 ? 'error'}}">
            <label class="form-label" for="{{ firstName.getAttribute('id') }}">
                {{ firstName.getOption('label') }}
                {{ formElementErrorsV2(firstName) }}
            </label>
            {{ formElement(firstName) }}
        </div>
        
        <div class="form-group {{ lastName.getMessages|length >0 ? 'error'}}">
            <label class="form-label" for="{{ lastName.getAttribute('id') }}">
                {{ lastName.getOption('label') }}
                {{ formElementErrorsV2(lastName) }}
            </label>
            {{ formElement(lastName) }}
        </div>
        
    </fieldset>

    <h2 class="heading-medium">What is your date of birth?</h2>

    <fieldset>
        <legend class="visuallyhidden">Date of birth</legend>

        <div class="form-date {{ dayOfBirth.getMessages|length >0 or monthOfBirth.getMessages|length >0 or yearOfBirth.getMessages|length >0 ? 'error'}}">
            <p class="form-hint">For example, 08 04 {{ 'now'|date('Y')-18 }}</p>

            {{ formElementErrorsV2(yearOfBirth) }}
            {{ formElementErrorsV2(monthOfBirth) }}
            {{ formElementErrorsV2(dayOfBirth) }}

            <div class="form-group form-group-day {{ dayOfBirth.getMessages|length >0 ? 'error'}}">
                <label for="dob-day">Day</label>
                {{ formElement(dayOfBirth) }}
            </div>

            <div class="form-group form-group-month {{ monthOfBirth.getMessages|length >0 ? 'error'}}">
                <label for="dob-month">Month</label>
                {{ formElement(monthOfBirth) }}
            </div>

            <div class="form-group form-group-year {{ yearOfBirth.getMessages|length >0 ? 'error'}}">
                <label for="dob-year">Year</label>
                {{ formElement(yearOfBirth) }}
            </div>
        </div>

    </fieldset>

    <h2 class="heading-medium">What is your address?</h2>

    <fieldset class="js-PostcodeLookup">
        <legend class="visuallyhidden">Address</legend>

        <div class="js-PostcodeLookup__postal-add">

            <div class="form-group {{ address1.getMessages|length >0 ? 'error'}}">
                <label class="form-label" for="{{ address1.getAttribute('id') }}">
                    {{ address1.getOption('label') }}
                    {{ formElementErrorsV2(address1) }}
                </label>
                {{ formElement(address1) }}
            </div>

            <div class="form-group {{ address2.getMessages|length >0 ? 'error'}}">
                <label class="form-label" for="{{ address2.getAttribute('id') }}">
                    {{ address2.getOption('label') }}
                    {{ formElementErrorsV2(address2) }}
                </label>
                {{ formElement(address2) }}
            </div>

            <div class="form-group {{ address3.getMessages|length >0 ? 'error'}}">
                <label class="form-label" for="{{ address3.getAttribute('id') }}">
                    {{ address3.getOption('label') }}
                    {{ formElementErrorsV2(address3) }}
                </label>
                {{ formElement(address3) }}
            </div>

            <div class="form-group {{ postcode.getMessages|length >0 ? 'error'}}">
                <label class="form-label" for="{{ postcode.getAttribute('id') }}">
                    {{ postcode.getOption('label') }}
                    {{ formElementErrorsV2(postcode) }}
                </label>
                {{ formElement(postcode) }}
            </div>

        </div>

    </fieldset>

    <input type="submit" name="save" id="save" class="button" value="Save and continue">

{{ form().closeTag|raw }}

{% endblock content %}