{% extends 'layout/twig/layout.twig' %}

{% block content %}

	{% block aboutyouheader %}{% endblock aboutyouheader %}

    {% set form = formErrorTextExchange(form, []) %}
    {{ form.setAttribute('class', 'form') ? '' }}
    
    {% set title = form.get('name-title') %}
    {% set firstName = form.get('name-first') %}
    {% set lastName = form.get('name-last') %}
    {% set dayOfBirth = form.get('dob-date-day') %}
    {% set monthOfBirth = form.get('dob-date-month') %}
    {% set yearOfBirth = form.get('dob-date-year') %}
    {% set address1 = form.get('address-address1') %}
    {% set address2 = form.get('address-address2') %}
    {% set address3 = form.get('address-address3') %}
    {% set postcode = form.get('address-postcode') %}

    {{ title.setAttributes({id: 'title'}).setOptions({label: 'Title'}).setLabelAttributes({id:'title-label'}) ? ''}}
    {{ firstName.setAttributes({id: 'firstname'}).setOptions({label: 'First names'}) ? ''}}
    {{ lastName.setAttributes({id: 'surname'}).setOptions({label: 'Last name'}) ? ''}}
    
    {{ lastName.setAttributes({id: 'dob-day'}).setLabel('Day') ? ''}}
    {{ lastName.setAttributes({id: 'dob-month'}).setLabel('Month') ? ''}}
    {{ lastName.setAttributes({id: 'dob-year'}).setLabel('Year') ? ''}}
    
    {{ address1.setAttributes({id: 'addr1'}).setLabel('Address line 1') ? ''}}
    {{ address2.setAttributes({id: 'addr2'}).setLabel('Address line 2') ? ''}}
    {{ address3.setAttributes({id: 'addr3'}).setLabel('Address line 3') ? ''}}
    {{ postcode.setAttributes({id: 'postcode'}).setLabel('Postcode') ? ''}}
    
    {{ form.prepare() ? '' }}
    
    <div class="about-you-form">
    
        {{ form().openTag( form )|raw }}
    
        {{ formElement(form.get( form.csrfName )) }}
    
        <fieldset>
            <legend class="visuallyhidden">Name</legend>
    
            <div class="form-group {{ title.getMessages|length >0 ? 'error'}}">
                <label class="form-label" for="{{ title.getAttribute('id') }}">
                    {{ title.getOption('label') }}
                    {{ formElementErrorsV2(title) }}
                </label>
                {{ formElement(title) }}
            </div>
    
            <div class="form-group {{ firstName.getMessages|length >0 ? 'error'}}">
                <label class="form-label" for="{{ firstName.getAttribute('id') }}">
                    {{ firstName.getOption('label') }}
                    {{ formElementErrorsV2(firstName) }}
                </label>
                {{ formElement(firstName) }}
            </div>
            
            <div class="form-group {{ lastName.getMessages|length >0 ? 'error'}}">
                <label class="form-label" for="{{ lastName.getAttribute('id') }}">
                    {{ lastName.getOption('label') }}
                    {{ formElementErrorsV2(lastName) }}
                </label>
                {{ formElement(lastName) }}
            </div>
            
        </fieldset>
    
        <fieldset>

                <legend class="visuallyhidden">Date of birth</legend>
                <p>For example, 08 04 <?= date('Y')-18 ?></p>
    
                <? $element = $dayOfBirth; ?>
                <div class="<?= $this->elementGroupClass($element); ?> form-group form-group-day">
                    <?=
                    $this->formLabel($element).
                    $formLabel->openTag().
                    $element->getOption('label').
                    $this->formElementErrors($element).
                    $this->formInput($element).
                    $formLabel->closeTag()
                    ?>
                </div>
    
                <? $element = $monthOfBirth; ?>
                <div class="<?= $this->elementGroupClass($element); ?> form-group form-group-month">
                    <?=
                    $this->formLabel($element).
                    $formLabel->openTag().
                    $element->getOption('label').
                    $this->formElementErrors($element).
                    $this->formInput($element).
                    $formLabel->closeTag()
                    ?>
                </div>
    
                <? $element = $yearOfBirth; ?>
                <div class="<?= $this->elementGroupClass($element); ?> form-group form-group-year">
                    <?=
                    $this->formLabel($element).
                    $formLabel->openTag().
                    $element->getOption('label').
                    $this->formElementErrors($element).
                    $this->formInput($element).
                    $formLabel->closeTag()
                    ?>
                </div>
    
        </fieldset>
    
        <fieldset class="js-PostcodeLookup">
            <legend>Address</legend>
            <div class="js-PostcodeLookup__postal-add">
    
                <? $element = $address1; ?>
                <div class="<?= $this->elementGroupClass($element); ?>">
                    <?=
                    $this->formLabel($element).
                    $formLabel->openTag().
                    $element->getOption('label').
                    $this->formElementErrors($element).
                    $this->formInput($element).
                    $formLabel->closeTag()
                    ?>
                </div>
    
                <? $element = $address2; ?>
                <div class="<?= $this->elementGroupClass($element); ?>">
                    <?=
                    $this->formLabel($element).
                    $formLabel->openTag().
                    $element->getOption('label').
                    $this->formElementErrors($element).
                    $this->formInput($element).
                    $formLabel->closeTag()
                    ?>
                </div>
    
                <? $element = $address3; ?>
                <div class="<?= $this->elementGroupClass($element); ?>">
                    <?=
                    $this->formLabel($element).
                    $formLabel->openTag().
                    $element->getOption('label').
                    $this->formElementErrors($element).
                    $this->formInput($element).
                    $formLabel->closeTag()
                    ?>
                </div>
    
                <? $element = $postcode; ?>
                <div class="<?= $this->elementGroupClass($element); ?>">
                    <?=
                    $this->formLabel($element).
                    $formLabel->openTag().
                    $element->getOption('label').
                    $this->formElementErrors($element).
                    $this->formInput($element).
                    $formLabel->closeTag()
                    ?>
                </div>
    
            </div>
        </fieldset>
    
        <p class="action group">
            <input type="submit" name="save" id="save" value="Save and continue" class="button aboutyou">
        </p>
    
        {{ form().closeTag|raw }}
        
    </div>

{% endblock content %}