{% extends 'layout/twig/creation-stage.twig' %}

{% block pageTitle %}
    Create a lasting power of attorney 
{% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{% set form = formErrorTextExchange(form,  {
    'type' : {
        'cannot-be-empty' : 'Please choose a type of LPA',
    }
}) %}

{# Set form fields variables #}
{% set type = form.get('type') %}
{% set submit = form.get('submit') %}

{% if not isChangeAllowed %}
{{ type.setAttributes({'disabled': 'disabled'}) ? '' }}
{% endif %}

{# form fields config #}
{{ submit.setAttributes({
    'class':'button gotonextpart',
    'value':'Save and continue'
}) ? '' }}

{{ type.setOptions({
    label_attributes: {'class': 'block-label'}
}) ? ''}}

<section id="lpa-type-section" class="section current">

    <h2 class="heading-medium accordion-header">What type of LPA do you want to create?</h2>
    
    <div class="accordion-info">
        <div class="text">
            <p>You can make an LPA to cover either your property and financial affairs, or your health and welfare.</p>
            <p><a class="js-guidance" href="/guidance#topic-the-2-types-of-lpa" data-journey-click="stageprompt.lpa:help:the-2-types-of-lpa">Find out about the 2 types of LPA</a></p>
        </div>
    </div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.get( form.csrfName )) }}

        {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}

        <fieldset>
            <legend class="visuallyhidden">Choose type of LPA</legend>

            <h3 class="heading-medium flush--top">What type of LPA do you want to create?</h3>

            <div class="form-group {{ type.getMessages|length > 0 ? 'error'}}">
                {{ formElement(type) }}
                {{ formElementErrorsV2(type) }}
            </div>

            {% if not (isChangeAllowed) %}
            <div class="text">
                <p>You cannot change the type of your lasting power of attorney at this stage. If you want to make a
                 {{ 
                    (lpa.document.type == 'health-and-welfare')
                    ?'Property  and financial affairs'
                    :'Health and welfare' 
                 }} 
                 LPA based on the current one, click <a href="{{ cloneUrl }}">here</a>.</p>
            </div>
            {% endif %}

            <details class="form-group text">
                <summary data-journey-click="stageprompt.lpa:help.inline:create/lpa-type:what-if-i-want-to-make-more-than-one-lpa" role="button" aria-expanded="false">What if I want to make more than one LPA?</summary>
                <div>
                    <p>You'll need to go through this form for each LPA you create.</p>
                    <p>We'll remember names and addresses you add so you don't have to enter them each time.</p>
                    <p>Remember, there’s an application fee for each LPA you register.</p>
                </div>
    		</details>

            <div class="form-group">
                {{ macros.renderAccordionSaveAndContinue(isChangeAllowed, nextUrl) }}
            </div>
    

        
        </fieldset>
       
    {{ form().closeTag|raw }}
    
</section>

{% endblock %}
