{% import "application/macros.twig" as macros %}

<script type="text/javascript">
	var actors = {names: {{ actorsList(lpa, routeMatch)|json_encode() }}};
</script>
    
{% set form = formErrorTextExchange(form,  {
	'dob-date-day' : {
            "Value is required and can't be empty" : "Please enter a day"
     },
     'dob-date-month' : {
            "Value is required and can't be empty" : "Please enter a month"
     },
     'dob-date-year' : {
            "Value is required and can't be empty" : "Please enter a year"
     }
}) %}

{{ macros.formErrorSummary(error, form, 'There was a problem submitting the form') }}

{% if (seedDetailsPickerForm) %}
    {{ seedDetailsPickerForm.setAttribute('class', 'form') ? '' }}
    {% set pickerCsrf = seedDetailsPickerForm.get(seedDetailsPickerForm.csrfName()) %}
    {{ pickerCsrf.setAttributes({'id' : 'secret'}) ? '' }}
    {{ seedDetailsPickerForm.get('pick-details') ? '' }}
    {{ seedDetailsPickerForm.setAttributes({'id':'pick-details', 'class':'js-reusable'}) ? '' }}
    {{ seedDetailsPickerForm.setOptions({'label': 'Use these details', 'empty_option' : 'Choose a person'}) ? '' }}
    {% set pickerSubmit = seedDetailsPickerForm.get('submit') %}
    {{ pickerSubmit.setAttributes({'value': "Use this person's details", 'class' : 'button details-picker'}) ? '' }}
    {{ seedDetailsPickerForm.prepare() ? '' }}
{% endif %}
    
{% set title = form.get('name-title') %}
{% set firstname = form.get('name-first') %}
{% set lastname = form.get('name-last') %}
{% set email = form.get('email-address') %}
{% set address1 = form.get('address-address1') %}
{% set address2 = form.get('address-address2') %}
{% set address3 = form.get('address-address3') %}
{% set postcode = form.get('address-postcode') %}
{% set dob = form.get('dob-date') %}
{% set dobDay = dob.get('day') %}
{% set dobMonth = dob.get('month') %}
{% set dobYear = dob.get('year') %}

{{ dob.setOptions({label:'Date of Birth'}) ? '' }}
{{ dob.setOptions({label:'Date of Birth'}) ? '' }}
{{ dobDay.setOptions({label:'Day'}) ? '' }}
{{ dobMonth.setOptions({label:'Month'}) ? '' }}
{{ dobYear.setOptions({label:'Year'}) ? '' }}
{{ dobDay.setAttribute('id', 'dob-date-day') ? '' }}
{{ dobMonth.setAttribute('id', 'dob-date-month') ? '' }}
{{ dobYear.setAttribute('id', 'dob-date-year') ? '' }}

{{ email.setOptions({label:'Email address'}) ? '' }}
{{ address1.setOptions({label:'Address line 1'}) ? '' }}
{{ address2.setOptions({label:'Address line 2'}) ? '' }}
{{ address3.setOptions({label:'Address line 3'}) ? '' }}
{{ postcode.setOptions({label:'Postcode'}) ? '' }}
{{ address1.setAttributes({id:'address-address1'}) ? '' }}

{{ form.prepare() ? '' }}

<h2 class="header">Edit attorney details</h2>

{############################ picker form ############################}

{% if (pickerForm) %}
{{ form().openTag(pickerForm)|raw }}
{{ formElement(pickerCsrf) }}

    <div class="role-select group">
        <label>{{ picker.getOption('label') }}</label>
        {{ formSelect(picker) }}
        {{ formElementErrors(picker) }}
        {{ formSubmit(pickerSubmit) }}
    </div>

{{ form().closeTag|raw }}
    
{% endif %}

{############################ attorney form ############################}

{{ form().openTag( form )|raw }}

{% if (useMyDetailsRoute) %}
<p class="role-select group">
    <a class="js-form-popup" href="{{ useMyDetailsRoute }}">Use my details</a>
</p>
{% endif %}

{% if (addTrustCorporationRoute) %}
<p class="role-select group">
    <a class="js-form-popup" href="{{ addTrustCorporationRoute }}">Using a trust corporation?</a>
</p>
{% endif %}

{{ formElement(form.get( form.csrfName )) }}

<fieldset>

{{ macros.formGroup(title) }}
{{ macros.formGroup(firstname) }}
{{ macros.formGroup(lastname) }}
    
    <div class="group">
        
        <label for="dob" id="dob-label" class="required">Date of birth</label>

        <div class="dob-element">

            <div class="form-group form-group-day">
                <label class="form-label" for="{{ dobDay.getAttribute('id') }}">{{ dobDay.getOption('label') }}</label>
                {{ formElement(dobDay) }}
            </div>

            <div class="form-group form-group-month">
                <label class="form-label" for="{{ dobMonth.getAttribute('id') }}">{{ dobMonth.getOption('label') }}</label>
                {{ formElement(dobMonth) }}
            </div>

            <div class="form-group form-group-year">
                <label class="form-label" for="{{ dobYear.getAttribute('id') }}">{{ dobYear.getOption('label') }}</label>
                {{ formElement(dobYear) }}
            </div>

        </div>
        
        {{ formElementErrorsV2(dobDay) }}
        {{ formElementErrorsV2(dobMonth) }}
        {{ formElementErrorsV2(dobYear) }}
        {{ formElementErrorsV2(dob) }}
        
    </div>

{{ macros.formGroup(email) }}

</fieldset>

<fieldset class="js-PostcodeLookup__postal-add">
    {{ macros.formGroup(address1) }}
    {{ macros.formGroup(address2) }}
    {{ macros.formGroup(address3) }}
    {{ macros.formGroup(postcode) }}
</fieldset>

<p class="action group">
<input type="submit" name="submit" id="form-save" value="Save details" class="button"> 
<button name="cancel" type="button" class="button-secondary">Cancel</button>
</p>

{{ form().closeTag|raw }}