{% extends isPopup ? 'layout/twig/popup.twig' : 'layout/twig/layout.twig' %}

{% block content %}

{% import "application/macros.twig" as macros %}

{% if (seedDetailsPickerForm) %}
	{{ seedDetailsPickerForm.setAttribute('class', 'form') ? '' }}

    {% set pickerCsrf = seedDetailsPickerForm.get(seedDetailsPickerForm.csrfName()) %}
    {{ pickerCsrf.setAttributes({'id' : 'secret'}) ? '' }}
    {{ seedDetailsPickerForm.get('pick-details') ? '' }}
    {{ seedDetailsPickerForm.setAttributes({'id':'pick-details', 'class':'js-reusable'}) ? '' }}
    {{ seedDetailsPickerForm.setOptions({'label': 'Use these details', 'empty_option' : 'Choose a person'}) ? '' }}
    {% set pickerSubmit = seedDetailsPickerForm.get('submit') %}
    {{ pickerSubmit.setAttributes({'value': "Use this person's details", 'class' : 'button details-picker'}) ? '' }}
    {{ seedDetailsPickerForm.prepare() ? '' }}
{% endif %}
    
{% set form = formErrorTextExchange(form,  {}) %}

{% set name = form.get('name') %}
{% set companyNumber = form.get('number') %}
{% set email = form.get('email-address') %}
{% set address1 = form.get('address-address1') %}
{% set address2 = form.get('address-address2') %}
{% set address3 = form.get('address-address3') %}
{% set postcode = form.get('address-postcode') %}

{{ form.setAttribute('class', 'form js-PersonForm js-PostcodeLookup') ? '' }}
    
{{ name.setOptions({label:'Company name'}) ? '' }}
{{ companyNumber.setOptions({label:'Registration No.'}) ? '' }}
{{ email.setOptions({label:'Email address'}) ? '' }}
{{ address1.setOptions({label:'Address line 1'}) ? '' }}
{{ address2.setOptions({label:'Address line 2'}) ? '' }}
{{ address3.setOptions({label:'Address line 3'}) ? '' }}
{{ postcode.setOptions({label:'Postcode'}) ? '' }}
{{ address1.setAttributes({id:'address-address1'}) ? '' }}
    
{{ form.prepare() ? '' }}

<h2 class="header">Edit trust corporation details</h2>

{############################ trust corp form ############################}

{{ form().openTag( form )|raw }}

{% if (useTrustRoute) %}
<p class="role-select group">
    <a class="js-form-popup" href="{{ useTrustRoute }}">Use details of the {{ trustName }}</a>
</p>
{% endif %}

{% if (addAttorneyRoute) %}
<p class="role-select group">
    <a class="js-form-popup" href="{{ addAttorneyRoute }}">Using an individual?</a>
</p>
{% endif %}

{{ formElement(form.get( form.csrfName )) }}


<fieldset>

{{ macros.formGroup(name) }}
{{ macros.formGroup(companyNumber) }}
{{ macros.formGroup(email) }}

</fieldset>

<fieldset class="js-PostcodeLookup__postal-add">
    {{ macros.formGroup(address1) }}
    {{ macros.formGroup(address2) }}
    {{ macros.formGroup(address3) }}
    {{ macros.formGroup(postcode) }}
</fieldset>

<p class="action group">
<input type="submit" name="submit" id="form-save" value="Save details" class="button"> 
<button name="cancel" type="button" class="button-secondary">Cancel</button>
</p>

{{ form().closeTag|raw }}

{% endblock %}