{% extends 'layout/twig/layout.twig' %}

{# {% block errorSummary %}
    {% include 'application/auth/error-summary.twig' %}
{% endblock %} #}

{% block pageTitle %}
    Reset your password
{% endblock %}

{% block content %}

{% set form = formErrorTextExchange(form, []) %}

{% set email = form.get('email') %}
{% set email_confirm = form.get('email_confirm') %}

{{ email.setAttributes({
    id: 'email',
    autocomplete: 'off',
    class: 'form-control'
}) ? ''}}

{{ email.setOptions({ label: 'Email' }) ? '' }}

{{ email_confirm.setAttributes({
    id: 'email_confirm',
    autocomplete: 'off',
    class: 'form-control'
}) ? ''}}

{{ email_confirm.setOptions({ label: 'Please re-enter your email address' }) ? '' }}

{{ form.prepare() ? '' }}

<p>Enter your email address below. If there's an account associated with the address, we'll send you a link to reset your password.</p>

<div class="form">

    {{ form().openTag( form )|raw }}

        {{ formElement(form.get( form.csrfName )) }}

        {% if (error is not empty or form.getMessages|length > 0) %}
            <div class="validation-summary group" role="alert" aria-labelledby="error-heading" tabindex="-1">
            <h1 id="error-heading">There was a problem submitting the form</h1>
            <p>Because of the following problems:</p>
            <ol>
            	{{ formLinkedErrorList(form) ? '' }}

                {% if error %}
                    <li><a href="">
                        {% if error == 'RECEIVED_IN_LAST_5_MINUTES' %}
                            You've already asked to reset your password in the last 5 minutes. We've sent you an email with your password reset instructions. If it hasn't arrived, please check your spam or junk mail folder: your email service may have filtered it by mistake.
                        {% elseif error == 'ACCOUNT_NOT_FOUND' %}
                            We could not find an account for this email address.
                        {% elseif error == 'ACCOUNT_NOT_ACTIVE' %}
                            You need to activate your account before you reset your password.
                        {% else %}
                        	{{ error }}
						{% endif %}                    
                    </a></li>
                {% endif %}
            </ol>
            </div>
        {% endif %}

        <div class="group">
            {{ formLabel.openTag|raw }} {{ email.getOption('label') }} {{ formLabel.closeTag }}
            {{ formElement(email) }}
            {{ formElementErrors(email) }}
        </div>

        <div class="group">
            {{ formLabel.openTag|raw }} {{ email_confirm.getOption('label') }} {{ formLabel.closeTag }}
            {{ formElement(email_confirm) }}
            {{ formElementErrors(email_confirm) }}
        </div>
        
        <div class="action group">
            <p class="action group">
                <input type="submit" name="submit" id="form-submit" class="button" value="Email me the link">
            </p>
        </div>

    {{ form().closeTag|raw }}

</div>

{% endblock content %}