{% extends 'layout/twig/layout.twig' %}

{% block content %}

{% set form = formErrorTextExchange(form, []) %}

{{ form.setAttribute('class', 'form') ? '' }}

{% set password = form.get('password') %}
{% set password_confirm = form.get('password_confirm') %}

{{ password.setAttributes({id: 'password', autocomplete: 'off'}).setOptions( {label: 'Password'} ) ? '' }}
{{ password.setAttributes({id: 'password_confirm', autocomplete: 'off'}).setOptions( {label: 'Confirm Password'} ) ? '' }}

{{ form.prepare() ? '' }}

<div class="account form">

    <p>Your password has to be at least 8 characters long and must contain at least 1 lower-case letter, 1 capital letter and 1 number. Never share your password with anyone.</p>

    {{ form().openTag( form )|raw }}

        {{ formElement(form.get( form.csrfName )) }}

        {% if (error is not empty or form.getMessages|length > 0) %}
            <div class="validation-summary group" role="alert" aria-labelledby="error-heading" tabindex="-1">
                <h1 id="error-heading">There was a problem submitting the form</h1>
                <p>Because of the following problems:</p>
                <ol>
                    {{ formLinkedErrorList(form) ? '' }}

                    {% if error is not empty %}
                        <li><a href="">
                        {{ error }}
                        </a></li>
                    {% endif %}
                </ol>
            </div>
        {% endif %}

        <div class="group">
            {{ formLabel.openTag|raw }} {{ password.getOption('label') }} {{ formLabel.closeTag }}
            {{ formElement(password) }}
            {{ formElementErrors(password) }}
        </div>

        <div class="group">
            {{ formLabel.openTag|raw }} {{ password_confirm.getOption('label') }} {{ formLabel.closeTag }}
            {{ formElement(password_confirm) }}
            {{ formElementErrors(password_confirm) }}
        </div>

        <div class="form-submit-button">
            <input name="submit" id="form-submit" value="Reset my password" class="button" type="submit">
        </div>

    {{ form().closeTag()|raw }}

</div>

{% endblock content %}