{% extends 'layout/twig/layout.twig' %}

{% block errorSummary %}
    {% include 'application/forgot-password/partials/reset-password-error-summary.twig' %}
{% endblock %}

{% block pageTitle %}
    Reset your password
{% endblock %}

{% block content %}

{% set form = formErrorTextExchange(form, []) %}

{{ form.setAttribute('class', 'form') ? '' }}

{% set password = form.get('password') %}
{% set password_confirm = form.get('password_confirm') %}

{{ password.setAttributes({
    id: 'password',
    autocomplete: 'off',
    class: 'form-control'
}) ? '' }}

{{ password.setOptions( {label: 'Password'} ) ? '' }}

{{ password_confirm.setAttributes({
    id: 'password_confirm',
    autocomplete: 'off',
    class: 'form-control'
}) ? '' }}

{{ password_confirm.setOptions( {label: 'Confirm Password'} ) ? '' }}

{{ form.prepare() ? '' }}

<div class="text">
    <p>Your password has to be at least 8 characters long and must contain at least 1 lower-case letter, 1 capital letter and 1 number. Never share your password with anyone.</p>
</div>

{{ form().openTag( form )|raw }}

    {{ formElement(form.get( form.csrfName )) }}

    <fieldset>
        <legend class="visuallyhidden">Reset your password</legend>

        <div class="form-group {{ password.getMessages|length >0 ? 'error'}}">
            <label class="form-label" for="{{ password.getAttribute('id') }}">
                <span class="form-label-bold">{{ password.getOption('label') }}</span>
                {{ formElementErrorsV2(password) }}
            </label>
            {{ formElement(password) }}
        </div>

        <div class="form-group {{ password_confirm.getMessages|length >0 ? 'error'}}">
            <label class="form-label" for="{{ password_confirm.getAttribute('id') }}">
                <span class="form-label-bold">{{ password_confirm.getOption('label') }}</span>
                {{ formElementErrorsV2(password_confirm) }}
            </label>
            {{ formElement(password_confirm) }}
        </div>

    </fieldset>

    <input name="submit" id="form-submit" value="Reset my password" class="button" type="submit">

{{ form().closeTag()|raw }}

{% endblock content %}