{% extends 'layout/layout.twig' %}

{% import "application/authenticated/dashboard/macros.twig" as macros %}

{%- set pageTitle = 'Your Shared Space LPAs' -%}

{% block content %}

{% set shortList = lpaTotalCount <= 6 and isSearch == false %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">
            <p class="govuk-body-l">On this page you'll find all the LPAs that members of your shared space have made.</p>
        </div>
    </div>
</div>

{% if shortList %}
    {# With less than 6 LPAs, no search is displayed #}
    {% if lpaTotalCount == 0 %}
        <h2 class="govuk-heading-l govuk-!-margin-top-8 flush--ends">You have no LPAs</h2>
    {% endif %}
{% else %}
    {# Over 6 LPAs and search is presented #}
    <div class="dashboard-search">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half tablet-and-up">
                {% if isSearch %}
                <h2 class="govuk-heading-l govuk-!-margin-top-8 flush--ends">Search: {{ freeText ? escapeHtmlAttr( freeText ) : '' }}</h2>
                <p class="govuk-body govuk-!-margin-bottom-0">
                    {% if lpaTotalCount == 0 %}
                        Your search has found no results.<br>
                    {% else %}
                        Your search has found {{ lpaTotalCount }} results.<br>
                    {% endif %}

                    <a class="govuk-link" id="clear" href='{{ url('user/dashboard') }}'>Clear search results</a>
                </p>
                {% else %}
                    {% if lpaTotalCount == 0 %}
                        <h2 class="govuk-heading-l govuk-!-margin-top-8 flush--ends">No LPAs found</h2>
                    {% else %}
                        <h2 class="govuk-heading-l govuk-!-margin-top-8 flush--ends">All {{ lpaTotalCount }} LPAs</h2>
                    {% endif %}
                {% endif %}
            </div>
            <div class="govuk-grid-column-one-half">
                <form action="{{ url('user/dashboard') }}" method="GET" class="search-form">
                    <fieldset>
                        <legend class="govuk-visually-hidden">Search for LPAs</legend>
                        <label for="search" class="search-label">Search for an LPA or donor</label>
                        <input type="text" id="search" name="search" value="{{ freeText ? escapeHtmlAttr( freeText ) : '' }}" class="js-search-focus search-input govuk-input" data-cy="dashboard-search-box"/>
                        <input class="search-button govuk-button" type="submit" data-cy="dashboard-search-icon" value="Search"/>
                    </fieldset>
                </form>
            </div>
            <div class="govuk-grid-column-one-half mobile">
                {# This is only displayed on mobile #}
                {% if isSearch %}
                    <h2 class="govuk-heading-l govuk-!-margin-top-8 flush--ends">Search: {{ freeText ? escapeHtmlAttr( freeText ) : '' }}</h2>
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        {% if lpaTotalCount == 0 %}
                            Your search has found no results.<br>
                        {% else %}
                            Your search has found {{ lpaTotalCount }} results.<br>
                        {% endif %}

                        <a class="govuk-link" id="clear-mobile" href='{{ url('user/dashboard') }}'>Clear search results</a>
                    </p>
                {% else %}
                    {% if lpaTotalCount == 0 %}
                        <h2 class="govuk-heading-l govuk-!-margin-top-8 flush--ends">No LPAs found</h2>
                    {% else %}
                        <h2 class="govuk-heading-l govuk-!-margin-top-8 flush--ends">All {{ lpaTotalCount }} LPAs</h2>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% if lpaTotalCount > 0 %}

{% if shortList %}
    {{ macros.listLpas(lpas, null, null, trackingEnabled) }}
    {{ macros.listLpas(lpas, 'property-and-financial', null, trackingEnabled) }}
    {{ macros.listLpas(lpas, 'health-and-welfare', null, trackingEnabled) }}
{% else %}
    {{ macros.listLpas(lpas, 'all', paginationControlData['page'], trackingEnabled) }}
{% endif %}
    {% include 'application/authenticated/dashboard/pagination.twig' with {data: paginationControlData, route: 'user/dashboard/pagination'} %}
{% endif %}

{% endblock %}

{% block scripts %}
{% if trackingEnabled %}
    <script src="{{ '/assets/v2/js/opg/dashboard-statuses.js' | asset_path({ 'minify':true }) }}"></script>
{% endif %}
{% endblock %}
