{% import "application/macros.twig" as macros %}
{% extends 'layout/layout.twig' %}

{%- set pageTitle = 'Make a shared space' -%}

{% set form = formErrorTextExchange(form, {
    'space-name': {
        'isEmpty': 'Enter the name of the shared space',
    },
}) %}

{% set spaceName = form.get('space-name') %}

{% block content %}
    <div class="govuk-grid-row">
        {{ macros.formErrorSummary(error, form) }}

        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">Some information on naming a shared space</p>

            {{ form.prepare() ? '' }}
            {{ form().openTag( form )|raw }}
            <input type="hidden" name="__csrf" value="{{ csrfToken }}">

            <div class="govuk-form-group {{ spaceName.getMessages|length > 0 ? 'govuk-form-group--error'}}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Shared space name
                    </legend>

                    {{ formElementErrorsV2(spaceName) }}

                    {{ macros.formGroup(spaceName) }}
                </fieldset>
            </div>

            <button class="govuk-button" type="submit">Create shared space</button>
            {{ form().closeTag|raw }}
        </div>
    </div>
{% endblock content %}
