{% extends 'layout/layout.twig' %}

{% block content %}

<!-- SUBJECT: LPA v2 User Feedback -->

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    LPA service feedback
</h1>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<strong>Sent</strong><br>
    {{ currentDateTime }}
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<strong>Rating</strong><br>
	{{ rating }}
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<strong>Comments</strong><br>
	{{ details }}
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<strong>Email</strong><br>
	{{ email }}
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    <strong>Phone</strong><br>
    {{ phone }}
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<strong>Feedback link clicked from</strong><br>
	{{ fromPage }}
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<strong>User Agent</strong><br>
	{{ agent }}
</p>

{% endblock content %}

{# removing the footer as it's an internal email #}
{% block footer %}{% endblock footer %}
