{% extends 'layout/layout.twig' %}

{% block content %}

<!-- SUBJECT: Lasting power of attorney for {{ lpa.document.donor.name }} is ready to register -->

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    LPA is ready for registration
</h1>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	Thank you for completing the LPA online for <strong>{{ lpa.document.donor.name }}'s lasting power of attorney (LPA) for
    {% if isHealthAndWelfare %}health and welfare{% else %}property and financial affairs{% endif %}</strong>.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	LPA reference number: {{ formatLpaId(lpa.id) }}
</p>

{% if lpa.payment.reference != null %}
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<strong>Your payment summary:</strong><br/>
	Payment reference number: {{ lpa.payment.reference }}<br/>
	Date of payment: {{ lpa.payment.date|date('j F Y - g:ia', 'Europe/London') }}<br/>
	Description: {{ (( lpa.document.type == 'property-and-financial' ) ? 'Property and financial affairs' : 'Health and welfare' ) }} LPA for {{ lpa.document.donor.name }}<br/>
	Amount paid: £{{ paymentAmount }}
</p>
{% endif %}


<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	If you have not already you should print off the LPA and sign before sending it to OPG. Instructions on the order people must sign are on the cover sheet of the LPA.
</p>

{% set viewDocsUrl = url('lpa/view-docs', {'lpa-id': lpa.id}, {'force_canonical': true}) %}
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<a href="{{ viewDocsUrl }}" style="white-space: nowrap; color: #005ea5">Sign in to download and print the LPA form</a><br>
	<span style="font-size: 14px; color: #0b0c0c">{{ viewDocsUrl }}</span>
</p>

{% set checkDatesUrl = url('lpa/date-check', {'lpa-id': lpa.id}, {'force_canonical': true}) %}
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<a href="{{ checkDatesUrl }}" style="white-space: nowrap; color: #005ea5">Sign in to check your signing dates</a><br>
	<span style="font-size: 14px; color: #0b0c0c">{{ checkDatesUrl }}</span>
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	If the donor is applying for an exemption or reduction of the registration fee, you'll need to download and sign the fee remission form, too. If the donor has included "people to notify" in their LPA, you'll also need to download notification letters and send them to the people the donor has nominated.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	You'll find links to both the fee remission form and the "people to notify" letters on the same page as the link to the LPA itself.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	If you have paid the LPA registration fee online but not sent in the LPA form to be registered, we will send you a reminder email 20 days after payment. If we have still not received the LPA 40 days after the payment date, we will refund the fee to the account it was paid from. You can still send the LPA to OPG after 40 days but you will be contacted to pay again if you’ve been refunded. If you know you have already been refunded you may send a cheque.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<strong>Remember, an LPA must be registered before it can be used.</strong>
</p>

{% endblock content %}