{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}Fee reduction - {% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}


{# Error messages #}
{% set form = formErrorTextExchange(form, {
        'reductionOptions': {
            'Value is required and can\'t be empty' : 'Please choose one of the options'
        }
   })
%}

{# Set form fields variables #}
{% set reductionOptionsElement = form.get('reductionOptions') %}

<li id="fee-reduction-section" class="section current">

	<h2 class="heading-medium accordion-header flush--top">Do you want to apply to pay a reduced fee?</h2>

    <div class="accordion-info">
    	<div class="text">
            <p>If the donor has an income of less than £12,000 a year before tax or receives certain benefits, they might be eligible for a reduced fee, or no fee at all.</p>
		</div>
	</div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}

        {# Error summary #}
        {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}

        <fieldset id="reductionOptions">
            <legend class="visually-hidden">Reduced fee options</legend>

            <h2 class="heading-medium flush--top">Reduced fee options</h2>

            <div class="form-group text {{ reductionOptionsElement.getMessages|length >0 ? 'error'}}">
                {{ formElementErrorsV2(reductionOptionsElement) }}

                <label class="block-label" data-target="receives-benefits" for="{{ reductionOptions['reducedFeeReceivesBenefits'].getAttribute('id') }}">
                    {{ formInput(reductionOptions['reducedFeeReceivesBenefits']) }}
                    {{ reductionOptions['reducedFeeReceivesBenefits'].getOption('label')|raw }}
                </label>

                <div id="receives-benefits" class="panel panel-border-narrow js-hidden">

                    <p>To apply for this exemption, you must enclose copies of letters from the Department for Work and Pensions or your benefit provider. The letters must confirm that the benefit was being paid at the time the LPA was sent to us for registration. <a class="js-guidance" href="/guide#topic-fees-reductions-and-exemptions" data-journey-click="page:link:help: Receives benefits - Find out more about acceptable proof">Find out more about acceptable proof</a>.</p>

                    <p>If you do not send the right evidence, your application will be delayed. If your claim is rejected, you'll need to pay the rest of the fee.</p>

                    <p>On the final page you will be able to download the application for exemption form along with your LPA, you should sign and date this and send it along with your evidence and LPA to OPG.</p>
                </div>

                <label class="text block-label" data-target="universal-credit" for="{{ reductionOptions['reducedFeeUniversalCredit'].getAttribute('id') }}">
                    {{ formInput(reductionOptions['reducedFeeUniversalCredit']) }}
                    {{ reductionOptions['reducedFeeUniversalCredit'].getOption('label')|raw }}
                </label>

                <div id="universal-credit" class="panel panel-border-narrow js-hidden">

                    <p>Because Universal Credit (UC) is in its trial phase and replaces several existing benefits, we're looking at remissions on a case-by-case basis.</p>

                    <p>This means <strong class="bold-small">the service will not charge you for this LPA now.</strong></p>

                    <p>You must still send us the remissions form, which you can download on the final page of this service, along with supporting evidence for your application. This should be a copy of the donor's benefit award letter.</p>

                    <p>Once we receive your application, we'll contact you to let you know how much you'll have to pay and to arrange payment.</p>
                </div>

                <label class="text block-label" data-target="reduced-fee-low-income" for="{{ reductionOptions['reducedFeeLowIncome'].getAttribute('id') }}">
                    {{ formInput(reductionOptions['reducedFeeLowIncome']) }}
                    {{ reductionOptions['reducedFeeLowIncome'].getOption('label')|raw }}
                </label>

                <div id="reduced-fee-low-income" class="panel panel-border-narrow js-hidden">

                    <p>To apply for this remission you have to send OPG documents that prove you have a low income. These must be documents that have your title, full name, address and postcode printed on them and they must be from the current tax year. (Tax years run from 6 April one year to 5 April the next year.) <a class="js-guidance" href="/guide#topic-fees-reductions-and-exemptions" data-journey-click="page:link:help: Low income - Find out more about acceptable proof">Find out more about acceptable proof</a>.</p>

                    <p>If you do not send the right evidence, your application will be delayed. If your claim is rejected, you'll need to pay the rest of the fee.</p>

                    <p>On the final page you will be able to download the application for exemption form along with your LPA, you should sign and date this and send it along with your evidence and LPA to OPG.</p>

                </div>

                <label class="text block-label" for="{{ reductionOptions['notApply'].getAttribute('id') }}">
                    {{ formInput(reductionOptions['notApply']) }}
                    {{ reductionOptions['notApply'].getOption('label')|raw }}
                </label>

		    </div>

	    </fieldset>

        <p class="push--bottom"><a class="js-guidance" href="/guide#topic-fees-reductions-and-exemptions" data-journey-click="page:link:help: Find out more about qualifying for a reduction">Find out more about qualifying for a reduction</a></p>

        {{ formElement(form.get('save')) }}

	{{ form().closeTag|raw }}

</li>

{% endblock %}