{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}Fee reduction - {% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}


{# Error messages #}
{% set form = formErrorTextExchange(form, {
        'reductionOptions': {
            'Value is required and can\'t be empty' : 'Choose one of the options'
        }
   })
%}

{# Set form fields variables #}
{% set reductionOptionsElement = form.get('reductionOptions') %}

<li id="fee-reduction-section" class="section current">

	<h2 class="heading-medium accordion-header flush--top">Does the donor want to apply to pay a reduced fee?</h2>

    <div class="accordion-info">
    	<div class="text">
            <p>If the donor receives certain benefits or has an income of less than £12,000 a year before tax, they might be eligible to pay a reduced fee or no fee at all.</p>

            {% if lpa.repeatCaseNumber is defined and lpa.repeatCaseNumber is not null %}
                <p>To apply, you will need to send us an ‘fee remissions and exemptions form’. If you applied for this reduction on the original LPA and sent that LPA to us in the current tax year (on or after 6 April), you do not need to send us proof of the donor’s income or benefits again.</p>
            {% endif %}

        </div>
	</div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}

        {# Error summary #}
        {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}

        <div class="form-group text {{ reductionOptionsElement.getMessages|length >0 ? 'form-group-error'}}">
            <fieldset id="reductionOptions">
                <legend class="visually-hidden">Reduced fee options</legend>

                <h2 class="heading-medium flush--top">Reduced fee options</h2>
            
                {{ formElementErrorsV2(reductionOptionsElement) }}
                
                <div class="multiple-choice">
                    {{ formInput(reductionOptions['reducedFeeReceivesBenefits']) }}
                    <label class="block-label" data-target="receives-benefits" for="{{ reductionOptions['reducedFeeReceivesBenefits'].getAttribute('id') }}">
                        {{ reductionOptions['reducedFeeReceivesBenefits'].getOption('label')|raw }}
                    </label>
                </div>

                <div id="receives-benefits" class="panel panel-border-narrow js-hidden">
                    <p>To apply to pay no fee, you must send us an ‘fee remissions and exemptions form’ and copies of letters from the Department for Work and Pensions (DWP) or the benefit provider as proof that the donor is receiving benefits. <a class="js-guidance" href="/guide#topic-fees-reductions-and-exemptions" data-journey-click="page:link:help: Low income - Find out more about acceptable proof">Find out more about acceptable proof</a>.</p>

                    <p>You can download the form on the last page of this service. Sign and date the form and send it to us, along with the proof and completed LPA.</p>

                    <p>If you do not send the right proof, your application will be delayed. If your application to pay a reduced fee is rejected, the donor will have to pay the rest of the fee.</p>
                </div>

                <div class="multiple-choice">
                    {{ formInput(reductionOptions['reducedFeeUniversalCredit']) }}
                    <label class="text block-label" data-target="universal-credit" for="{{ reductionOptions['reducedFeeUniversalCredit'].getAttribute('id') }}">
                        {{ reductionOptions['reducedFeeUniversalCredit'].getOption('label')|raw }}
                    </label>
                </div>

                <div id="universal-credit" class="panel panel-border-narrow js-hidden">
                    <p>Because Universal Credit is in its trial phase and replaces several existing benefits, we're looking at fee reductions on a case-by-case basis.</p>

                    <p>This means <strong class="bold-small">you will not be charged for this LPA now</strong>.</p>

                    <p>To apply to pay a reduced fee, you must send us a ‘fee remissions and exemptions form’ and a copy of the donor's benefit award letter.</p>

                    <p>You can download the form on the last page of this service. Sign and date the form and send it to us, along with the award letter and completed LPA.</p>

                    <p>Once we receive your application, we’ll contact you to let you know how much the fee will be and to arrange payment.</p>
                </div>

                <div class="multiple-choice">
                    {{ formInput(reductionOptions['reducedFeeLowIncome']) }}
                    <label class="text block-label" data-target="reduced-fee-low-income" for="{{ reductionOptions['reducedFeeLowIncome'].getAttribute('id') }}">
                        {{ reductionOptions['reducedFeeLowIncome'].getOption('label')|raw }}
                    </label>
                </div>

                <div id="reduced-fee-low-income" class="panel panel-border-narrow js-hidden">
                    <p>To apply to pay a reduced fee, you must send us an ‘fee remissions and exemptions form’ and documents that prove the donor has a low income.</p>

                    <p>The documents must have the donor’s title, full name, address and postcode printed on them and they must be from the current tax year. Tax years run from 6 April one year to 5 April the next year. <a class="js-guidance" href="/guide#topic-fees-reductions-and-exemptions" data-journey-click="page:link:help: Low income - Find out more about acceptable proof">Find out more about acceptable proof</a>.</p>

                    <p>You can download the fee remissions and exemptions form on the last page of this service. Sign and date the form and send it to us, along with the proof and completed LPA.</p>

                    <p>If you do not send the right proof, your application will be delayed. If your application to pay a reduced fee is rejected, the donor will have to pay the rest of the fee</p>
                </div>

                <div class="multiple-choice">
                    {{ formInput(reductionOptions['notApply']) }}
                    <label class="text block-label" for="{{ reductionOptions['notApply'].getAttribute('id') }}">
                        {{ reductionOptions['notApply'].getOption('label')|raw }}
                    </label>
                </div>

	       </fieldset>

        </div>

        <p class="push--bottom"><a class="js-guidance" href="/guide#topic-fees-reductions-and-exemptions" data-journey-click="page:link:help: Find out more about qualifying for a reduction">Find out more about qualifying for a reduction</a></p>

        {{ formElement(form.get('save')) }}

	{{ form().closeTag|raw }}

</li>

{% endblock %}