{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}Who was using the LPA service - {% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}
{% if form %}
    {% set form = formErrorTextExchange(form, {
            'who': {
                'cannot-be-blank' : 'Please choose one of the options',
            }
       })
    %}

    {# Set form fields variables #}
    {% set who = form.get('who') %}
    {% set other = form.get('other') %}

    {# form fields config #}
    {{ form.setAttributes({
        'id': 'WhoAreYou'
    }) ? '' }}

    {{ other.setAttributes({
        id: 'other',
        'class': 'form-control'
    }) ? '' }}

    {# form fields labels #}
    {{ other.setOptions({
        label:"Who helped the donor or made the LPA on the donor's behalf?"
    }) ? '' }}
{% endif %}

<li id="who-are-you-section" class="section current">

    <h2 class="heading-medium accordion-header flush--top">Who was using the LPA service?</h2>

    {% if not form %}
    <div class="accordion-info">
        <div class="text">
            <p>Thanks, you have already answered this question.</p>

            <p>Your answer was saved separately from your LPA and is anonymous. This means that it cannot now be linked to you and you cannot change it.</p>

        </div>
    </div>

    <div class="form-group">
        <a href="{{ nextUrl }}" class="button">{{ (finalCheckAccessible(lpa) ? 'Return to final check' : 'Continue') }}</a>
    </div>

    {% else %}
    <div class="accordion-info">
		<div class="text">
        	<p>We think we can make this service better by finding out how people use it.</p>
        	<p>To do this, we'd like to know who was using the digital LPA service - for instance, if a friend, family member or charity helped the donor a lot, or if a professional made it on their behalf.</p>
        	<p>Your answer will be completely anonymous. It will not be linked to you, your LPA or your personal information.</p>
        </div>
    </div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}

        {# Error summary #}
        {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}

        <fieldset id="who">
            <legend class="visually-hidden">Who was using the LPA service</legend>

            <div class="form-group {{ who.getMessages|length >0 ? 'error'}}">
                {{ formElementErrorsV2(who) }}

                <label class="text block-label" for="{{ whoOptions['donor'].getAttribute('id') }}">
                    {{ formInput(whoOptions['donor']) }}
                    {{ whoOptions['donor'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(whoOptions['donor']) }}

                <label class="text block-label" for="{{ whoOptions['friend-or-family'].getAttribute('id') }}">
                    {{ formInput(whoOptions['friend-or-family']) }}
                    {{ whoOptions['friend-or-family'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(whoOptions['friend-or-family']) }}

                <label class="text block-label" for="{{ whoOptions['finance-professional'].getAttribute('id') }}">
                    {{ formInput(whoOptions['finance-professional']) }}
                    {{ whoOptions['finance-professional'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(whoOptions['finance-professional']) }}

                <label class="text block-label" for="{{ whoOptions['legal-professional'].getAttribute('id') }}">
                    {{ formInput(whoOptions['legal-professional']) }}
                    {{ whoOptions['legal-professional'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(whoOptions['legal-professional']) }}

                <label class="text block-label" for="{{ whoOptions['estate-planning-professional'].getAttribute('id') }}">
                    {{ formInput(whoOptions['estate-planning-professional']) }}
                    {{ whoOptions['estate-planning-professional'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(whoOptions['estate-planning-professional']) }}

                <label class="text block-label" for="{{ whoOptions['digital-partner'].getAttribute('id') }}">
                    {{ formInput(whoOptions['digital-partner']) }}
                    {{ whoOptions['digital-partner'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(whoOptions['digital-partner']) }}

                <label class="text block-label" for="{{ whoOptions['charity'].getAttribute('id') }}">
                    {{ formInput(whoOptions['charity']) }}
                    {{ whoOptions['charity'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(whoOptions['charity']) }}

                <label class="text block-label" for="{{ whoOptions['organisation'].getAttribute('id') }}">
                    {{ formInput(whoOptions['organisation']) }}
                    {{ whoOptions['organisation'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(whoOptions['organisation']) }}

                <label class="text block-label" data-target="other-input" for="{{ whoOptions['other'].getAttribute('id') }}">
                    {{ formInput(whoOptions['other']) }}
                    {{ whoOptions['other'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(whoOptions['other']) }}

                <div class="panel panel-border-narrow js-hidden" id="other-input">
                    <label class="form-label" for="{{ other.getAttribute('id') }}">
                        {{ other.getOption('label') }}
                        {{ formElementErrorsV2(other) }}
                    </label>
                    {{ formText(other) }}
                </div>

                <label class="text block-label" for="{{ whoOptions['notSaid'].getAttribute('id') }}">
                    {{ formInput(whoOptions['notSaid']) }}
                    {{ whoOptions['notSaid'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(whoOptions['notSaid']) }}

            </div>

        </fieldset>

        <div class="form-group">
            {{ formElement(form.get('save')) }}
        </div>

    {{ form().closeTag|raw }}
    {% endif %}

</li>

{% endblock %}
