{% extends isPopup ? 'layout/twig/popup.twig' : 'layout/twig/layout.twig' %}

{% block pageTitle %}
    Create a lasting power of attorney 
{% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

<script type="text/javascript">
	var actorNames = {{ actorsList(lpa, routeMatch)|json_encode()|raw }};
	var actors = {names: actorNames};

	{{ macros.addDobCheckOnUseMyDetails(isUseMyDetailsDetails) }}

</script>

{% set form = formErrorTextExchange(form,  {
    'name-first' : {
        'cannot-be-blank' : 'Please enter the donor\'s first name'
    },
    'name-last' : {
        'cannot-be-blank' : 'Please enter the donor\'s last name'
    },
    'address-address1' : {
        'cannot-be-blank' : 'Please enter the donor\'s first line of address'
    },
    'address-address2' : {
        'linked-1-cannot-be-null' : 'Please enter the donor\'s second line of address'
    },
    'address-postcode' : {
        'linked-1-cannot-be-null' : 'Please enter the donor\'s postcode'
    },
    'dob-date' : {
        "The input does not appear to be a valid date" : "Please enter a valid date",
        "Please enter all the date fields" : "Please enter your date of birth"
    }
}) %}

{{ macros.formErrorSummary(error, form, 'There was a problem submitting the form') }}

{% if (seedDetailsPickerForm) %}
    {{ seedDetailsPickerForm.setAttribute('class', 'form') ? '' }}
    {% set pickerCsrf = seedDetailsPickerForm.get(seedDetailsPickerForm.csrfName()) %}
    {{ pickerCsrf.setAttributes({'id' : 'secret'}) ? '' }}
    {{ seedDetailsPickerForm.get('pick-details') ? '' }}
    {{ seedDetailsPickerForm.setAttributes({'id':'pick-details', 'class':'js-reusable'}) ? '' }}
    {{ seedDetailsPickerForm.setOptions({'label': 'Use these details', 'empty_option' : 'Choose a person'}) ? '' }}
    {% set pickerSubmit = seedDetailsPickerForm.get('submit') %}
    {{ pickerSubmit.setAttributes({'value': "Use this person's details", 'class' : 'button details-picker'}) ? '' }}
    {{ seedDetailsPickerForm.prepare() ? '' }}
{% endif %}

{# Set form fields variables #}
{% set title = form.get('name-title') %}
{% set firstname = form.get('name-first') %}
{% set lastname = form.get('name-last') %}
{% set otherNames = form.get('otherNames') %}
{% set email = form.get('email-address') %}
{% set address1 = form.get('address-address1') %}
{% set address2 = form.get('address-address2') %}
{% set address3 = form.get('address-address3') %}
{% set postcode = form.get('address-postcode') %}
{% set canSign = form.get('canSign') %}
{% set dob = form.get('dob-date') %}
{% set dobDay = dob.get('day') %}
{% set dobMonth = dob.get('month') %}
{% set dobYear = dob.get('year') %}

{# form fields config #}
{{ form.setAttributes({
    'class':'form form-condensed js-PersonForm js-PostcodeLookup',
    'novalidate': ''
}) ? '' }}

{{ dobDay.setAttributes({'maxlength':'2','pattern': '[0-9]{2}'}) ? '' }}
{{ dobMonth.setAttributes({'maxlength':'2','pattern': '[0-9]{2}'}) ? '' }}
{{ dobYear.setAttributes({'maxlength':'4','pattern': '[0-9]{4}'}) ? '' }}

{{ title.setAttributes({
    id: 'name-title',
    class: 'form-control'
}) ? '' }}

{{ firstname.setAttributes({
    id: 'name-title',
    class: 'form-control'
}) ? '' }}

{{ lastname.setAttributes({
    id: 'name-title',
    class: 'form-control'
}) ? '' }}

{{ otherNames.setAttributes({
    id: 'other-names',
    class: 'form-control'
}) ? '' }}

{{ dobDay.setAttributes({
    id: 'dob-date-day',
    type: 'number',
    class: 'form-control',
    maxlength: '2',
    min: '1',
    max: '31',
    pattern: '[0-9]*'
}) ? ''}}

{{ dobMonth.setAttributes({
    id: 'dob-date-month',
    type: 'number',
    class: 'form-control',
    min: '1',
    max: '12',
    pattern: '[0-9]*'
 }) ? ''}}

{{ dobYear.setAttributes({
    id: 'dob-date-year',
    type: 'number',
    class: 'form-control',
    min: '1866',
    max: '2016',
    pattern: '[0-9]*'
})  ? ''}}

{{ email.setAttributes({
    id: 'email-address',
    class: 'form-control'
}) ? '' }}

{{ address1.setAttributes({
    id: 'address-address1',
    class: 'form-control'
}) ? ''}}

{{ address2.setAttributes({
    id: 'address-address2',
    class: 'form-control'
}) ? ''}}

{{ address3.setAttributes({
    id: 'address-address3',
    class: 'form-control'
}) ? ''}}

{{ postcode.setAttributes({
    id: 'postcode',
    class: 'form-control'
}) ? ''}}

{{ canSign.setAttributes({class:'donor-cannot-sign'}) ? '' }}

{# form fields labels #}
{{ title.setOptions({label:'Title'}) ? '' }}
{{ firstname.setOptions({label:'First name'}) ? '' }}
{{ lastname.setOptions({label:'Last name'}) ? '' }}
{{ otherNames.setOptions({label:'Other names'}) ? '' }}
{{ dob.setOptions({label:'Date of Birth'}) ? '' }}
{{ dobDay.setOptions({label:'Day'}) ? '' }}
{{ dobMonth.setOptions({label:'Month'}) ? '' }}
{{ dobYear.setOptions({label:'Year'}) ? '' }}
{{ email.setOptions({label:'Email address'}) ? '' }}
{{ address1.setOptions({label:'Address line 1'}) ? '' }}
{{ address2.setOptions({label:'Address line 2'}) ? '' }}
{{ address3.setOptions({label:'Address line 3'}) ? '' }}
{{ postcode.setOptions({label:'Postcode'}) ? '' }}
{{ canSign.setOptions({label:'This person cannot physically sign the LPA'}) ? '' }}


<header class="popup-header">
    <i class="icon icon-person"></i>
    <h2 class="heading-small popup-header-title">Edit the donor's details</h2>
</header>


{{ form.prepare() ? '' }}
{############################ picker form ############################}

{% if (pickerForm) %}
{{ form().openTag(pickerForm)|raw }}
{{ formElement(pickerCsrf) }}

    <div class="role-select group">
        <label>{{ picker.getOption('label') }}</label>
        {{ formSelect(picker) }}
        {{ formElementErrors(picker) }}
        {{ formSubmit(pickerSubmit) }}
    </div>

{{ form().closeTag|raw }}
    
{% endif %}

{############################ donor form ############################}

{% if (useMyDetailsRoute) %}
<a class="js-form-popup" href="{{ useMyDetailsRoute }}">Use my details</a>
{% endif %}

{# begin form #}
{{ form().openTag( form )|raw }}
    {{ formElement(form.get( form.csrfName )) }}

    <h2 class="heading-medium">What is the donor's name?</h2>

    <fieldset>
        <legend class="visuallyhidden">Add donor details</legend>

        {{ macros.formGroup(title) }}
        {{ macros.formGroup(firstname) }}
        {{ macros.formGroup(lastname) }}

        <details class="form-group flush--bottom" {{ otherNames.getValue() ? 'open' : '' }}>
            <summary class="hint" role="button" aria-expanded="false">Is this person known by any other names?</summary>
            <div>
                {{ macros.formGroup(otherNames) }}
            </div>
        </details>

    </fieldset>

    <h2 class="heading-medium">What is the donor's date of birth?</h2>

    <fieldset name="{{ dob.getAttribute('name') }}">
        <legend class="form-label">Date of birth</legend>

        <div class="dob-element form-date {{ dobDay.getMessages|length >0 or dobMonth.getMessages|length >0 or dobYear.getMessages|length >0 ? 'error'}}">
            <p class="form-hint">For example, 08 04 {{ 'now'|date('Y')-18 }}</p>

            {{ formElementErrorsV2(dobYear) }}
            {{ formElementErrorsV2(dobMonth) }}
            {{ formElementErrorsV2(dobDay) }}
			{{ formElementErrorsV2(dob) }}

            <div class="form-group form-group-day {{ dobDay.getMessages|length >0 ? 'error'}}">
                <label class="form-label" for="{{ dobDay.getAttribute('id') }}">Day</label>
                {{ formElement(dobDay) }}
            </div>

            <div class="form-group form-group-month {{ dobMonth.getMessages|length >0 ? 'error'}}">
                <label class="form-label" for="{{ dobMonth.getAttribute('id') }}">Month</label>
                {{ formElement(dobMonth) }}
            </div>

            <div class="form-group form-group-year {{ dobYear.getMessages|length >0 ? 'error'}}">
                <label class="form-label" for="{{ dobYear.getAttribute('id') }}">Year</label>
                {{ formElement(dobYear) }}
            </div>
        </div>

    </fieldset>

    <h2 class="heading-medium">What is the donor's email address?</h2>

    <fieldset>
        <legend class="visuallyhidden">Email address</legend>

        {{ macros.formGroup(email) }}

    </fieldset>

    <h2 class="heading-medium">What is the donor's address?</h2>

    <fieldset class="js-PostcodeLookup__postal-add">
        <legend class="visuallyhidden">Address</legend>
        {{ macros.formGroup(address1) }}
        {{ macros.formGroup(address2) }}
        {{ macros.formGroup(address3) }}
        {{ macros.formGroup(postcode) }}
    </fieldset>

    <fieldset>
        <legend class="visuallyhidden"></legend>

        <div class="form-group text {{ canSign.getMessages|length >0 ? 'error'}}">
            <label class="block-label" for="{{ canSign.getAttribute('id') }}">
                {{ formElement(canSign) }}
                {{ canSign.getOption('label') }}
                <span class="form-hint">We'll include an extra signature sheet so someone can sign on their behalf</span>
                {{ formElementErrorsV2(canSign) }}
            </label>
        </div>

    </fieldset>

    <div class="form-group">
        <input type="submit" name="submit" id="form-save" value="Save details" class="button">
        <button name="cancel" type="button" class="button-secondary">Cancel</button>
    </div>

	<a href="{{ cancelRoute }}">Cancel</a>
	
{{ form().closeTag|raw }}

{% endblock %}
