{% extends 'layout/twig/creation-stage.twig' %}

{% block content %}

{% import "application/macros.twig" as macros %}

<li id="donor-section" class="section current js-current">
	
	<h2 class="heading-medium accordion-header flush--top">Who is the donor for this LPA?</h2>
	
    <div class="accordion-info">
        <div class="text">
            <p>The 'donor' is the person appointing other people to make decisions on their behalf. The donor:</p>

            <ul class="list list-bullet">
                <li>must be 18 or over</li>
                <li>must be able to make their own decisions when they create the LPA – this is known as having mental capacity</li>
            </ul>

            <p>Only the donor can make decisions about their LPA and the people to involve.</p>

            <p>
                <a href="/guidance/#topic-donor" class="js-guidance" data-journey-click="stageprompt.lpa:help:donor">Find out more about being a donor</a>
            </p>
        </div>
    </div>
    		
    {% if (lpa.document.donor) %}

        <div class="person">
            <h3 class="heading-small flush--ends">{{ donor['name'] }}</h3>
            <p class="flush--ends">{{ donor['address'] }}</p>
            <a href="{{ editDonorUrl }}" data-form="donor" class="js-form-popup">View/edit details</a>
        </div>

        <div class="form-group">
            <a href="{{ nextRoute }}" class="button" role="button">Save and continue</a> 
        </div>

	{% else %}

        <div class="form-group">
            <a href="{{ addRoute }}" class="button js-form-popup" data-form="donor" role="button">Add donor details</a>
        </div>

        <div class="form-group">
            <a class="button divorced" disabled="disabled">Save and continue</a>
        </div>

    {% endif %}

</li>

{% endblock %}