{% extends 'layout/twig/layout.twig' %}

{% import "application/macros.twig" as macros %}

{% block htmlTitle %}Check signature dates - {% endblock %}
{% block pageTitle %}Check signature dates{% endblock %}

{% set errorMappings = {
    'sign-date-donor-life-sustaining': {
        'Enter all the date fields': 'Enter the donor\'s signature date',
        'The input does not appear to be a valid date': 'The donor\'s signature date does not appear to be a valid date'
    },
    'sign-date-donor': {
        'Enter all the date fields': 'Enter the donor\'s signature date',
        'The input does not appear to be a valid date': 'The donor\'s signature date does not appear to be a valid date'
    },
    'sign-date-certificate-provider': {
        'Enter all the date fields': 'Enter the certificate provider\'s signature date',
        'The input does not appear to be a valid date': 'The certificate provider\'s signature date does not appear to be a valid date'
    }
} %}

{# Loop through the attorneys and add mappings for each #}
{% for idx, attorney in lpa.document.primaryAttorneys %}
    {% set messageKey = 'sign-date-attorney-' ~ idx %}

    {% set errorMappings = errorMappings|merge({
        (messageKey) : {
            'Enter all the date fields': 'Enter the attorney\'s signature date',
            'The input does not appear to be a valid date': 'The attorney\'s signature date does not appear to be a valid date'
        }
    }) %}
{% endfor %}

{% for idx, attorney in lpa.document.replacementAttorneys %}
    {% set messageKey = 'sign-date-replacement-attorney-' ~ idx %}

    {% set errorMappings = errorMappings|merge({
        (messageKey) : {
            'Enter all the date fields': 'Enter the replacement attorney\'s signature date',
            'The input does not appear to be a valid date': 'The replacement attorney\'s signature date does not appear to be a valid date'
        }
    }) %}
{% endfor %}

{% for idx, applicant in applicants %}
    {% set messageKey = 'sign-date-applicant-' ~ idx %}

    {% set errorMappings = errorMappings|merge({
        (messageKey) : {
            'Enter all the date fields': 'Enter the applicant\'s signature date',
            'The input does not appear to be a valid date': 'The applicant\'s signature date does not appear to be a valid date'
        }
    }) %}
{% endfor %}

{% set form = formErrorTextExchange(form, errorMappings) %}

{% block errorSummary %}
    {# Error summary #}
    {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}
{% endblock %}

{% block content %}

    {# Set form fields variables #}
    {% set donorElement = form.get('sign-date-donor') %}
    {% set donorElementDay = donorElement.get('day') %}
    {% set donorElementMonth = donorElement.get('month') %}
    {% set donorElementYear = donorElement.get('year') %}

    {# form fields config #}
    {{ donorElementDay.setAttributes({
        class: 'form-control'
    }) ? '' }}
    {{ donorElementMonth.setAttributes({
        class: 'form-control'
    }) ? '' }}
    {{ donorElementYear.setAttributes({
        class: 'form-control'
    }) ? '' }}

    {% set certificateProviderElement = form.get('sign-date-certificate-provider') %}
    {% set certificateProviderElementDay = certificateProviderElement.get('day') %}
    {% set certificateProviderElementMonth = certificateProviderElement.get('month') %}
    {% set certificateProviderElementYear = certificateProviderElement.get('year') %}

    {{ certificateProviderElementDay.setAttributes({
        class: 'form-control'
    }) ? '' }}

    {{ certificateProviderElementMonth.setAttributes({
        class: 'form-control'
    }) ? '' }}

    {{ certificateProviderElementYear.setAttributes({
        class: 'form-control'
    }) ? '' }}

    {% if form.has('sign-date-donor-life-sustaining') %}

        {% set donorLifeSustainingElement = form.get('sign-date-donor-life-sustaining') %}
        {% set donorLifeSustainingElementDay = donorLifeSustainingElement.get('day') %}
        {% set donorLifeSustainingElementMonth = donorLifeSustainingElement.get('month') %}
        {% set donorLifeSustainingElementYear = donorLifeSustainingElement.get('year') %}

        {{ donorLifeSustainingElementDay.setAttributes({
            class: 'form-control'
        }) ? '' }}

        {{ donorLifeSustainingElementMonth.setAttributes({
            class: 'form-control'
        }) ? '' }}

        {{ donorLifeSustainingElementYear.setAttributes({
            class: 'form-control'
        }) ? '' }}

    {% endif %}

    {% if dateError is defined %}

        <div class="alert panel" role="alert">
            <i class="icon icon-cross" role="presentation"></i>
            <div class="alert-message">
                <p>There was a problem with the order in which the LPA was signed</p>
            </div>
        </div>

        <div class="text error">
            <p class="error-message">{{ dateError }}</p>
        </div>

        <div class="text divorced">
            <p>Please see the <a href="/guide#topic-signing-the-lpa" class="js-guidance" data-journey-click="page:link:help: Please see the -guidance- on signing">guidance</a> on signing and, if necessary,
                <a href="{{ url( 'lpa/view-docs', {'lpa-id': lpa.id}) }}">reprint</a> and re-sign your LPA.</p>
        </div>

        <hr>

    {% endif %}

    <div class="accordion-info">
        <div class="text">

            <p>This page is optional. You can use it to check that your {{ lpa.document.type == 'health-and-welfare' ? 'health and welfare' : 'property and finance' }} LPA has been <a href="/guide#topic-signing-the-lpa" class="js-guidance" data-journey-click="page:link:help: has been -signed in the correct order- before">signed in the correct order</a> before you send it to us.</p>

            <p>Please give the date each person below signed the LPA.</p>
        </div>
    </div>


    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
    {{ formElement(form.getCsrf) }}

    <input type="hidden" name="return-route" value="{{ returnRoute }}">

    <div class="date-check-person person person--full">
        <h3 class="person-name heading-small flush--ends">{{ lpa.document.donor.name }} (the donor)</h3>
        {% if donorLifeSustainingElement is defined %}
            <div class="person-address flush--ends">
                <div class="dob-element form-date {{ donorLifeSustainingElement.getMessages|length >0 ? 'form-group-error'}}">
                    {{ formElementErrorsV2(donorLifeSustainingElementDay) }}
                    {{ formElementErrorsV2(donorLifeSustainingElementMonth) }}
                    {{ formElementErrorsV2(donorLifeSustainingElementYear) }}
                    {{ formElementErrorsV2(donorLifeSustainingElement) }}

                    <p>This person signed section 5 of the LPA on</p>

                    <fieldset id="{{ donorLifeSustainingElement.getAttribute('id') }}" class="date-check-dates">
                        <legend class="visually-hidden">Check signature dates for donor</legend>
                        <div class="form-group form-group-day {{ donorLifeSustainingElement.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ donorLifeSustainingElementDay.getAttribute('id') }}">Day</label>
                            {{ formElement(donorLifeSustainingElementDay) }}
                        </div>

                        <div class="form-group form-group-month {{ donorLifeSustainingElement.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ donorLifeSustainingElementMonth.getAttribute('id') }}">Month</label>
                            {{ formElement(donorLifeSustainingElementMonth) }}
                        </div>

                        <div class="form-group form-group-year {{ donorLifeSustainingElement.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ donorLifeSustainingElementYear.getAttribute('id') }}">Year</label>
                            {{ formElement(donorLifeSustainingElementYear) }}
                        </div>
                    </fieldset>

                </div>

                <br>
            </div>
        {% endif %}
        <div class="person-address flush--ends">
            <div class="dob-element form-date {{ donorElement.getMessages|length >0 ? 'form-group-error'}}">
                {{ formElementErrorsV2(donorElementDay) }}
                {{ formElementErrorsV2(donorElementMonth) }}
                {{ formElementErrorsV2(donorElementYear) }}
                {{ formElementErrorsV2(donorElement) }}

                <p>This person signed section 9 of the LPA on</p>

                <fieldset id="{{ donorElement.getAttribute('id') }}" class="date-check-dates">
                    <legend class="visually-hidden">Check signature dates for donor</legend>
                    <div class="form-group form-group-day {{ donorElement.getMessages|length >0 ? 'form-group-error'}}">
                        <label class="form-label" for="{{ donorElementDay.getAttribute('id') }}">Day</label>
                        {{ formElement(donorElementDay) }}
                    </div>

                    <div class="form-group form-group-month {{ donorElement.getMessages|length >0 ? 'form-group-error'}}">
                        <label class="form-label" for="{{ donorElementMonth.getAttribute('id') }}">Month</label>
                        {{ formElement(donorElementMonth) }}
                    </div>

                    <div class="form-group form-group-year {{ donorElement.getMessages|length >0 ? 'form-group-error'}}">
                        <label class="form-label" for="{{ donorElementYear.getAttribute('id') }}">Year</label>
                        {{ formElement(donorElementYear) }}
                    </div>
                </fieldset>

            </div>

            <div class="panel panel-border-wide text">
                <p>Remember, if continuation sheets 1 or 2 were used, the donor must have signed them before, or on the same day as, they signed section 9. </p>
            </div>
        </div>
    </div>


    <div class="date-check-person person person--full">
        <h3 class="person-name heading-small flush--ends">{{ lpa.document.certificateProvider.name }} (certificate provider)</h3>
        <div class="person-address flush--ends">
            <div class="dob-element form-date {{ certificateProviderElement.getMessages|length >0 ? 'form-group-error'}}">
                {{ formElementErrorsV2(certificateProviderElementDay) }}
                {{ formElementErrorsV2(certificateProviderElementMonth) }}
                {{ formElementErrorsV2(certificateProviderElementYear) }}
                {{ formElementErrorsV2(certificateProviderElement) }}

                <p>This person signed section 10 of the LPA on</p>

                <fieldset id="{{ certificateProviderElement.getAttribute('id') }}" class="date-check-dates">
                    <legend class="visually-hidden">Check signature dates for certificate provider</legend>
                    <div class="form-group form-group-day {{ certificateProviderElement.getMessages|length >0 ? 'error'}}">
                        <label class="form-label" for="{{ certificateProviderElementDay.getAttribute('id') }}">Day</label>
                        {{ formElement(certificateProviderElementDay) }}
                    </div>

                    <div class="form-group form-group-month {{ certificateProviderElement.getMessages|length >0 ? 'form-group-error'}}">
                        <label class="form-label" for="{{ certificateProviderElementMonth.getAttribute('id') }}">Month</label>
                        {{ formElement(certificateProviderElementMonth) }}
                    </div>

                    <div class="form-group form-group-year {{ certificateProviderElement.getMessages|length >0 ? 'form-group-error'}}">
                        <label class="form-label" for="{{ certificateProviderElementYear.getAttribute('id') }}">Year</label>
                        {{ formElement(certificateProviderElementYear) }}
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    {% for idx, attorney in lpa.document.primaryAttorneys %}

        {% set element = form.get('sign-date-attorney-' ~ idx) %}
        {% set elementDay = element.get('day') %}
        {% set elementMonth = element.get('month') %}
        {% set elementYear = element.get('year') %}

        {{ elementDay.setAttributes({
            class: 'form-control'
        }) ? '' }}
        {{ elementMonth.setAttributes({
            class: 'form-control'
        }) ? '' }}
        {{ elementYear.setAttributes({
            class: 'form-control'
        }) ? '' }}

        <div class="date-check-person person person--full">
            <h3 class="person-name heading-small flush--ends">{{ attorney.name }} (attorney)</h3>
            <div class="person-address flush--ends">
                <div class="dob-element form-date {{ element.getMessages|length >0 ? 'form-group-error'}}">
                    {{ formElementErrorsV2(elementDay) }}
                    {{ formElementErrorsV2(elementMonth) }}
                    {{ formElementErrorsV2(elementYear) }}
                    {{ formElementErrorsV2(element) }}

                    <p>
                        {% if attorney.dob is defined %}
                            This person signed section 11 of the LPA on
                        {% else %}
                            This corporation signed continuation sheet 4 of the LPA on
                        {% endif %}
                    </p>

                    <fieldset id="{{ element.getAttribute('id') }}" class="date-check-dates">
                        <legend class="visually-hidden">Check signature dates for primary attorney</legend>
                        <div class="form-group form-group-day {{ element.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ elementDay.getAttribute('id') }}">Day</label>
                            {{ formElement(elementDay) }}
                        </div>

                        <div class="form-group form-group-month {{ element.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ elementMonth.getAttribute('id') }}">Month</label>
                            {{ formElement(elementMonth) }}
                        </div>

                        <div class="form-group form-group-year {{ element.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ elementYear.getAttribute('id') }}">Year</label>
                            {{ formElement(elementYear) }}
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

    {% endfor %}

    {% for idx, attorney in lpa.document.replacementAttorneys %}

        {% set element = form.get('sign-date-replacement-attorney-' ~ idx) %}
        {% set elementDay = element.get('day') %}
        {% set elementMonth = element.get('month') %}
        {% set elementYear = element.get('year') %}

        {{ elementDay.setAttributes({
            class: 'form-control'
        }) ? '' }}
        {{ elementMonth.setAttributes({
            class: 'form-control'
        }) ? '' }}
        {{ elementYear.setAttributes({
            class: 'form-control'
        }) ? '' }}

        <div class="date-check-person person person--full">
            <h3 class="person-name heading-small flush--ends">{{ attorney.name }} (replacement attorney)</h3>
            <div class="person-address flush--ends">
                <div class="dob-element form-date {{ element.getMessages|length >0 ? 'form-group-error'}}">
                    {{ formElementErrorsV2(elementDay) }}
                    {{ formElementErrorsV2(elementMonth) }}
                    {{ formElementErrorsV2(elementYear) }}
                    {{ formElementErrorsV2(element) }}

                    <p>
                        {% if attorney.dob is defined %}
                            This person signed section 11 of the LPA on
                        {% else %}
                            This corporation signed continuation sheet 4 of the LPA on
                        {% endif %}
                    </p>

                    <fieldset id="{{ element.getAttribute('id') }}" class="date-check-dates">
                        <legend class="visually-hidden">Check signature dates for replacement attorney</legend>
                        <div class="form-group form-group-day {{ element.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ elementDay.getAttribute('id') }}">Day</label>
                            {{ formElement(elementDay) }}
                        </div>

                        <div class="form-group form-group-month {{ element.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ elementMonth.getAttribute('id') }}">Month</label>
                            {{ formElement(elementMonth) }}
                        </div>

                        <div class="form-group form-group-year {{ element.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ elementYear.getAttribute('id') }}">Year</label>
                            {{ formElement(elementYear) }}
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

    {% endfor %}

    {% for idx, applicant in applicants %}

        {% set element = form.get('sign-date-applicant-' ~ idx) %}
        {% set elementDay = element.get('day') %}
        {% set elementMonth = element.get('month') %}
        {% set elementYear = element.get('year') %}

        {{ elementDay.setAttributes({
            class: 'form-control'
        }) ? '' }}
        {{ elementMonth.setAttributes({
            class: 'form-control'
        }) ? '' }}
        {{ elementYear.setAttributes({
            class: 'form-control'
        }) ? '' }}

        <div class="date-check-person person person--full">
            <h3 class="person-name heading-small flush--ends">{{ applicant['name'] }} (applicant)</h3>
            <div class="person-address flush--ends">
                <div class="dob-element form-date {{ element.getMessages|length >0 ? 'form-group-error'}}">
                    {{ formElementErrorsV2(elementDay) }}
                    {{ formElementErrorsV2(elementMonth) }}
                    {{ formElementErrorsV2(elementYear) }}
                    {{ formElementErrorsV2(element) }}

                    <p>
                        {% if applicant['isHuman'] %}
                            This person signed section 15 of the LPA on
                        {% else %}
                            This corporation signed section 15 of the LPA on
                        {% endif %}
                    </p>

                    <fieldset id="{{ element.getAttribute('id') }}" class="date-check-dates">
                        <legend class="visually-hidden">Check signature dates for applicant</legend>
                        <div class="form-group form-group-day {{ element.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ elementDay.getAttribute('id') }}">Day</label>
                            {{ formElement(elementDay) }}
                        </div>

                        <div class="form-group form-group-month {{ element.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ elementMonth.getAttribute('id') }}">Month</label>
                            {{ formElement(elementMonth) }}
                        </div>

                        <div class="form-group form-group-year {{ element.getMessages|length >0 ? 'form-group-error'}}">
                            <label class="form-label" for="{{ elementYear.getAttribute('id') }}">Year</label>
                            {{ formElement(elementYear) }}
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

    {% endfor %}

    <div class="divorced">
        <input type="submit" name="save" value="Check dates" class="button">
    </div>

    {{ form().closeTag|raw }}

{% endblock %}
