{% extends 'layout/layout.twig' %}

{%- set overridePageTitle = "Status message" -%}
{%- set pageTitle = lpa.document.donor.name -%}

{% block supportTitleBottom %}

    <span class="heading-secondary">
        {{ lpa.document.type == 'property-and-financial' ? 'Property and finance' :
        (( lpa.document.type == 'health-and-welfare') ? 'Health and welfare' : 'Not selected') }}:
        {{ lpa.id | format_lpa_id }}
    </span>

{% endblock %}

{% block content %}

    {% if status != 'completed' %}

        <ol class="progress-bar">
            <li class="progress-bar__steps-waiting progress-bar__steps{{ status == 'waiting' ? ' current-waiting" data-cy="lpa-progress-waiting' : '' }}">
                <span class="{{ 'waiting' in doneStatuses ? 'progress-bar__steps--completed' : 'progress-bar__steps--numbers' }}"></span>
                <span data-cy="lpa-progress-text" class="progress-bar__steps--text">Waiting</span>
            </li>
            <li class="progress-bar__steps-received progress-bar__steps{{ status == 'received' ? ' current-received" data-cy="lpa-progress-received' : '' }}">
                <span class="{{ 'received' in doneStatuses ? 'progress-bar__steps--completed' : 'progress-bar__steps--numbers' }}"></span>
                <span data-cy="lpa-progress-text" class="progress-bar__steps--text">Received</span>
            </li>
            <li class="progress-bar__steps-checking progress-bar__steps{{ status == 'checking' ? ' current-checking" data-cy="lpa-progress-checking' : '' }}">
                <span class="{{ 'checking' in doneStatuses ? 'progress-bar__steps--completed' : 'progress-bar__steps--numbers' }}"></span>
                <span data-cy="lpa-progress-text" class="progress-bar__steps--text">Checking</span>
            </li>
            <li class="progress-bar__steps-processed progress-bar__steps{{ status == 'processed' ? ' current-processed" data-cy="lpa-progress-processed' : '' }}">
                <span class="{{ 'processed' in doneStatuses ? 'progress-bar__steps--completed' : 'progress-bar__steps--numbers' }}"></span>
                <span data-cy="lpa-progress-text" class="progress-bar__steps--text">Processed</span>
            </li>
        </ol>

    {% endif %}

    <div class="opg-status--{{ status }}">

        {% if status == 'checking' %}

            <div>
                <h2 class="heading-xlarge">We’re checking the LPA</h2>
            </div>
            <div>
                <p class="lede">We’re checking the LPA to make sure it’s been made correctly. Once we’ve checked it, we'll write to the donor, attorneys and correspondent to let them know what happens next.</p>
                <p>If there is something that must be corrected before the LPA can be registered, we'll contact {{ lpa.document.correspondent.name.title }} {{ lpa.document.correspondent.name.first }} {{ lpa.document.correspondent.name.last }}.</p>
                <p>The law says there must be a 4 week wait between the date OPG sent the ‘Notice of application’ letter to the donor and attorneys and the date the LPA is registered.</p>
            </div>

        {% elseif status == 'waiting' %}

            <div>
                <h2 class="heading-xlarge">We're waiting to confirm receipt of this LPA</h2>
            </div>
            <div>
                <p>It will take up to 30 working days for us to add this LPA to our records and confirm we've received it. It will then take up to 8 weeks to process the LPA if there are no mistakes in the application.</p>

                <p>If you sent the LPA by recorded delivery, Royal Mail’s website will confirm we have received it before we can confirm it here.</p>

                {% if canGenerateLPA120 == 'true' %}
                    <p>If we need more information about the application to pay a reduced or no fee, we'll write to {{ lpa.document.correspondent.name.title }} {{ lpa.document.correspondent.name.first }} {{ lpa.document.correspondent.name.last }}. We will not start processing the LPA or update this message until we've heard back from them.</p>
                {% endif %}

                <p>If you have not posted the LPA to us yet, <a href="/contact#postal-address">here's the address to send it to</a>.</p>
            </div>

        {% elseif status == 'processed' %}

            <div>
                <h2 class="heading-xlarge">We’ve processed the LPA</h2>
            </div>

            <div>
                <p>For security reasons, we cannot tell you here if the LPA has been registered or not.</p>

                <p>{{ lpa.document.correspondent.name.title }} {{ lpa.document.correspondent.name.first }} {{ lpa.document.correspondent.name.last }} will receive the LPA in the post, along with a letter saying if the LPA:

                <ul class="list list-bullet" style="font-weight:normal;">
                    <li>has been registered</li>
                    <li>could not be registered - we’ll also say why we could not register it and what to do next</li>
                </ul>

                {% if returnUnpaid != 'true' %}
                    <p>The donor and all attorneys on the LPA will get a letter telling them the outcome.</p>

                    <p>If the LPA has successfully been registered, the donor and attorneys will be able to use it
                    by creating an account on <a href="https://www.gov.uk/use-lasting-power-of-attorney">Use an LPA</a>
                    and adding the details provided in the letter.</p>
                {% endif %}

                <p>The letter and LPA were sent by second class post. If they have not arrived
                {% if shouldReceiveByDate != null %}
                    by <span data-cy="lpa-should-receive">{{ shouldReceiveByDate|date('d/m/y') }}</span>,
                {% else %}
                    after <span data-cy="lpa-should-receive">15 working days</span>,
                {% endif %}
                please call 0300 456 0300.</p>

                <p>Opening times: Monday, Tuesday, Thursday, Friday 9am to 5pm. Wednesday 10am to 5pm.</p>
            </div>

        {% elseif status == 'received' %}

            <div>
                <h2 class="heading-xlarge">We’ve received the LPA</h2>
            </div>
            <div>
                <p class="lede">When we've checked the LPA, we'll send a letter to the donor, the attorneys and the correspondent to let them know what happens next.</p>
                <p>It will take up to 16 weeks to register the LPA if there are no mistakes in the application.</p>
            </div>

        {% elseif status == 'completed' %}

            <div>
                <h2 class="heading-xlarge">You have completed the LPA application</h2>
            </div>
            <div>
                <p class="lede">This LPA was made before it was possible to track the progress of an LPA application online.</p>
                <p class="lede">If you have not posted the LPA to us yet, <a href="/contact#postal-address">here's the address to send it to</a>.</p>
            </div>

        {% endif %}

        <div>
            <a href="/user/dashboard">Back to your LPAs</a>
        </div>
    </div>
{% endblock content %}
