{% extends 'layout/twig/layout.twig' %}

{% block errorSummary %}
    {% include 'application/authenticated/about-you/partials/form-error-summary.twig' %}
{% endblock %}

{% block htmlTitle %}Your details - {% endblock %}
{% block pageTitle %}Your details{% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{% if (isNew) %}

    <div class="text">
        <p>First, please give us some information about yourself.</p>
        <p>You do not have to be the person the LPA is for – you might just be helping someone else make an LPA.</p>
        <p>You'll be able to use these details in any LPAs you make using this service.</p>
    </div>

{% else %}

    <p>Update your details.</p>

    <p><a href="{{ url('user/change-password') }}">Change Password</a></p>
    <p><a href="{{ url('user/change-email-address') }}">Change Email Address</a></p>
    <p><a href="{{ url('user/delete') }}">Delete Account</a></p>

{% endif %}

{# Set form fields variables #}
{% set title = form.get('name-title') %}
{% set firstName = form.get('name-first') %}
{% set lastName = form.get('name-last') %}
{% set dob = form.get('dob-date') %}
{% set dayOfBirth = dob.get('day') %}
{% set monthOfBirth = dob.get('month') %}
{% set yearOfBirth = dob.get('year') %}
{% set address1 = form.get('address-address1') %}
{% set address2 = form.get('address-address2') %}
{% set address3 = form.get('address-address3') %}
{% set postcode = form.get('address-postcode') %}

{# form fields config #}
{{ title.setAttributes({
    id: 'name-title',
    class: 'form-control'
}) ? ''}}

{{ firstName.setAttributes({
    id: 'name-first',
    class: 'form-control'
}) ? '' }}

{{ lastName.setAttributes({
    id: 'name-last',
    class: 'form-control'
}) ? '' }}

{{ dayOfBirth.setAttributes({
    id: 'dob-date-day',
    type: 'tel',
    class: 'form-control',
    maxlength: '2',
    min: '0',
    max: '31',
    pattern: '[0-9]*'
}) ? ''}}

{{ monthOfBirth.setAttributes({
    id: 'dob-date-month',
    type: 'tel',
    class: 'form-control',
    maxlength: '2',
    min: '0',
    max: '12',
    pattern: '[0-9]*'
 }) ? ''}}

{{ yearOfBirth.setAttributes({
    id: 'dob-date-year',
    type: 'tel',
    class: 'form-control',
    maxlength: '4',
    pattern: '[0-9]*'
})  ? ''}}

{{ address1.setAttributes({
    id: 'address-address1',
    class: 'form-control'
}) ? ''}}

{{ address2.setAttributes({
    id: 'address-address2',
    class: 'form-control'
}) ? ''}}

{{ address3.setAttributes({
    id: 'address-address3',
    class: 'form-control'
}) ? ''}}

{{ postcode.setAttributes({
    id: 'address-postcode',
    class: 'form-control'
}) ? ''}}

{# form fields labels #}
{{ address1.setOptions( {label: 'Address line 1'} ) ? '' }}
{{ address2.setOptions( {label: 'Address line 2'} ) ? '' }}
{{ address3.setOptions( {label: 'Address line 3'} ) ? '' }}
{{ postcode.setOptions( {label: 'Postcode'} ) ? '' }}
{{ title.setOptions( {label: 'Title'} ).setLabelAttributes( {id:'title-label'} ) ? '' }}
{{ firstName.setOptions( {label: 'First names'} ) ? '' }}
{{ lastName.setOptions( {label: 'Last name'} ) ? '' }}
{{ lastName.setOptions( {label: 'Last name'} ) ? '' }}
{{ dayOfBirth.setLabel('Day') ? '' }}
{{ monthOfBirth.setLabel('Month') ? '' }}
{{ yearOfBirth.setLabel('Year') ? '' }}

{# begin form #}
{{ form.prepare() ? '' }}
{{ form().openTag( form )|raw }}
    {{ formElement(form.getCsrf) }}

    <h2 class="heading-medium">What is your name?</h2>

    <fieldset>
        <legend class="visually-hidden">Name</legend>

        {{ macros.formGroup(title) }}
        {{ macros.formGroup(firstName) }}
        {{ macros.formGroup(lastName) }}

    </fieldset>

    <h2 class="heading-medium">What is your date of birth?</h2>

    <fieldset id="{{ dob.getAttribute('name') }}">
        <legend class="visually-hidden">Date of birth</legend>

        <div class="form-date {{ dob.getMessages|length >0 ? 'form-group-error'}}">
            <p class="form-hint">For example, 08 04 {{ 'now'|date('Y')-18 }}</p>

            <div class="error-group">
                {{ formElementErrorsV2(yearOfBirth) }}
                {{ formElementErrorsV2(monthOfBirth) }}
                {{ formElementErrorsV2(dayOfBirth) }}
                {{ formElementErrorsV2(dob) }}
            </div>

            <div class="form-group form-group-day {{ dob.getMessages|length > 0 ? 'form-group-error'}}">
                <label for="dob-date-day">Day</label>
                {{ formElement(dayOfBirth) }}
            </div>

            <div class="form-group form-group-month {{ dob.getMessages|length > 0 ? 'form-group-error'}}">
                <label for="dob-date-month">Month</label>
                {{ formElement(monthOfBirth) }}
            </div>

            <div class="form-group form-group-year {{ dob.getMessages|length > 0 ? 'form-group-error'}}">
                <label for="dob-date-year">Year</label>
                {{ formElement(yearOfBirth) }}
            </div>
        </div>

    </fieldset>

    <h2 class="heading-medium">What is your address?</h2>

    <fieldset class="js-PostcodeLookup">
        <legend class="visually-hidden">Address</legend>

        <div class="js-PostcodeLookup__postal-add">
            {{ macros.formGroup(address1) }}
            {{ macros.formGroup(address2) }}
            {{ macros.formGroup(address3) }}
            {{ macros.formGroup(postcode) }}
        </div>

    </fieldset>

    <input type="submit" name="save" id="save" class="button" value="Save and continue">

{{ form().closeTag|raw }}

{% endblock content %}