{% macro outputSection(sectionTitle, value, changeUrl, navigationReference, rowStyle, ariaLabelOverride) %}

    {% import _self as macros %}

    {% if navigationReference is empty %}
        {% set navigationReference = sectionTitle %}
    {% endif %}

    <div class="{{ (rowStyle ? rowStyle : '' ) }}">
        <dt class="cya-question">{{ sectionTitle|raw }}</dt>
        <dd class="cya-answer">{{ value|raw }}</dd>
        {{ macros.outputChangeLink(changeUrl, navigationReference, ariaLabelOverride ? ariaLabelOverride : 'Edit ' ~ sectionTitle) }}
    </div>

{% endmacro %}


{% macro outputChangeLink(changeUrl, navigationReference, ariaLabel) %}

    <dd class="cya-change">
        {% if changeUrl is not null %}
            <a href="{{ changeUrl|raw }}" data-journey-click="check your answers:link:navigation: {{ navigationReference }}"{% if ariaLabel %} aria-label="{{ ariaLabel }}"{% endif %}>Edit</a>
        {% endif %}
    </dd>

{% endmacro %}


{% macro outputActor(sectionHeading, data, changeUrl, navigationReference, ariaLabelOverride) %}

    {% import _self as macros %}

    {% if navigationReference is empty %}
        {% set navigationReference = sectionHeading %}
    {% endif %}

    {{ macros.outputSectionHeading(sectionHeading) }}

    {# Add the edit link into the name #}
    {% if data.name is defined and data.name is not empty %}
        {{ macros.outputSection(
            'Name',
            data.name,
            changeUrl,
            navigationReference,
            'actor-term',
            ariaLabelOverride ? ariaLabelOverride : 'Edit ' ~ sectionHeading
        ) }}
    {% endif %}

    {% if data.otherNames is defined and data.otherNames is not empty %}
        {{ macros.outputSection(
            'Other names',
            data.otherNames,
            null,
            null,
            'actor-term'
        ) }}
    {% endif %}

    {% if data.number is defined and data.number is not empty %}
        {{ macros.outputSection(
            'Company number',
            data.number,
            null,
            null,
            'actor-term'
        ) }}
    {% endif %}

    {% if data.company is defined and data.company is not empty %}
        {{ macros.outputSection(
            'Company name',
            data.company,
            (data.name is defined and data.name is not empty ? null : changeUrl),
            (data.name is defined and data.name is not empty ? null : navigationReference),
            'actor-term'
        ) }}
    {% endif %}

    {% if data.dob is defined %}
        {{ macros.outputSection(
            'Date of birth',
            data.dob.date.format('j F Y'),
            null,
            null,
            'actor-term'
        ) }}
    {% endif %}

    {% if data.email is defined and data.email is not empty %}
        {{ macros.outputSection(
            'Email address',
            data.email,
            null,
            null,
            'actor-term'
        ) }}
    {% endif %}

    {% if data.phone is defined and data.phone is not empty %}
        {{ macros.outputSection(
            'Phone number',
            data.phone.number,
            null,
            null,
            'actor-term'
        ) }}
    {% endif %}

    {% if data.address is defined %}
        {% set addressString = '' %}

        {% if data.address.address1 is defined %}
            {% set addressString = addressString ~ '<div itemprop="streetAddress">' ~ data.address.address1 ~ '</div>' %}
        {% endif %}
        {% if data.address.address2 is defined %}
            {% set addressString = addressString ~ '<div itemprop="addressLocality">' ~ data.address.address2 ~ '</div>' %}
        {% endif %}
        {% if data.address.address3 is defined %}
            {% set addressString = addressString ~ '<div itemprop="addressRegion">' ~ data.address.address3 ~ '</div>' %}
        {% endif %}
        {% if data.address.postcode is defined %}
            {% set addressString = addressString ~ '<div itemprop="postalCode">' ~ data.address.postcode ~ '</div>' %}
        {% endif %}

        {{ macros.outputSection(
            'Address',
            addressString,
            null,
            null,
            (data.canSign is defined ? 'actor-term' : 'actor-term-last')
        ) }}
    {% endif %}

    {% if data.canSign is defined %}
        {{ macros.outputSection(
            'The donor can physically sign or make a mark on the LPA',
            (data.canSign ? 'Yes' : 'No'),
            null,
            null,
            'actor-term-last'
        ) }}
    {% endif %}

{% endmacro %}


{% macro outputSectionHeading(sectionHeading) %}

    {% import _self as macros %}

    {{ macros.outputSection('<h3 class="heading-small">' ~ sectionHeading ~ '</h3>') }}

{% endmacro %}
