{% extends 'layout/layout.twig' %}

{%- set pageTitle = 'LPA Statistics' -%}

{% block content %}

{% if (generated == false) %}
    <p>LPA Statistics failed to generate</p>
{% else %}

    <p>Generated {{ generated }} in {{ generationTimeInMs }}ms</p>

    <h2 class="govuk-heading-m">Users</h2>

    <div class="mobile-scroll">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-table__header--numeric">Total no. of registered users</th>
                    <th class="govuk-table__header govuk-table__header--numeric">Total no. of activated users</th>
                    <th class="govuk-table__header govuk-table__header--numeric">No. of activated users this month</th>
                    <th class="govuk-table__header govuk-table__header--numeric">No. of deleted user accounts*</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell--numeric">{{ users.total }}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{{ users.activated }}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{{ users['activated-this-month'] }}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{{ users.deleted }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p>* since 17 December 2015</p>

    <h2 class="govuk-heading-m">Status by type</h2>

    {% if (lpas.generated == false) %}
        <p>Status by type failed to generate</p>
    {% else %}

        <p>Generated {{ lpas.generated }} in {{ lpas.generationTimeInMs }}ms</p>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Status</th>
                        <th class="govuk-table__header govuk-table__header--numeric">All applications</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Health and Welfare</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Property and Financial Affairs</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Started</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas.all.started }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['health-and-welfare'].started }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['property-and-finance'].started }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Created</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas.all.created }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['health-and-welfare'].created }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['property-and-finance'].created }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Waiting</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas.all.waiting }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['health-and-welfare'].waiting }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['property-and-finance'].waiting }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Checking</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas.all.checking }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['health-and-welfare'].checking }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['property-and-finance'].checking }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Received</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas.all.received }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['health-and-welfare'].received }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['property-and-finance'].received }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Processed</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas.all.processed }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['health-and-welfare'].processed }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['property-and-finance'].processed }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Completed</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas.all.completed }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['health-and-welfare'].completed }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['property-and-finance'].completed }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Total</strong></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas.all.started + lpas.all.created + lpas.all.waiting + lpas.all.checking + lpas.all.received + lpas.all.processed + lpas.all.completed }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['health-and-welfare'].started + lpas['health-and-welfare'].created + lpas['health-and-welfare'].waiting + lpas['health-and-welfare'].checking  +
                            lpas['health-and-welfare'].received  + lpas['health-and-welfare'].processed + lpas['health-and-welfare'].completed }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas['property-and-finance'].started + lpas['property-and-finance'].created + lpas['property-and-finance'].waiting + lpas['property-and-finance'].checking
                            + lpas['property-and-finance'].received + lpas['property-and-finance'].processed + lpas['property-and-finance'].completed }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Deleted</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas.all.deleted }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="govuk-heading-m">Status by date</h2>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Status</th>
                        {% for month,values in lpas['by-month'] %}
                            <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Started LPAs</td>
                        {% for month,values in lpas['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.started }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Created LPAs</td>
                        {% for month,values in lpas['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.created }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Waiting LPAs</td>
                        {% for month,values in lpas['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.waiting }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Received LPAs</td>
                        {% for month,values in lpas['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.received }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">LPAs being checked</td>
                        {% for month,values in lpas['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.checking }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Processed LPAs</td>
                        {% for month,values in lpas['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.processed }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

    {% endif %}

    <h2 class="govuk-heading-m">Type of users</h2>

    {% if (who.generated == false) %}
        <p>Type of users failed to generate</p>
    {% else %}

        <p>Generated {{ who.generated }} in {{ who.generationTimeInMs }}ms</p>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Type of user</th>
                        <th class="govuk-table__header govuk-table__header--numeric">All time</th>
                        {% for month,values in who['by-month'] %}
                            <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Donor</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ who.all.donor.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.donor.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Friend or family</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ who.all.friendOrFamily.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.friendOrFamily.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Finance professional</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ who.all.financeProfessional.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.financeProfessional.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Legal professional</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ who.all.legalProfessional.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.legalProfessional.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Estate planning professional</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ who.all.estatePlanningProfessional.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.estatePlanningProfessional.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Digital Partner</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ who.all.digitalPartner.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.digitalPartner.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Charity</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ who.all.charity.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.charity.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Another organisation</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ who.all.organisation.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.organisation.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Other</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ who.all.other.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.other.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Not said</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ who.all.notSaid.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.notSaid.count }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

    {% endif %}

    <h2 class="govuk-heading-m">Correspondence</h2>

    {% if (correspondence.generated == false) %}
        <p>Correspondence failed to generate</p>
    {% else %}

        <p>Generated {{ correspondence.generated }} in {{ correspondence.generationTimeInMs }}ms</p>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Status</th>
                        {% for month,values in correspondence['by-month'] %}
                            <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Completed LPAs</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Contact by email</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.contactByEmail }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Contact by phone</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.contactByPhone }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Contact by post</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.contactByPost }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Correspondence in English</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.contactInEnglish }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Correspondence in Welsh</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.contactInWelsh }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

    {% endif %}

    <h2 class="govuk-heading-m">Preferences and Instructions</h2>

    {% if (preferencesInstructions.generated == false) %}
        <p>Preferences and Instructions failed to generate</p>
    {% else %}

        <p>Generated {{ preferencesInstructions.generated }} in {{ preferencesInstructions.generationTimeInMs }}ms</p>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Status</th>
                        {% for month,values in preferencesInstructions['by-month'] %}
                            <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Completed LPAs</td>
                        {% for month,values in preferencesInstructions['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Preferences stated</td>
                        {% for month,values in preferencesInstructions['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.preferencesStated }}</td>
                        {% endfor %}
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Instructions stated</td>
                        {% for month,values in preferencesInstructions['by-month'] %}
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.instructionsStated }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

    {% endif %}

    <h2 class="govuk-heading-m">Applications</h2>

    {% if (lpasPerUser.generated == false) %}
        <p>Applications failed to generate</p>
    {% else %}

        <p>Generated {{ lpasPerUser.generated }} in {{ lpasPerUser.generationTimeInMs }}ms</p>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-table__header--numeric">Number of LPAs</th>
                    <th class="govuk-table__header govuk-table__header--numeric">Number of Users</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% for lpas, users in lpasPerUser.all %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ lpas }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ users }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

    {% if (options.generated == false) %}
        <p>Options failed to generate</p>
    {% else %}

        <h2 class="govuk-heading-m">LPA options</h2>

        <p>Generated {{ options.generated }} in {{ options.generationTimeInMs }}ms</p>

        <h3 class="govuk-heading-s">Type</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Health and Welfare</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.type['health-and-welfare'] }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Property and Financial Affairs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.type['property-and-financial'] }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">Donor can sign</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Yes</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.canSign.true }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">No</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.canSign.false }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">Has replacement attorneys</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Yes</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.replacementAttorneys.yes }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">No</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.replacementAttorneys.no }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Multiple</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.replacementAttorneys.multiple }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">Has people to notify</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Yes</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.peopleToNotify.yes }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">No</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.peopleToNotify.no }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Multiple</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.peopleToNotify.multiple }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">Who is registering</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Donor</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.whoIsRegistering.donor }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Attorneys</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.whoIsRegistering.attorneys }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">Repeat application</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Yes</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.repeatCaseNumber.yes }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">No</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.repeatCaseNumber.no }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">Payments</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">By card</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.payment.card }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">By cheque</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.payment.cheque }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">No fee - benefits</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.payment.reducedFeeReceivesBenefits }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">No fee - Universal Credit</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.payment.reducedFeeUniversalCredit }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Reduced fee - low income</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.payment.reducedFeeLowIncome }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Full fee</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.payment.notApply }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">When LPA can be used</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">As soon as it's registered</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.primaryAttorneyDecisions.when['now'] }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Only if I do not have mental capacity</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.primaryAttorneyDecisions.when['no-capacity'] }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">How primary attorneys make decisions</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Multiple primary attorneys</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.primaryAttorneys.multiple }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Jointly and severally</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.primaryAttorneyDecisions.how['jointly-attorney-severally'] }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Jointly</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.primaryAttorneyDecisions.how['jointly'] }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Jointly for some decisions, jointly and severally for other decisions</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.primaryAttorneyDecisions.how['depends'] }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">Health and welfare only</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Health and welfare LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.type['health-and-welfare'] }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Attorneys can make decisions about life-sustaining treatment</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.primaryAttorneyDecisions.canSustainLife.true }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Attorneys cannot make decisions about life-sustaining treatment</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.primaryAttorneyDecisions.canSustainLife.false }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">When replacement attorneys step in</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Have replacement attorneys</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.replacementAttorneys.yes }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">As soon as one of the original attorneys can no longer act</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.replacementAttorneyDecisions.when['first'] }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Only when none of the original attorneys can act</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.replacementAttorneyDecisions.when['last'] }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">In some other way...</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.replacementAttorneyDecisions.when['depends'] }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">How replacement attorneys make decisions</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Multiple replacement attorneys</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.replacementAttorneys.multiple }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Jointly and severally</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.replacementAttorneyDecisions.how['jointly-attorney-severally'] }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Jointly</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.replacementAttorneyDecisions.how['jointly'] }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Jointly for some decisions, jointly and severally for other decisions</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.replacementAttorneyDecisions.how['depends'] }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">Trust corporations</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">A primary attorney is a trust corporation</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.trust.primaryAttorneys }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">A replacement attorney is a trust corporation</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.trust.replacementAttorneys }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="govuk-heading-s">Skipped certificate provider</h3>

        <div class="mobile-scroll">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="govuk-table__header govuk-table__header--numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Yes</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.certificateProviderSkipped.yes }}</td>
                    {% endfor %}
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">No</td>
                    {% for month,values in options['by-month'] %}
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ values.certificateProviderSkipped.no }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

    {% endif %}

{% endif %}

{% endblock content %}
