{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Last steps - {% endblock %}
{% block pageTitle %}Last steps{% endblock %}

{% block content %}

<div class="text">

    {% if not isPaymentSkipped %}

        <h2 class="heading-large">Payment received</h2>

        <p>Thank you for your payment of <strong class="bold-small">&pound;{{ paymentAmount|number_format(2, '.', ',') }}</strong></p>

        <p>Your payment reference number is <strong class="bold-small">{{ paymentReferenceNo }}</strong></p>

    {% endif %}


    <h2 class="heading-large">Print and sign your LPA</h2>

    <p>Your LPA reference number is <strong class="bold-small">{{ formatLpaId(lpa.id) }}</strong></p>

    <p>You’re now ready to print and sign the complete {{ lpa.document.type == 'property-and-financial' ? 'property and financial affairs' : 'health and welfare' }} LPA document for {{ lpa.document.donor.name }}, then send it to the Office of the Public Guardian.</p>

    <p>It’s essential that you sign the parts of the LPA in the right order. If you sign in the wrong order, it will delay your registration.</p>

    <p><a class="js-guidance" href="/guide#topic-signing-the-lpa" data-journey-click="page:link:help: -This guide- show you how to sign">This guide</a> shows you how to sign in the right order – you can then use <a href="{{ dateCheckUrl }}" data-journey-click="page:link:navigation: -this tool- to check">this tool</a> to check you’ve got it right.</p>

    <p>If you sign in the wrong order, you’ll need to print and sign the relevant parts of the LPA again.</p>

    <p><strong class="bold-small">If you have paid online, the fee will be returned to you if OPG have not received your signed LPA by {{ lpa.completedAt|date_modify("+40 day")|date('d/m/Y') }}. You can still send the LPA to OPG after {{ lpa.completedAt|date_modify("+40 day")|date('d/m/Y') }} but you will be contacted to pay again if you’ve been refunded. If paying by cheque, post this to us with your signed LPA.</strong></p>

    <div class="panel-cta">
        <div class="panel-body">
            <ul class="list iconlinks flush hard text-left">
                <li class="iconlinks-item">
                    <a class="iconlinks-link" href="{{ lp1Url }}" target="_blank" data-journey-click="page:link:download: Download your print-ready LPA form">
                        <i class="icon icon-file-download"></i>
                        <span class="iconlinks-text">Download your print-ready LPA form</span>
                    </a>
                </li>

                {% if lpa120Url %}
                    <li class="iconlinks-item">
                        <a class="iconlinks-link" href="{{ lpa120Url }}" target="_blank" data-journey-click="page:link:download: Download your fee remissions and exemption form">
                            <i class="icon icon-file-download"></i>
                            <span class="iconlinks-text">Download your fee remissions and exemption form</span>
                        </a>
                    </li>
                {% endif %}

                {% if lp3Url %}
                    <li class="iconlinks-item">
                        <a class="iconlinks-link" href="{{ lp3Url }}" target="_blank" data-journey-click="page:link:download: Download the letter to send to your 'people to notify' (PDF)">
                            <i class="icon icon-file-download"></i>
                            <span class="iconlinks-text">Download the letter to send to your 'people to notify' (PDF)</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <p>If you cannot view the LPA, you'll need to download a PDF reader like <a target="_blank" href="https://get.adobe.com/uk/reader/" data-journey-click="page:link:external: Acrobat Reader">Acrobat Reader</a>.</p>

    <h2 class="heading-large">Post your LPA to the Office of the Public Guardian</h2>

    <p>You need to send us:</p>

    <ul class="list list-bullet">
        <li>Your signed LPA (all sections, from 1-15)</li>
        <li>If you're applying for a fee reduction
            <ul>
                <li>a completed application form for your exemption (LPA 120A)</li>
                <li>evidence to support this application</li>
            </ul>
        </li>
    </ul>

    <p>And if you're paying by cheque:</p>

    <ul class="list list-bullet">
        <li>A cheque for the application fee, payable to ‘Office of the Public Guardian’</li>
    </ul>

    <p>Post all documents to this address:</p>

    <p>
        <strong class="bold-small">
            Office of the Public Guardian<br>
            PO Box 16185<br>
            Birmingham<br>
            B2 2WH
        </strong>
    </p>

    {% if peopleToNotify %}
        <p>If you've not already done so, remember to send the notification letter to {{ concatNames(peopleToNotify) }} as well.</p>
    {% endif %}


    <h2 class="heading-large">What happens next?</h2>

    <p>The Office of the Public Guardian will send you an acknowledgement letter 2 to 3 weeks after we receive your signed LPA. It will take 8 to 10 weeks in total to register the LPA if there are no mistakes in the application. This includes a waiting period in which anyone entitled to object to the registration of the LPA can lodge their objection. This waiting period is an important safeguard and is required by law.</p>

    <p>We'll send the registered LPA and any correspondence to {{ correspondentName }}.</p>


    <h2 class="heading-large">Create another LPA?</h2>

    <ul class="list">
        <li>
            <a href="{{ cloneUrl }}" data-journey-click="page:link:reuse: Make an LPA based on this one">Make an LPA based on this one</a> (you'll be able to add people in a single click).
        </li>
        <li>
            <a href="/user/dashboard/create" data-journey-click="page:link:create new: Make an LPA from scratch">Make an LPA from scratch</a>
        </li>
    </ul>


    <h2 class="heading-large">Finished?</h2>

    <ul class="list">
        <li>
            <a href="/user/dashboard" data-journey-click="page:link:navigation: View my LPAs">View my LPAs</a>
        </li>
        <li>
            <a href="/logout" data-journey-click="page:link:signout: Sign out of this service">Sign out of this service</a>
        </li>
    </ul>

</div>

{% endblock %}