{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}View LPA documents - {% endblock %}
{% block pageTitle %}View LPA documents{% endblock %}

{% if lpa.payment.reducedFeeReceivesBenefits %}
    {% set feeBenefits = true %}
{% elseif lpa.payment.reducedFeeUniversalCredit %}
    {% set feeUC = true %}
{% elseif lpa.payment.reducedFeeLowIncome %}
    {% set feeLowIncome = true %}
{% else %}
    {% set feeFull = true %}
{% endif %}

{% block content %}

<style>
    .checkme { color: yellow; border: 1px solid yellow; }
</style>

<div class="text">

    {{ isPaymentSkipped }}

    <h3 class="heading-medium">{{ lpa.document.type == 'property-and-financial' ? 'Property and financial affairs LPA' : 'Health and welfare LPA' }}</h3>

    <p>You're now ready to print and sign the complete {{ lpa.document.type == 'property-and-financial' ? 'property and financial affairs' : 'health and welfare' }} LPA document for {{ lpa.document.donor.name }}, then post it to the Office of the Public Guardian – if you have not already done so.</p>

    <h3 class="heading-medium">What you need to do</h3>

    <ol class="list list-number">
        <li>Download and print the LPA, and get it signed and dated in the right order</li>

        {# fee options 2 or 3 (UC or low income) #}
        {% if feeUC or feeLowIncome %}
            <li>Download, print, sign and date the fee remission form, and gather the proof needed</li>
        {% endif %}

        {# fee option 1 (benefits) #}
        {% if feeBenefits %}
            <li>Download, print, sign and date the fee exemption form, and gather the proof needed</li>
        {% endif %}

        {# If "person to notify" #}
        {% if peopleToNotify %}
            <li>Download and print the people to notify form - give one to each person to notify</li>
        {% endif %}

        {# fee option 4 (no reductions) and cheque #}
        <li>Post the LPA to OPG, along with a £«fee» cheque for the application fee</li>

        {# fee option 4 (no reductions) and paid online #}
        <li>Post the LPA to OPG</li>

        {# fee option 3 (low income) and cheque #}
        <li>Post the LPA to OPG, along with the fee remission form, proof of the donor’s low income, and a £«fee» cheque for the application fee</li>

        {# fee option 3 (low income) and paid online #}
        <li>Post the LPA to OPG, along with the fee remission form and proof of the donor’s low income</li>

        {# fee option 2 (UC) #}
        {% if feeUC %}
            <li>Post the LPA to OPG, along with the fee remission form and proof of the donor’s benefits</li>
        {% endif %}

        {# fee option 1 (benefits) #}
        {% if feeBenefits %}
            <li>Post the LPA to OPG, along with the fee exemption form and proof of the donor’s benefits</li>
        {% endif %}

    </ol>


    <h2 class="heading-large">Documents</h2>

    <div class="panel-cta">
        <div class="panel-body">
            <ul class="list iconlinks flush hard text-left">
                <li class="iconlinks-item">
                    <a class="iconlinks-link" href="{{ lp1Url }}" target="_blank" data-journey-click="page:link:download: Download your print-ready LPA form">
                        <i class="icon icon-file-download"></i>
                        <span class="iconlinks-text">Download your print-ready LPA form</span>
                    </a>
                </li>

                {# Split remissions and exemptions - same link though #}
                {# Exemptions is fee option 1 #}
                {# Remission is fee options 2 and 3 #}

                {% if lpa120Url %}
                    <li class="iconlinks-item">
                        <a class="iconlinks-link" href="{{ lpa120Url }}" target="_blank" data-journey-click="page:link:download: Download your fee remissions and exemption form">
                            <i class="icon icon-file-download"></i>
                            <span class="iconlinks-text">Download your fee remissions and exemption form</span>
                        </a>
                    </li>
                {% endif %}

                {% if lp3Url %}
                    <li class="iconlinks-item">
                        <a class="iconlinks-link" href="{{ lp3Url }}" target="_blank" data-journey-click="page:link:download: Download the letter to send to your 'people to notify' (PDF)">
                            <i class="icon icon-file-download"></i>
                            <span class="iconlinks-text">Download the letter to send to your 'people to notify' (PDF)</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <p>If you cannot view the documents, you'll need to download a PDF reader like <a target="_blank" href="https://get.adobe.com/uk/reader/" data-journey-click="page:link:external: Acrobat Reader">Acrobat Reader</a>.</p>


    <h2 class="heading-large">Sign the LPA in the right order</h2>

    <p>The different sections of the LPA must be signed in the right order. If they’re not, we cannot register the LPA.</p>

    <p><a class="js-guidance" href="/guide#topic-signing-the-lpa" data-journey-click="page:link:help: -This guide- shows you how to sign">This guide</a> shows you how to sign in the right order.</p>

    <p>Once the LPA has been signed, you can use <a href="{{ dateCheckUrl }}" data-journey-click="page:link:navigation: -this tool- to check">this tool</a> to check you’ve got it right before you send the LPA to us. If you find the LPA has been signed in the wrong order, you'll need to print the relevant sections of the LPA and get them signed again.</p>


    <h2 class="heading-large">Found a mistake in the LPA?</h2>

    <p>If you spot a mistake in the LPA, do not cross anything out or write anything on the LPA - if you do, we may not be able to register it.</p>

    <p>Find out what to do if you’ve <a href="#" class="checkme">found a mistake in the LPA</a>.</p>


    <h2 class="heading-large">Post your LPA to the Office of the Public Guardian</h2>

    <p>You need to send us:</p>

    <ul class="list list-bullet">
        <li>the signed LPA (all sections from 1 to 15, including any blank pages)</li>

        {# fee options 2 or 3 (UC or low income) #}
        <li>the signed fee remission form</li>

        {# fee option 1 (benefits) #}
        <li>the signed fee exemption form</li>

        {# fee option 3 (low income) #}
        <li>proof of the donor's low income</li>

        {# fee option 1 or 2 (benefits or UC) #}
        <li>proof of the donor’s benefits</li>

        {# cheque #}
        <li>a cheque for the £«fee» application fee, payable to ‘Office of the Public Guardian'</li>

    </ul>

    <p>
        <strong class="bold-small">
            Office of the Public Guardian<br>
            PO Box 16185<br>
            Birmingham<br>
            B2 2WH
        </strong>
    </p>

    {# If paid online #}
    <p><strong class="bold-small">The application fee will be returned to you if OPG have not received your signed LPA by <span class="checkme">29/09/2018</span>. You can still send the LPA to us after this date, but if you’ve been refunded, we’ll contact you to arrange payment.</strong></p>


    <h2 class="heading-large">What happens next?</h2>

    <p>The Office of the Public Guardian will send the donor, the attorneys and the correspondent an acknowledgement letter 2 to 3 weeks after we receive the signed LPA.</p>

    <p>It will take 8 to 10 weeks to register the LPA if there are no mistakes in the application. This includes a 4 week waiting period during which people can object to the registration of the LPA. This waiting period is an important safeguard and is required by law.</p>

    <p>If there are no problems with the LPA, we'll register it and send it to the correspondent, {{ correspondentName }}. If we cannot register the LPA, we'll write to the correspondent to let them know.</p>


    <h2 class="heading-large">Make another LPA?</h2>

    <ul class="list">
        <li>
            <a href="{{ cloneUrl }}" data-journey-click="page:link:reuse: Make an LPA based on this one">Make an LPA based on this one</a> (you'll be able to add people in a single click).
        </li>
        <li>
            <a href="/user/dashboard/create" data-journey-click="page:link:create new: Make an LPA from scratch">Make an LPA from scratch</a>
        </li>
    </ul>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>












    <p><strong class="bold-small">If you have paid online, the fee will be returned to you if OPG have not received your signed LPA by {{ lpa.completedAt|date_modify("+40 day")|date('d/m/Y') }}. You can still send the LPA to OPG after {{ lpa.completedAt|date_modify("+40 day")|date('d/m/Y') }} but you will be contacted to pay again if you’ve been refunded. If paying by cheque, post this to us with your signed LPA.</strong></p>


</div>

{% endblock %}