{% extends 'layout/twig/layout.twig' %}

{% block content %}

<div class="accordion-content">

	<p>This document is for reference only. If you need to change anything in your LPA you'll have to create a new one.</p>

	<h2>LPA form</h2>
	<div class="form-download">
		<p><a id="registration_fm_lnk" class="pdf_dl_lnk" href="{{ lp1Url }}" target="_blank">Download your print-ready LPA form (PDF)</a></p>

		{% if (lpa120Url) %}
		  	<h2>Remission form</h2>
		    <p><a id="notification_lnk" class="pdf_dl_lnk" href="{{ lpa120Url }}" target="_blank">Download the fee remission form (PDF)</a></p>
		{% endif %}

		{% if (lp3Url) %}
		  	<h2>Notification letters</h2>
		 	<p><a id="notification_lnk" class="pdf_dl_lnk" href="{{ lp3Url }}" target="_blank">Download the letter to send to your 'people to notify' (PDF)</a></p>
		{% endif %}
		
	</div>

	<h2>Post your LPA to the Office of the Public Guardian</h2>

	<p>You need to send us:</p>

	<ul>
	    <li>Your signed LPA (all sections, from 1-15)</li>
	    <li>If you're applying for a fee reduction
	        <ul>
	            <li>a completed application form for your exemption (LPA 120A)</li>
	            <li>evidence to support this application</li>
	        </ul>
	    </li>
	</ul>

	<p>And if you're paying by cheque:</p>

	<ul>
	    <li>A cheque for the application fee, payable to ‘Office of the Public Guardian’</li>
	</ul>

	<p>Post all documents to this address:</p>

	<p><strong>
	        Office of the Public Guardian<br>
	        PO Box 16185<br>
	        Birmingham<br>
	        B2 2WH
	    </strong></p>

	{% if (peopleToNotify) %}                     
	    <p>If you've not already done so, remember to send the notification letter to {{ concatNames(peopleToNotify) }} as well.</p>
	{% endif %}            

	<h2>What happens next?</h2>

	<p>It will take 8 to 10 weeks to register the LPA if there are no mistakes in the application. This includes a
	    waiting period in which anyone entitled to object to the registration of the LPA can lodge their objection.
	    This waiting period is an important safeguard and is required by law.</p>

	<p>We'll send the registered LPA and any correspondence to {{ correspondentName }}.</p>

    <h2>Create another LPA?</h2>

    <p><a href="{{ cloneUrl }}">Make an LPA based on this one</a> (you'll be able to add people in a single click).</p>

    <p><a href="/user/dashboard/create">Make an LPA from scratch</a>.</p>

                        
</div>

{% endblock %}