{% extends 'layout/twig/layout.twig' %}

{% import "application/macros.twig" as macros %}

{% block errorSummary %}
    {# Error summary #}
    {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}
{% endblock %}

{% block pageTitle %}
    Check signature dates
{% endblock %}

{% block content %}


{% if valid is defined %}

	<div class="text">
		<div style="background-repeat: no-repeat; background-position: 10px 50%; border-left:6px solid #28A197; margin-top:1em; margin-bottom:2em; padding:1em 1em 1em 1.5em; font-size:1.5em; background-color:#EBF5F4; background-image:url('/assets/v1/images/icon/progress-tick.png')">
	    	The LPA was signed in the correct order.
	    	{% if ('dashboard' in returnRoute) %}
	    	Return to dashboard
	    	{% else %}
	    	Return to your LPA
	    	{% endif %}
	    	<a class="button" style='float: right;' href="{{ returnRoute }}" role="button">
	    	{{ buttonText }}
	    	</a>
		</div>
	</div>
    
{% else %}

	{% set form = formErrorTextExchange(form,  {
		'sign-date-donor-life-sustaining': {
			'Value is required and can\'t be empty': 'Please enter the signature date'
		},
		'sign-date-donor': {
			'Value is required and can\'t be empty': 'Please enter the signature date'
		},
		'sign-date-certificate-provider': {
			'Value is required and can\'t be empty': 'Please enter the signature date'
		},
		'sign-date-attorney-0': {
			'Value is required and can\'t be empty': 'Please enter the signature date'
		},
		'sign-date-attorney-1': {
			'Value is required and can\'t be empty': 'Please enter the signature date'
		},
		'sign-date-attorney-2': {
			'Value is required and can\'t be empty': 'Please enter the signature date'
		},
		'sign-date-replacement-attorney-0': {
			'Value is required and can\'t be empty': 'Please enter the signature date'
		},
		'sign-date-replacement-attorney-1': {
			'Value is required and can\'t be empty': 'Please enter the signature date'
		},
		'sign-date-replacement-attorney-2': {
			'Value is required and can\'t be empty': 'Please enter the signature date'
		}
	}) %}

	{# Set form fields variables #}
	{% set donorElement = form.get('sign-date-donor') %}
	{% set certificateProviderElement = form.get('sign-date-certificate-provider') %}

	{# form fields config #}
	{{ donorElement.setAttributes({
		placeholder: 'DD/MM/YYYY',
		class: 'form-control'
	}) ? '' }}

	{{ certificateProviderElement.setAttributes({
		placeholder: 'DD/MM/YYYY',
		class: 'form-control'
	}) ? '' }}

	{% if form.has('sign-date-donor-life-sustaining') %}

		{% set donorLifeSustainingElement = form.get('sign-date-donor-life-sustaining') %}

		{{ donorLifeSustainingElement.setAttributes({
			placeholder: 'DD/MM/YYYY',
			class: 'form-control'
		}) ? '' }}

	{% endif %}

{% if dateError is defined %}

	<div style="border:2px solid red; margin-top:1em; padding:1em; color:#ffffff; font-size:1.5em; background-color:#bb0000">
		There was a problem with the order in which the LPA was signed. 
		<br>
		{{ dateError }}
		<br>
		Please see the <a href="/help/#topic-signing-the-lpa" style="color:#ffffff" class="js-guidance" data-journey-click="stageprompt.lpa:help:signing-the-lpa">guidance</a> on signing and, if necessary,
		<a href="{{ url( 'lpa/view-docs', {'lpa-id': lpa.id}) }}">reprint</a> and re-sign your LPA.
	</div>

{% endif %}

	<div class="accordion-info">
		<div class="text">
			
			<p>This page is optional. It can be used to verify that your LPA has been <a href="/guide#topic-signing-the-lpa" class="js-guidance" data-journey-click="stageprompt.lpa:help:signing-the-lpa">signed in the correct order</a> before sending it to us.</p>

			<p>Please give the date each person below signed the LPA.</p>
		</div>
	</div>


	{# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }} 
        {{ formElement(form.get( form.csrfName )) }}
	
		<input type="hidden" name="returnRoute" value="{{ returnRoute }}">

		<div class="person person--full">
            <h3 class="person-name heading-small flush--ends">{{ lpa.document.donor.name }} (the donor)</h3>
			{% if donorLifeSustainingElement is defined %}
				<div class="person-address flush--ends">
					<p class="date-field {{ donorLifeSustainingElement.getMessages|length >0 ? 'error'}}">
						{{ formElementErrorsV2(donorLifeSustainingElement) }}
						<label for="donor">This person signed Section 5 of the LPA on</label>
						{{ formElement(donorLifeSustainingElement) }}
					</p>
				</div>
			{% endif %}
			<div class="person-address flush--ends">
				<p class="date-field {{ donorElement.getMessages|length >0 ? 'error'}}">
					{{ formElementErrorsV2(donorElement) }}
					<label for="donor">This person signed Section 9 of the LPA on</label>
					{{ formElement(donorElement) }}
				</p>
				<div class="panel panel-border-wide text">
					<p>Remember, if any continuation sheets 1 or 2 were used they must also have been signed by the donor at the same time as or before the donor signed Section 9.</p>
				</div>
			</div>
        </div>

        <div class="person person--full">
            <h3 class="person-name heading-small flush--ends">{{ lpa.document.certificateProvider.name }} (certificate provider)</h3>
			<div class="person-address flush--ends">
				<p class="date-field {{ certificateProviderElement.getMessages|length >0 ? 'error'}}">
					{{ formElementErrorsV2(certificateProviderElement) }}
					<label for="certificateProvider_0">This person signed Section 10 of the LPA on</label>
					{{ formElement(certificateProviderElement) }}
				</p>
			</div>
		</div>

		{% for idx, attorney in lpa.document.primaryAttorneys %}
		
			{% set element = form.get('sign-date-attorney-' ~ idx) %}
			{{ element.setAttributes({
				placeholder: 'DD/MM/YYYY',
				class: 'form-control'
			}) ? '' }}

			<div class="person person--full">
		        <h3 class="person-name heading-small flush--ends">{{ attorney.name }} (attorney)</h3>
				<div class="person-address flush--ends">
					<p class="date-field {{ element.getMessages|length >0 ? 'error'}}">
						{{ formElementErrorsV2(element) }}
						<label for="attorney_0">
							{% if attorney.dob is defined %}
							This person signed Section 11 of the LPA on
							{% else %}
							This corporation signed Continuation Sheet 4 of the LPA on
							{% endif %}
						</label>
						{{ formElement(element) }}
					</p>
				</div>
			</div>

		{% endfor %}

		{% for idx, attorney in lpa.document.replacementAttorneys %}

			{% set element = form.get('sign-date-replacement-attorney-' ~ idx) %}
			{{ element.setAttributes({
				placeholder: 'DD/MM/YYYY',
				class: 'form-control'
			}) ? '' }}

			<div class="person person--full">
		        <h3 class="person-name heading-small flush--ends">{{ attorney.name }} (replacement attorney)</h3>
				<div class="person-address flush--ends">
					<p class="date-field {{ element.getMessages|length >0 ? 'error'}}">
						{{ formElementErrorsV2(element) }}
						<label for="attorney_0">
							{% if attorney.dob is defined %}
							This person signed Section 11 of the LPA on
							{% else %}
							This corporation signed Continuation Sheet 4 of the LPA on
							{% endif %}
						</label>
						{{ formElement(element) }}
					</p>
				</div>
			</div>

		{% endfor %}

	    <div class="divorced">
	    	<input type="submit" name="save" value="Check dates" class="button">
	    </div>

    {{ form().closeTag|raw }}        

{% endif %}

{% endblock %}