{% extends 'layout/twig/layout.twig' %}

{% block errorSummary %}
    {% include 'application/general/auth/partials/error-summary.twig' %}
{% endblock %}

{% block htmlTitle %}Sign in - {% endblock %}
{% block pageTitle %}Sign in{% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Set form fields variables #}
{% set email = form.get('email') %}
{% set password = form.get('password') %}

{# form fields config #}
{{ email.setAttributes({
    id: 'email',
    class: 'form-control'
}) ? ''}}

{{ password.setAttributes({
    id: 'password',
    class: 'form-control'
}) ? '' }}

{# form fields labels #}
{{ email.setOptions({ label: 'Email address' }) ? '' }}
{{ password.setOptions( { label: 'Password' }) ? '' }}

<div class="moj-banner">
    <div class="moj-banner__message">
        <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
      C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z"></path>
        </svg>

        <h2 class="heading-medium"><a href="https://www.gov.uk/guidance/making-and-registering-an-lpa-during-the-coronavirus-outbreak">Read our guidance</a>  on making and registering a lasting power of attorney during the coronavirus outbreak</h2>
    </div>
</div>

<div class="panel">
    <p>
        <a  href="https://www.surveymonkey.co.uk/r/lastingpowerofattorney" target="_blank">Complete our short survey</a> to help us make our LPA service better
    </p>
</div>
<br>

<p>Sign in or <a href="{{ url('register') }}">create an account</a> to get started.</p>

{{ systemMessage() }}

{# begin form #}
{{ form.prepare() ? '' }}
{{ form().openTag( form )|raw }}

    <fieldset>
        <legend class="visually-hidden">Sign in</legend>

        {{ macros.formGroup(email) }}

        <div class="form-group {{ password.getMessages|length >0 ? 'form-group-error'}}">
            <label class="form-label" for="{{ password.getAttribute('id') }}">
                {{ password.getOption('label') }}
                {{ formElementErrorsV2(password) }}
            </label>
            {{ formElement(password) }}
            <div>
                <a href="#" class="hidden js-showHidePassword" data-for="password">Show password</a>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" name="submit" id="signin-form-submit" value="Sign in" class="button">
        </div>

    </fieldset>

{{ form().closeTag|raw }}

<p>
    <a href="{{ url('forgot-password') }}">Forgotten your password?</a>
</p>

{% endblock content %}
