{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}LPA Statistics - {% endblock %}
{% block pageTitle %}LPA Statistics{% endblock %}

{% block content %}

{% if (generated == false) %}
    <p>LPA Statistics failed to generate</p>
{% else %}

    <p>Generated {{ generated }} in {{ generationTimeInMs }}ms</p>

    <h2 class="heading-medium">Users</h2>

    <div class="mobile-scroll">
        <table>
            <thead>
                <tr>
                    <th class="numeric">Total no. of registered users</th>
                    <th class="numeric">Total no. of activated users</th>
                    <th class="numeric">No. of activated users this month</th>
                    <th class="numeric">No. of deleted user accounts*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="numeric">{{ users.total }}</td>
                    <td class="numeric">{{ users.activated }}</td>
                    <td class="numeric">{{ users['activated-this-month'] }}</td>
                    <td class="numeric">{{ users.deleted }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p>* since 17 December 2015</p>

    <h2 class="heading-medium">Status by type</h2>

    {% if (lpas.generated == false) %}
        <p>Status by type failed to generate</p>
    {% else %}

        <p>Generated {{ lpas.generated }} in {{ lpas.generationTimeInMs }}ms</p>

        <div class="mobile-scroll">
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th class="numeric">All applications</th>
                        <th class="numeric">Health and Welfare</th>
                        <th class="numeric">Property and Financial Affairs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Started</td>
                        <td class="numeric">{{ lpas.all.started }}</td>
                        <td class="numeric">{{ lpas['health-and-welfare'].started }}</td>
                        <td class="numeric">{{ lpas['property-and-finance'].started }}</td>
                    </tr>
                    <tr>
                        <td>Created</td>
                        <td class="numeric">{{ lpas.all.created }}</td>
                        <td class="numeric">{{ lpas['health-and-welfare'].created }}</td>
                        <td class="numeric">{{ lpas['property-and-finance'].created }}</td>
                    </tr>
                    <tr>
                        <td>Waiting</td>
                        <td class="numeric">{{ lpas.all.waiting }}</td>
                        <td class="numeric">{{ lpas['health-and-welfare'].waiting }}</td>
                        <td class="numeric">{{ lpas['property-and-finance'].waiting }}</td>
                    </tr>
                    <tr>
                        <td>Checking</td>
                        <td class="numeric">{{ lpas.all.checking }}</td>
                        <td class="numeric">{{ lpas['health-and-welfare'].checking }}</td>
                        <td class="numeric">{{ lpas['property-and-finance'].checking }}</td>
                    </tr>
                    <tr>
                        <td>Received</td>
                        <td class="numeric">{{ lpas.all.received }}</td>
                        <td class="numeric">{{ lpas['health-and-welfare'].received }}</td>
                        <td class="numeric">{{ lpas['property-and-finance'].received }}</td>
                    </tr>
                    <tr>
                        <td>Returned</td>
                        <td class="numeric">{{ lpas.all.returned }}</td>
                        <td class="numeric">{{ lpas['health-and-welfare'].returned }}</td>
                        <td class="numeric">{{ lpas['property-and-finance'].returned }}</td>
                    </tr>
                    <tr>
                        <td>Completed</td>
                        <td class="numeric">{{ lpas.all.completed }}</td>
                        <td class="numeric">{{ lpas['health-and-welfare'].completed }}</td>
                        <td class="numeric">{{ lpas['property-and-finance'].completed }}</td>
                    </tr>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td class="numeric">{{ lpas.all.started + lpas.all.created + lpas.all.waiting + lpas.all.checking + lpas.all.received + lpas.all.returned + lpas.all.completed }}</td>
                        <td class="numeric">{{ lpas['health-and-welfare'].started + lpas['health-and-welfare'].created + lpas['health-and-welfare'].waiting + lpas['health-and-welfare'].checking  +
                            lpas['health-and-welfare'].received  + lpas['health-and-welfare'].returned + lpas['health-and-welfare'].completed }}</td>
                        <td class="numeric">{{ lpas['property-and-finance'].started + lpas['property-and-finance'].created + lpas['property-and-finance'].waiting + lpas['property-and-finance'].checking
                            + lpas['property-and-finance'].received + lpas['property-and-finance'].returned + lpas['property-and-finance'].completed }}</td>
                    </tr>
                    <tr>
                        <td>Deleted</td>
                        <td class="numeric">{{ lpas.all.deleted }}</td>
                        <td class="numeric">&nbsp;</td>
                        <td class="numeric">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="heading-medium">Status by date</h2>

        <div class="mobile-scroll">
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        {% for month,values in lpas['by-month'] %}
                            <th class="numeric">{{ month }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Started LPAs</td>
                        {% for month,values in lpas['by-month'] %}
                            <td class="numeric">{{ values.started }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Created LPAs</td>
                        {% for month,values in lpas['by-month'] %}
                            <td class="numeric">{{ values.created }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Completed LPAs</td>
                        {% for month,values in lpas['by-month'] %}
                            <td class="numeric">{{ values.completed }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

    {% endif %}

    <h2 class="heading-medium">Type of users</h2>

    {% if (who.generated == false) %}
        <p>Type of users failed to generate</p>
    {% else %}

        <p>Generated {{ who.generated }} in {{ who.generationTimeInMs }}ms</p>

        <div class="mobile-scroll">
            <table>
                <thead>
                    <tr>
                        <th>Type of user</th>
                        <th class="numeric">All time</th>
                        {% for month,values in who['by-month'] %}
                            <th class="numeric">{{ month }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Donor</td>
                        <td class="numeric">{{ who.all.donor.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="numeric">{{ values.donor.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Friend or family</td>
                        <td class="numeric">{{ who.all.friendOrFamily.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="numeric">{{ values.friendOrFamily.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Finance professional</td>
                        <td class="numeric">{{ who.all.financeProfessional.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="numeric">{{ values.financeProfessional.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Legal professional</td>
                        <td class="numeric">{{ who.all.legalProfessional.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="numeric">{{ values.legalProfessional.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Estate planning professional</td>
                        <td class="numeric">{{ who.all.estatePlanningProfessional.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="numeric">{{ values.estatePlanningProfessional.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Digital Partner</td>
                        <td class="numeric">{{ who.all.digitalPartner.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="numeric">{{ values.digitalPartner.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Charity</td>
                        <td class="numeric">{{ who.all.charity.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="numeric">{{ values.charity.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Another organisation</td>
                        <td class="numeric">{{ who.all.organisation.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="numeric">{{ values.organisation.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td class="numeric">{{ who.all.other.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="numeric">{{ values.other.count }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Not said</td>
                        <td class="numeric">{{ who.all.notSaid.count }}</td>
                        {% for month,values in who['by-month'] %}
                            <td class="numeric">{{ values.notSaid.count }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

    {% endif %}

    <h2 class="heading-medium">Correspondence</h2>

    {% if (correspondence.generated == false) %}
        <p>Correspondence failed to generate</p>
    {% else %}

        <p>Generated {{ correspondence.generated }} in {{ correspondence.generationTimeInMs }}ms</p>

        <div class="mobile-scroll">
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        {% for month,values in correspondence['by-month'] %}
                            <th class="numeric">{{ month }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Completed LPAs</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="numeric">{{ values.completed }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Contact by email</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="numeric">{{ values.contactByEmail }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Contact by phone</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="numeric">{{ values.contactByPhone }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Contact by post</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="numeric">{{ values.contactByPost }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Correspondence in English</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="numeric">{{ values.contactInEnglish }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Correspondence in Welsh</td>
                        {% for month,values in correspondence['by-month'] %}
                            <td class="numeric">{{ values.contactInWelsh }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

    {% endif %}

    <h2 class="heading-medium">Preferences and Instructions</h2>

    {% if (preferencesInstructions.generated == false) %}
        <p>Preferences and Instructions failed to generate</p>
    {% else %}

        <p>Generated {{ preferencesInstructions.generated }} in {{ preferencesInstructions.generationTimeInMs }}ms</p>

        <div class="mobile-scroll">
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        {% for month,values in preferencesInstructions['by-month'] %}
                            <th class="numeric">{{ month }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Completed LPAs</td>
                        {% for month,values in preferencesInstructions['by-month'] %}
                            <td class="numeric">{{ values.completed }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Preferences stated</td>
                        {% for month,values in preferencesInstructions['by-month'] %}
                            <td class="numeric">{{ values.preferencesStated }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Instructions stated</td>
                        {% for month,values in preferencesInstructions['by-month'] %}
                            <td class="numeric">{{ values.instructionsStated }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

    {% endif %}

    <h2 class="heading-medium">Applications</h2>

    {% if (lpasPerUser.generated == false) %}
        <p>Applications failed to generate</p>
    {% else %}

        <p>Generated {{ lpasPerUser.generated }} in {{ lpasPerUser.generationTimeInMs }}ms</p>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th class="numeric">Number of LPAs</th>
                    <th class="numeric">Number of Users</th>
                </tr>
                </thead>
                <tbody>
                {% for lpas, users in lpasPerUser.all %}
                    <tr>
                        <td class="numeric">{{ lpas }}</td>
                        <td class="numeric">{{ users }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

    {% if (options.generated == false) %}
        <p>Options failed to generate</p>
    {% else %}

        <h2 class="heading-medium">LPA options</h2>

        <p>Generated {{ options.generated }} in {{ options.generationTimeInMs }}ms</p>

        <h3 class="heading-small">Type</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Health and Welfare</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.type['health-and-welfare'] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Property and Financial Affairs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.type['property-and-financial'] }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">Donor can sign</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Yes</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.canSign.true }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>No</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.canSign.false }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">Has replacement attorneys</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Yes</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.replacementAttorneys.yes }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>No</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.replacementAttorneys.no }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Multiple</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.replacementAttorneys.multiple }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">Has people to notify</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Yes</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.peopleToNotify.yes }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>No</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.peopleToNotify.no }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Multiple</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.peopleToNotify.multiple }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">Who is registering</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Donor</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.whoIsRegistering.donor }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Attorneys</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.whoIsRegistering.attorneys }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">Repeat application</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Yes</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.repeatCaseNumber.yes }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>No</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.repeatCaseNumber.no }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">Payments</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>By card</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.payment.card }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>By cheque</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.payment.cheque }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>No fee - benefits</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.payment.reducedFeeReceivesBenefits }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>No fee - Universal Credit</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.payment.reducedFeeUniversalCredit }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Reduced fee - low income</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.payment.reducedFeeLowIncome }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Full fee</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.payment.notApply }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">When LPA can be used</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>As soon as it's registered</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.primaryAttorneyDecisions.when['now'] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Only if I do not have mental capacity</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.primaryAttorneyDecisions.when['no-capacity'] }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">How primary attorneys make decisions</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Multiple primary attorneys</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.primaryAttorneys.multiple }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Jointly and severally</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.primaryAttorneyDecisions.how['jointly-attorney-severally'] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Jointly</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.primaryAttorneyDecisions.how['jointly'] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Jointly for some decisions, jointly and severally for other decisions</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.primaryAttorneyDecisions.how['depends'] }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">Health and welfare only</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Health and welfare LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.type['health-and-welfare'] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Attorneys can make decisions about life-sustaining treatment</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.primaryAttorneyDecisions.canSustainLife.true }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Attorneys cannot make decisions about life-sustaining treatment</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.primaryAttorneyDecisions.canSustainLife.false }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">When replacement attorneys step in</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Have replacement attorneys</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.replacementAttorneys.yes }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>As soon as one of the original attorneys can no longer act</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.replacementAttorneyDecisions.when['first'] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Only when none of the original attorneys can act</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.replacementAttorneyDecisions.when['last'] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>In some other way...</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.replacementAttorneyDecisions.when['depends'] }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">How replacement attorneys make decisions</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Multiple replacement attorneys</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.replacementAttorneys.multiple }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Jointly and severally</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.replacementAttorneyDecisions.how['jointly-attorney-severally'] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Jointly</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.replacementAttorneyDecisions.how['jointly'] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Jointly for some decisions, jointly and severally for other decisions</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.replacementAttorneyDecisions.how['depends'] }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">Trust corporations</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>A primary attorney is a trust corporation</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.trust.primaryAttorneys }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>A replacement attorney is a trust corporation</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.trust.replacementAttorneys }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

        <h3 class="heading-small">Skipped certificate provider</h3>

        <div class="mobile-scroll">
            <table>
                <thead>
                <tr>
                    <th>Option</th>
                    {% for month,values in options['by-month'] %}
                        <th class="numeric">{{ month }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Completed LPAs</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.completed }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Yes</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.certificateProviderSkipped.yes }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>No</td>
                    {% for month,values in options['by-month'] %}
                        <td class="numeric">{{ values.certificateProviderSkipped.no }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

    {% endif %}

{% endif %}

{% endblock content %}
