{% extends 'layout/twig/layout.twig' %}

{% set form = formErrorTextExchange(form, []) %}

{% set password = form.get('password_current').setOptions({ label: 'Your current password' }) %}
{% set new_password = form.get('password').setOptions({ label: 'New password' })  %}
{% set new_password_confirm = form.get('password_confirm').setOptions({ label: 'Re-enter new password' }) %}

{% set form = formErrorTextExchange(form,  {
    'password_current' : {
        'is-incorrect' : 'Your password is incorrect',
        'cannot-be-empty' : 'Please enter your current password'
    },
    'password' : {
        'cannot-be-empty' : 'Please enter your new password',
        'min-length-8' : 'Your new password must be at least eight characters long',
        'must-include-digit' : 'Your new password must include at least one digit (0-9)',
        'must-include-lower-case' : 'Your new password must include at least one lower case letter (a-z)',
        'must-include-upper-case' : 'Your new password must include at least one capital letter (A-Z)',
    },
    'password_confirm' : {
        'did-not-match' : 'The passwords did not match',
        'cannot-be-empty' : 'Please confirm your new password'
    }
    
}) %}

{% block errorSummary %}
    {% include 'application/change-password/partials/index-error-summary.twig' %}
{% endblock %}

{% block pageTitle %}
    Change your password
{% endblock %}

{% block content %}

{{ password.setAttributes({
    id: 'password_current',
    autocomplete: 'off',
    class: 'form-control'
}) ? ''}}

{{ new_password.setAttributes({
    id: 'email',
    autocomplete: 'off',
    class: 'form-control'
}) ? ''}}

{{ new_password_confirm.setAttributes({
    id: 'email_confirm',
    autocomplete: 'off',
    class: 'form-control'
}) ? ''}}

{{ form.prepare() ? '' }}

{{ form().openTag( form )|raw }}

    {{ formElement(form.get( form.csrfName )) }}

    <fieldset>
        <legend class="visuallyhidden">Change email address</legend>

        <div class="form-group {{ password.getMessages|length >0 ? 'error'}}">
            <label class="form-label" for="{{ password.getAttribute('id') }}">
                <span class="form-label-bold">{{ password.getOption('label') }}</span>
                {{ formElementErrorsV2(password) }}
            </label>
            {{ formElement(password) }}
        </div>

        <div class="form-group {{ new_password.getMessages|length >0 ? 'error'}}">
            <label class="form-label" for="{{ new_password.getAttribute('id') }}">
                <span class="form-label-bold">{{ new_password.getOption('label') }}</span>
                {{ formElementErrorsV2(new_password) }}
            </label>
            {{ formElement(new_password) }}
        </div>

        <div class="form-group {{ new_password_confirm.getMessages|length >0 ? 'error'}}">
            <label class="form-label" for="{{ new_password_confirm.getAttribute('id') }}">
                <span class="form-label-bold">{{ new_password_confirm.getOption('label') }}</span>
                {{ formElementErrorsV2(new_password_confirm) }}
            </label>
            {{ formElement(new_password_confirm) }}
        </div>

        <div class="form-group">
            <input type="submit" name="submit" id="signin-form-submit" class="button" value="Save new password">
        </div>

    </fieldset>

{{ form().closeTag|raw }}

{% endblock content %}
