{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}Repeat application - {% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}
{% set form = formErrorTextExchange(form,  {
    'isRepeatApplication' : {
        "Value is required and can't be empty": 'Please choose Yes or No',
    },
    'repeatCaseNumber': {
        "Value is required and can't be empty": "If you are making a repeat application, you need to enter the case number given to you by the Office of the Public Guardian.",
    }
}) %}

{# Set form fields variables #}
{% set repeatCaseNumber = form.get('repeatCaseNumber') %}
{% set isRepeatApplication = form.get('isRepeatApplication') %}
{% set isRepeatApplicationValueOptions = isRepeatApplication.getOptions()['value_options'] %}

{% set isRepeatApplicationValueOptions = {
    'is-repeat': {
        label: "Yes",
        label_attributes: {
            for: 'is-repeat-application'
        },
        attributes: {
             id: 'is-repeat-application'
        },
        value: isRepeatApplicationValueOptions['is-repeat'].value
    },
    'is-new': {
        label: "No",
        label_attributes: {
            for: 'is-new'
        },
       attributes: {
            id: 'is-new'
        },
        value: isRepeatApplicationValueOptions['is-new'].value
    }
} %}

{# form fields config #}
{{ isRepeatApplication.setOptions({
    value_options: isRepeatApplicationValueOptions
}) ? '' }}

{{ isRepeatApplication.setLabelOptions({
    disable_html_escape: true
}) ? '' }}

{{ isRepeatApplication.setOptions({
    label_attributes: {'class': 'block-label'}
}) ? ''}}

{{ repeatCaseNumber.setAttributes({
    id: 'repeatCaseNumber',
    class: 'form-control'
}) ? '' }}

{# form fields labels #}
{{ repeatCaseNumber.setOptions({
    label: 'Case number'
}) ? '' }}

<li id="repeat-application-section" class="section current">

    <h2 class="heading-medium accordion-header flush--top">Are you making a repeat application to register your LPA?</h2>

    <div class="accordion-info">
        <div class="text">
            <details class="form-group">
                <summary data-journey-click="page:link.reveal:help: What is a repeat application?" role="button" aria-expanded="false">What is a repeat application?</summary>
                <div>
                    <p>A repeat application is when a previously submitted LPA can not be registered and has been sent back to you. It will contain instructions on how to submit a repeat application within 3 months for a reduced fee. You will need the case number from OPG’s letter saying that you can make a repeat application.</p>
                </div>
            </details>
        </div>
    </div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}

        {# Error summary #}
        {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}

        <fieldset id="isRepeatApplication" class="inline">
            <legend class="visually-hidden">Is this a repeat application?</legend>

            <div class="form-group {{ isRepeatApplication.getMessages|length > 0 ? 'error'}}">
                {{ formElementErrorsV2(isRepeatApplication) }}
                {{ formElement(isRepeatApplication) }}

                <div class="panel panel-border-narrow js-case-number js-hidden">
                    <h3 class="visually-hidden">Repeat application details</h3>

                    {{ macros.formGroup(repeatCaseNumber) }}

                    <div class="text">
                        <p>Your case number is in the letter that came with your returned LPA application.</p>

                        <p>By clicking on the Save and continue button, you confirm that the Office of the Public Guardian has told you that you can apply to make a repeat application for &pound;{{ lpaRepeatFee }} within 3 months.</p>
                    </div>

                </div>

            </div>

        </fieldset>

        <div class="form-group">
            {{ formElement(form.get('save')) }}
        </div>

    {{ form().closeTag|raw }}

</li>

{% endblock %}
