<li>
    <div class="person">
        <h3 class="person-name heading-small flush--ends">{{ attorney.name }}</h3>
        <p class="person-address flush--ends">{{ attorney.address }}</p>
        <ul class="person-actions">
            <li class="action-item">
                <a href="{{ editRoute }}" role="button" class="action-edit js-form-popup" aria-label="View/edit Replacement Attorney {{ attorney.name }}">View/edit details</a>
            </li>
            <li class="action-item">
                <a href="{{ confirmDeleteRoute }}" class="action-delete js-form-popup">Delete</a>
            </li>
        </ul>
    </div>
</li>
