{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}
    Direct WorldPay Percentage
{% endblock %}

{% set form = formErrorTextExchange(form, []) %}
{% set percentage = form.get('percentage') %}

{% block content %}

{% import "application/macros.twig" as macros %}

{{ percentage.setAttributes({
    id: 'percentage',
    min: 0,
    max: 100,
    class: 'form-control',
    required: 'required'
}) ? ''}}


{{ percentage.setOptions( { label: 'Percentage of users going to WorldPay directly (excluding %)' }) ? '' }}

{{ form.prepare() ? '' }}

{{ form().openTag( form )|raw }}

    {{ formElement(form.getCsrf) }}

    {% if save == true %}
        <div class="alert panel text alert-success" role="alert">
            <i class="icon icon-tick" role="presentation"></i>
            <div class="alert-message"><p>Percentage has been updated.</p></div>
        </div>
    {% endif %}

    <div class="text">
        <p>Enter the percentage of users who will be forwarded to WorldPay directly (bypassing GOV Pay).</p>
        <p>For example, enter:</p>
        <ul class="list list-bullet">
            <li>0 for all users to be directed to GOV Pay</li>
            <li>100 for all users to be directed to WorldPay directly (bypassing GOV Pay).</li>
            <li>20 for 20% of users to be directed to WorldPay (and thus 80% will be sent to GOV Pay)</li>
        </ul>
    </div>

    <fieldset>
        <legend class="visually-hidden">Enter the percentage to be sent to WorldPay directly</legend>

        {{ macros.formGroup(percentage) }}

    </fieldset>


	<input type="submit" class="button" value="Save percentage">

{{ form().closeTag|raw }}

{% endblock %}
