{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}
    Postcode Lookup Method
{% endblock %}

{% set form = formErrorTextExchange(form, []) %}
{% set usePostcodeAnywhere = form.get('use-postcode-anywhere') %}

{% block content %}

    {{ form.setAttribute('class', 'form') ? '' }}

    {{ usePostcodeAnywhere.setAttributes({
        id: 'usePostcodeAnywhere',
        rows: 10,
        cols: 67,
        class: 'form-control'
    }) ? ''}}

    {{ usePostcodeAnywhere.setOptions( { label: 'Use Postcode Anywhere' }) ? '' }}

    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}

    {{ formElement(form.get( form.csrfName )) }}

    <div class="text">
        <p>If this box is checked, the Postcode Anywhere lookup service will be used. Otherwise, the MoJ DS postcode lookup service will be used.</p>
    </div>

    <fieldset>
        <legend class="visuallyhidden">Set postcode lookup service</legend>

        <div class="form-group {{ usePostcodeAnywhere.getMessages|length >0 ? 'error'}}">
            <label class="block-label" for="{{ usePostcodeAnywhere.getAttribute('id') }}">
                {{ formElement(usePostcodeAnywhere) }}
                {{ usePostcodeAnywhere.getOption('label') }}
                {{ formElementErrorsV2(usePostcodeAnywhere) }}
            </label>
        </div>

    </fieldset>


    <input type="submit" class="button" value="Set postcode lookup method">

    {{ form().closeTag|raw }}

{% endblock %}
