{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}
    Accounts
{% endblock %}

{% block content %}

<div class="text">
	<h2 class="heading-medium">Accounts</h2>

	<table class="stats">
		<thead>
			<tr>
				<th class="numeric">Total</th>
				<th class="numeric">Activated</th>
				<th class="numeric">Activated this month</th>
			</tr>
		</thead>
		<tbody>
		    <tr>
				<td class="numeric">{{ auth_stats.total }}</td>
				<td class="numeric">{{ auth_stats.activated }}</td>
				<td class="numeric">{{ auth_stats['activated-this-month'] }}</td>
		     </tr>
		</tbody>
	</table>

	<h2 class="heading-medium">Applications</h2>

	<table>
		<thead>
			<tr>
				<th class="numeric">Number of LPAs</th>
				<th class="numeric">Number of Users</th>
			</tr>
		</thead>
		<tbody>
		{% for lpas, users in api_stats %}
			<tr>
				<td class="numeric">{{ lpas }}</td>
				<td class="numeric">{{ users }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}

{% block divider %}<hr class="invisible">{% endblock divider %}