{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}
    User search
{% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}
{% set form = formErrorTextExchange(form, {
    'email' : {
        'cannot-be-empty' : 'Please enter a valid email address'
    }
}) %}

{# Set form fields variables #}
{% set email = form.get('email') %}

{# form fields config #}
{{ email.setAttributes({
    id: 'email-address',
    class: 'form-control'
}) ? '' }}

{# form fields labels #}
{{ email.setOptions({label:'Email address'}) ? '' }}

{{ form.prepare() ? '' }}

{{ form().openTag( form )|raw }}

    {{ formElement(form.getCsrf) }}

    <div class="text">
        <p>Search for a user by email address. If found, the user's account status and other details will be displayed.</p>
    </div>

    {{ macros.formGroup(email) }}

    <input type="submit" class="button" value="Search">

{{ form().closeTag|raw }}

{% if user is not empty and user != false %}
    <h2 class="heading-medium">User details</h2>
    <ul>
        <li><strong>Account status: </strong>{{ user['status'] }}</li>
    </ul>
{% endif %}

{% endblock %}
