{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}When can LPA be used - {% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}
{% set form = formErrorTextExchange(form,  {
    'when' : {
        "Value is required and can't be empty" : 'Choose when your LPA can be used',
    }
}) %}

{# Set form fields variables #}
{% set when = form.get('when') %}

<li id="when-lpa-starts-section" class="section current">

    <h2 class="heading-medium accordion-header flush--top">When can the LPA be used?</h2>

    <div class="accordion-info">
        <div class="text">
            <p>If the donor wants help straight away with managing their property and finances, they can say that their LPA can be used as soon as it's registered.</p>
            <p>Alternatively, they can say that their LPA can only be used if they do not have <a href="/guide#topic-mental-capacity" class="js-guidance" data-journey-click="page:link:help: Find out more about mental capacity">mental capacity</a>.</p>
            <p><a href="/guide#topic-when-an-lpa-can-be-used" class="js-guidance" data-journey-click="page:link:help: Find out more about your options">Find out more the donor's options</a></p>
        </div>
    </div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}

        {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}

        <fieldset id="when">
            <legend class="visually-hidden">When can the LPA be used?</legend>

            <h2 class="heading-medium flush--top">The LPA can be used</h2>

            <div class="form-group {{ when.getMessages|length > 0 ? 'error'}}">

                {{ formRadio().outputOption(when, 'now')|raw }}

                <div class="panel panel-border-narrow">
                    <div class="text">
                        <p>Most donors choose this option because it is the most practical. While the donor still has mental capacity, their attorneys can only act with the donor's permission. The donor will still be in control of all decisions affecting them.</p>

                        <p>This option is useful if the donor is able to make their own decisions but there’s another reason they want their attorneys' help – for example, if the donor is away on holiday, or if they have a physical condition that makes it difficult to visit the bank.</p>
                    </div>
                </div>

                {{ formRadio().outputOption(when, 'no-capacity')|raw }}

                <div class="panel panel-border-narrow">
                    <p class="text">This means the attorneys can only act if the donor does not have mental capacity to make certain decisions themselves. But be careful – this option can make the LPA a lot less useful. Every time the attorneys try to use the LPA, they might be asked to prove that the donor does not have mental capacity.</p>
                </div>

            </div>

        </fieldset>

        <div class="form-group">
            {{ formElement(form.get('save')) }}
        </div>

    {{ form().closeTag|raw }}

</li>

{% endblock %}
