{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}How replacement attorneys step in - {% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}
{% set form = formErrorTextExchange(form,  {
    'when' : {
        'Value is required and can\'t be empty' : 'Choose how the replacement attorneys should step in',
    },
    'whenDetails': {
    	'Value is required and can\'t be empty' : 'Tell us how you\'d like the replacement attorneys to step in'
	}
}) %}

{# Set form fields variables #}
{% set when = form.get('when') %}
{% set whenDetails = form.get('whenDetails') %}
{% set currentWhenOptions = when.getOptions()['value_options'] %}

{# form fields config #}
{{ whenDetails.setAttributes({
    id: 'whenDetails',
    rows: 10,
    cols: 67,
    maxlength: 2000,
    class: 'form-control'
}) ? ''}}

{% set whenOptions = {
	'first' : {
		label: 'As soon as <strong class="bold-small">one</strong> of the original attorneys can no longer act, all the replacement attorneys should step in together',
		value: currentWhenOptions['first'].value
	},
	'last' : {
		label: 'When <strong class="bold-small">none</strong> of the original attorneys can act, all the replacement attorneys should step in together',
		value: currentWhenOptions['last'].value
	},
	'depends' : {
		label: 'In some other way...',
		value: currentWhenOptions['depends'].value,
		'div-attributes': {
			'data-target': 'step-in-details'
		}
	}
}
%}

{{ when.setOptions({
	value_options: whenOptions,
	label_attributes: {'class': 'text block-label'}
}) ? '' }}

{{ when.setLabelOptions({
	disable_html_escape: true
}) ? '' }}

{# form fields labels #}
{{ whenDetails.setOptions({label:'Details'}) ? '' }}

<li id="when-replacement-attorney-step-in-section" class="section current">

	<h2 class="heading-medium accordion-header flush--top">How should the replacement attorneys step in?</h2>

    <div class="accordion-info">
		<div class="text">
			<p>The donor can choose when their replacement attorneys step in and in what order.</p>
			<p>Once they’ve stepped in, the replacement attorneys will be able to make any decision jointly and severally along with the remaining original attorneys.</p>
			<p>Most donors choose for all the replacement attorneys to step in together as soon as 1 of the original attorneys can no longer act.</p>
			<p>If the donor would prefer the replacement attorneys to step in later or in a specific order, select 1 of the other 2 options.</p>
		</div>
	</div>

	{# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}

		{{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}

		<div class="form-group {{ when.getMessages|length > 0 ? 'form-group-error'}}">
			<fieldset id="when">
	            <legend class="visually-hidden">How should the replacement attorneys step in?</legend>

	            
	                {{ formElementErrorsV2(when) }}
	                {{ formRadio(when) }}

	                <div id="step-in-details" class="panel panel-border-narrow js-hidden">
						<p class="text">
							Describe below how the donor would like this to happen. Be careful - the more specific the instructions, the greater the chance that they will not be able to be followed. If in doubt, seek legal advice.
	                        <a class="js-guidance" href="/guide#topic-replacement-attorneys" data-journey-click="page:link:help: Not sure what to put?">Not sure what to put?</a>
						</p>
						{{ macros.formGroup(whenDetails) }}
	                </div>
	        </fieldset>
	    </div>


		<div class="form-group">
            {{ formElement(form.get('save')) }}
        </div>

    {{ form().closeTag|raw }}

</li>

{% endblock %}
