<li>
    <div class="person">
        <h3 class="person-name govuk-heading-s flush--ends">{{ attorney['name'] }}</h3>
        <p class="govuk-body person-address govuk-!-margin-top-0 govuk-!-margin-bottom-0">{{ attorney['address'] }}</p>
        <ul class="person-actions">
            <li class="action-item">
                <a href="{{ confirmDeleteUrl }}" class="govuk-link action-delete js-form-popup" data-cy="delete-attorney" aria-label="Delete Attorney {{ attorney['name'] }}">Delete<span class="govuk-visually-hidden"> Attorney {{ attorney['name'] }}</span></a>
            </li>
            <li class="action-item">
                <a href="{{ editUrl }}" role="button" class="govuk-link action-edit js-form-popup" data-cy="view-change-attorney" aria-label="View/Change Attorney {{ attorney['name'] }}">View/Change<span class="govuk-visually-hidden"> Attorney {{ attorney['name'] }}</span></a>
            </li>
        </ul>
    </div>
</li>
