{% extends 'layout/twig/accordion-header.twig' %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}
{% set form = formErrorTextExchange(form, {
        'reductionOptions': {
            'Value is required and can\'t be empty' : 'Please choose one of the options' 
        }
   }) 
%}

<li id="fee-reduction-section" class="section current js-current">

	<h2 class="heading-medium accordion-header flush--top">Do you want to apply to pay a reduced fee?</h2>
	
    <div class="accordion-info">
    	<div class="text">
                <p>If the donor has an income of less than £12,000 a year before tax or receives certain benefits, they might be eligible for a reduced fee, or no fee at all.</p>
                
                <p><a class="js-guidance" href="/guide#topic-fees-and-reductions" data-journey-click="stageprompt.lpa:help:fees-and-reductions">Find out more about qualifying for a reduction</a></p>
		</div>
	</div>
	   
    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }} 
        {{ formElement(form.get( form.csrfName )) }}

        {# Error summary #}
        {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}

        <fieldset>
            <legend class="visuallyhidden">Reduced fee options</legend>

            <h2 class="heading-medium flush--top">Reduced fee options</h2>

            <div class="form-group {{ reductionOptions.getMessages|length >0 ? 'error'}}">
        
                <label class="text block-label" for="{{ reductionOptions['reducedFeeReceivesBenefits'].getAttribute('id') }}">
                    {{ formInput(reductionOptions['reducedFeeReceivesBenefits']) }}
                    {{ reductionOptions['reducedFeeReceivesBenefits'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(reductionOptions['reducedFeeReceivesBenefits']) }}

				<label class="text block-label" for="{{ reductionOptions['reducedFeeUniversalCredit'].getAttribute('id') }}">
                    {{ formInput(reductionOptions['reducedFeeUniversalCredit']) }}
                    {{ reductionOptions['reducedFeeUniversalCredit'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(reductionOptions['reducedFeeUniversalCredit']) }}
                
                <label class="text block-label" for="{{ reductionOptions['reducedFeeLowIncome'].getAttribute('id') }}">
                    {{ formInput(reductionOptions['reducedFeeLowIncome']) }}
                    {{ reductionOptions['reducedFeeLowIncome'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(reductionOptions['reducedFeeLowIncome']) }}
                
                <label class="text block-label" for="{{ reductionOptions['notApply'].getAttribute('id') }}">
                    {{ formInput(reductionOptions['notApply']) }}
                    {{ reductionOptions['notApply'].getOption('label')|raw }}
                </label>
                {{ formElementErrorsV2(reductionOptions['notApply']) }}
		    </div>

	    </fieldset>
        
        <div class="accordion-actions">
			<p>
                <input type="submit" name="save" value="Save and continue" class="button gotonextpart">
            </p>
        </div>

	{{ form().closeTag|raw }}
    
</li>

{% endblock %}