{% extends 'layout/layout.twig' %}

{%- set pageTitle = 'Online payment failed' -%}

{% block content %}

    <h2 class="heading-medium flush--top">Amount due: &pound;{{ lpa.payment.amount | money_format }}</h2>

    <div class="text">

        <p>There appears to be a problem with this payment. You could try paying online again or <a href="{{ url('lpa/checkout/cheque', {'lpa-id': lpa.id}) }}">pay by cheque</a>.</p>

    </div>

    <div class="text">
        <p class="divorced">
            {# begin form #}
            {{ form.prepare() ? '' }}
            {{ form().openTag( form )|raw }}
            {{ formElement(form.getCsrf) }}

            <div class="form-group">
                {{ formElement(form.get('submit')) }}
            </div>

            {{ form().closeTag|raw }}
        </p>
    </div>

{% endblock %}
