{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Final check: LPA details - {% endblock %}
{% block pageTitle %}Final check: LPA details{% endblock %}

{% set exemption = false %}
{% set remission = false %}
{% set notify = false %}

{% if lpa.payment.reducedFeeReceivesBenefits or lpa.payment.reducedFeeUniversalCredit %}
    {% set exemption = true %}
{% endif %}

{% if lpa.payment.reducedFeeLowIncome %}
    {% set remission = true %}
{% endif %}

{% if lpa.document.peopleToNotify is defined and lpa.document.peopleToNotify|length > 0 %}
    {% set notify = true %}
{% endif %}

{% block content %}

    <p class="text">Check all the details on this page are correct and everyone has agreed to be part of this lasting power of attorney before continuing.</p>

    {# Don't show 'Next steps' if CP has been skipped #}
    {% if (lpa.document.certificateProvider) %}
        <details role="group">
            <summary role="button" data-journey-click="page:link.reveal:help: What do I need to do next?">
                <span class="summary">What do I need to do next?</span>
            </summary>
            <div class="panel text">
                <ul class="list list-number">
                    <li>Click to confirm all the details on this page are correct</li>

                    {% if not exemption %}
                        <li>Next, pay the application fee online by card (you can also choose to pay by cheque)</li>
                    {% endif %}

                    <li>{% if exemption %}Next,{% else %}Then{% endif %} download and print the LPA, and get it signed and dated in the right order</li>

                    {% if exemption %}
                        <li>Then download, print, sign and date the fee remission and exemption form</li>
                    {% endif %}

                    {% if remission %}
                        <li>Download, print, sign and date the fee remissions form</li>
                    {% endif %}

                    {% if notify %}
                        <li>Download and print the people to notify form - give one to each person to notify</li>
                    {% endif %}

                    {% if exemption %}
                        <li>Finally, post the LPA to OPG, along with the fee remission and exemption form and proof of the donor’s benefits</li>
                    {% elseif remission %}
                        <li>Finally, post the LPA to OPG, along with the fee remissions form and proof of the donor’s income</li>
                    {% else %}
                        <li>Finally, post the LPA to OPG</li>
                    {% endif %}
                </ul>

                <p>If there are no problems with the LPA, we'll register it and send it to the correspondent. If we can't register the LPA, we'll write to the correspondent to let them know.</p>
            </div>
        </details>
    {% endif %}

    {% if (lpaIsCompleted) %}

        <div class="alert text push--top" role="alert">
            <i class="icon icon-important-small" role="presentation"></i>
            <div class="alert-message">
                <p><strong class="bold-small">At the next stage your forms will be ready to download and sign with the information shown below.</strong></p>
                <p><strong class="bold-small">You will not be able to change anything in the LPA once you've clicked confirm.</strong></p>
            </div>
        </div>

        <div class="iconlinks iconlinks--right">
            <div class="iconlinks-item">
                <a href="#" class="iconlinks-link js-print hide-if-no-js" data-journey-click="page:link:Print this summary">
                    <i class="icon icon-print"></i>
                    <span class="iconlinks-text">Print this summary</span>
                </a>
            </div>
        </div>

    {% endif %}

    {% import "application/macros.twig" as macros %}

    {% include 'application/authenticated/lpa/summary/partials/summary-table.twig' %}

    {% if (lpaIsCompleted) %}

        <div class="appstatus" role="alert">
            <h2 class="heading-xlarge">Confirm and
                {% if lpa.payment.amount == 0 %}finish{% else %}pay{% endif %}
            </h2>
            {% if lpa.payment.amount is null %}
                <h3 class="heading-medium">We'll contact you about the fee</h3>
            {% else %}
                <h3 class="heading-medium">Application fee: £{{ moneyFormat(lpa.payment.amount) }}</h3>
            {% endif %}
        </div>

        {% if lpa.payment.amount == 0 %}

            {# -- Nothing to pay -- #}
            <p class="divorced"><a href="{{ url('lpa/checkout/confirm', {'lpa-id': lpa.id}) }}" class="button">Confirm and finish</a></p>

        {% else %}

            <details class="no-print-for-summary">
                <summary data-journey-click="page:link.reveal:help: Why are you asking me to pay now?">
                    <span class="summary">Why are you asking me to pay now?</span>
                </summary>
                <div class="panel panel-border-narrow text">
                    <p>The fee covers the cost of processing your application, not just registering the LPA.</p>

                    <p>If you pay by card, but later change your mind about registering the LPA before you post it to OPG, we'll refund the money.</p>

                    <p>If you do not want to pay by card, you can choose to post a cheque with the LPA application. The instructions you'll download with the LPA explain how to pay by cheque.</p>
                </div>
            </details>

            <div class="alert text push--top" role="alert">
                <i class="icon icon-important-small" role="presentation"></i>
                <div class="alert-message">
                    <p><strong class="bold-small">You won't be able to change anything in the LPA once you have clicked confirm.</strong></p>
                </div>
            </div>

            {# -- GDS Pay -- #}
            <p class="divorced">
                {# begin form #}
                {{ form.prepare() ? '' }}
                {{ form().openTag( form )|raw }}
                {{ formElement(form.getCsrf) }}

            <div class="form-group">
                {{ formElement(form.get('submit')) }}
                <a href="{{ url('lpa/checkout/cheque', {'lpa-id': lpa.id}) }}" class="button-link">Confirm and pay by cheque</a>
            </div>

            {{ form().closeTag|raw }}
            </p>

        {% endif %}

        <p class="divorced">
            <a href="/user/dashboard" data-journey-click="page:link:save: Save for later">Save for later</a>
        </p>

    {% else %}

        <div class="alert text push--top" role="alert">
            <i class="icon icon-important-small" role="presentation"></i>
            <div class="alert-message">
                <p><strong class="bold-small">When you have chosen a certificate provider, you'll be able to continue.</strong></p>
            </div>
        </div>

        <a class="button" disabled="disabled">Confirm</a>
        <a href="/user/dashboard" class="button-link" data-journey-click="page:link:save: Save for later">Save for later</a>

    {% endif %}

{% endblock %}
