{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}
    Final check: LPA details
{% endblock %}

{% block content %}

    <p class="text">Check all the details on this page are correct and everyone has agreed to be part of this lasting power of attorney before continuing.</p>

    {% if (lpaIsCompleted) %}

        <div class="alert text push--top" role="alert">
            <i class="icon icon-important-small" role="presentation"></i>
            <div class="alert-message">
                <p><strong class="bold-small">At the next stage your form(s) will be ready to download and sign with the information shown below.</strong></p>
                <p><strong class="bold-small">You won't be able to change anything in the LPA once you have confirmed.</strong></p>
            </div>
        </div>

        <div class="iconlinks iconlinks--right">
            <div class="iconlinks-item">
                <a href="#" class="iconlinks-link js-print hide-if-no-js" data-journey-click="page:link:Print this page">
                    <i class="icon icon-print"></i>
                    <span class="iconlinks-text">Print this page</span>
                </a>
            </div>
        </div>

    {% endif %}

    {% import "application/macros.twig" as macros %}

    {% include 'application/authenticated/lpa/summary/partials/summary-table.twig' %}

    {% if (lpaIsCompleted) %}

        <div class="appstatus" role="alert">
            <h2 class="heading-xlarge">Confirm and
                {% if lpa.payment.amount == 0 %}finish{% else %}pay{% endif %}
            </h2>
            {% if lpa.payment.amount is null %}
                <h3 class="heading-medium">We'll contact you about the fee</h3>
            {% else %}
                <h3 class="heading-medium">Application fee: £{{ moneyFormat(lpa.payment.amount) }}</h3>
            {% endif %}
        </div>

        {% if lpa.payment.amount == 0 %}

            {# -- Nothing to pay -- #}
            <p class="divorced"><a href="{{ url('lpa/checkout/confirm', {'lpa-id': lpa.id}) }}" class="button">Confirm and finish</a></p>

        {% else %}

            <details>
                <summary data-journey-click="page:link.reveal:help: Why are you asking me to pay now?">
                    <span class="summary">Why are you asking me to pay now?</span>
                </summary>
                <div class="panel panel-border-narrow text">
                    <p>The LPA fee covers the cost of processing your application, not just registering the LPA.</p>
                    <p>If you pay online and change your mind about registering the LPA before you post it to OPG, we will refund the money to your payment card. If you are an attorney, you could pay the fee now and reclaim it from the donor’s funds.</p>
                </div>
            </details>

            {# -- GDS Pay -- #}
            <p class="divorced">
                {# begin form #}
                {{ form.prepare() ? '' }}
                {{ form().openTag( form )|raw }}
                {{ formElement(form.getCsrf) }}

            <div class="form-group">
                {{ formElement(form.get('submit')) }}
                <a href="{{ url('lpa/checkout/cheque', {'lpa-id': lpa.id}) }}" class="button-link">Confirm and pay by cheque</a>
            </div>

            {{ form().closeTag|raw }}
            </p>

        {% endif %}

        <p class="divorced">
            <a href="/user/dashboard" data-journey-click="page:link:save: Save for later">Save for later</a>
        </p>

    {% else %}

        <div class="alert text push--top" role="alert">
            <i class="icon icon-important-small" role="presentation"></i>
            <div class="alert-message">
                <p><strong class="bold-small">When you have chosen a certificate provider, you'll be able to continue.</strong></p>
            </div>
        </div>

        <a class="button" disabled="disabled">Confirm</a>
        <a href="/user/dashboard" class="button-link" data-journey-click="page:link:save: Save for later">Save for later</a>

    {% endif %}

{% endblock %}
