{% extends 'layout/twig/layout.twig' %}

{% block content %}

{% import "application/macros.twig" as macros %}

{% set form = formErrorTextExchange(form,  {}) %}
        
{{ form.setAttribute('class', 'form') ? '' }}
    
{% set email = form.get('email') %}
{{ email.setOptions( {'label' : 'Email address'} ) ? '' }}
{{ email.setAttributes({'id':'email'}) ? '' }}

{{ form.prepare() ? '' }}

<section id="payment-section" class="section current">
    
    <h2 class="accordion-header">{{ accordionIdx(lpa) }}. Summary</h2>

    <div class="accordion-content">
    
    {% include 'application/summary/partials/summary-table.twig' %}
    
    {{ form().openTag( form )|raw }}
    
    {{ formElement(form.get( form.csrfName )) }}
    
        <div class="section-intro">

            <p>On the next screen you'll be taken to our payment partner, WorldPay, where you can pay by debit or credit card. This is a secure transaction.</p>
            
        </div>

        
    <p class="action group">
    <input type="submit" name="submit" id="form-save" value="Proceed to Worldpay" class="button"> 
    </p>
        
    {{ form().closeTag|raw }}
    
    </div>
    
    <p><a href="{{ payByChequeRoute }}">I want to pay by cheque</a></p>
    
</section>

{% endblock %}