{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}Donor - {% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

<li id="donor-section" class="section current">

    <h2 class="heading-medium accordion-header flush--top">Who is the donor for this LPA?</h2>

    <div class="accordion-info">
        <div class="text">
            <p>The 'donor' is the person appointing other people to make decisions on their behalf. The donor:</p>

            <ul class="list list-bullet">
                <li>must be 18 or over</li>
                <li>must be able to make their own decisions at the time their LPA is made – this is known as having <a href="/guide#topic-mental-capacity" class="js-guidance" data-journey-click="page:link:help: Find out more about mental capacity">mental capacity</a></li>
            </ul>

            <p>Only the donor can make decisions about their LPA and the people to involve.</p>

            <p>
                <a href="/guide#topic-donor" class="js-guidance" data-journey-click="page:link:help: Find out more about being a donor">Find out more about being a donor</a>
            </p>
        </div>
    </div>

    {% if (lpa.document.donor) %}

        <h3 class="heading-medium flush--top">The donor</h3>

        <div class="person person--wider">
            <h3 class="person-name heading-small flush--ends">{{ lpa.document.donor.name }}</h3>
            <p class="person-address flush--ends">{{ lpa.document.donor.address }}</p>
            <ul class="person-actions">
                <li class="action-item">
                    <a href="{{ editUrl }}" class="action-edit js-form-popup" aria-label="Veiw/Edit Donor Details">View/edit details</a>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <a href="{{ nextUrl }}" class="button">{{ (finalCheckAccessible(lpa) ? 'Save and return to final check' : 'Save and continue') }}</a>
        </div>

    {% else %}

        <div class="form-group">
            <a href="{{ addUrl }}" class="button js-form-popup">Add donor details</a>
        </div>

    {% endif %}

</li>

{% endblock %}