{% extends isPopup ? 'layout/twig/popup.twig' : 'layout/twig/layout.twig' %}

{% block htmlTitle %}Person to notify details - {% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}
{% set form = formErrorTextExchange(form,  {
    'name-title' : {
        'cannot-be-blank' : 'Enter the title',
        'must-be-less-than-or-equal:5' : 'Title must be five letters or fewer - please abbreviate, if necessary'
    },
    'name-first' : {
        'cannot-be-blank' : 'Enter first names',
        'must-be-less-than-or-equal:32' : 'First names cannot be longer than 32 characters long'
    },
    'name-last' : {
        'cannot-be-blank' : 'Enter the last name',
        'must-be-less-than-or-equal:40' : 'Last name cannot be longer than 40 characters long'
    },
    'address-address1' : {
        'cannot-be-blank' : 'Enter the first line of the address',
        'must-be-less-than-or-equal:40' : 'The first line of the address cannot be longer than 40 characters long'
    },
    'address-address2' : {
        'linked-1-cannot-be-null' : 'Enter the second line of the address',
        'must-be-less-than-or-equal:40' : 'The second line of the address cannot be longer than 40 characters long'
    },
    'address-address3' : {
        'must-be-less-than-or-equal:40' : 'The third line of the address cannot be longer than 40 characters long'
    },
    'address-postcode' : {
        'linked-1-cannot-be-null' : 'Enter the postcode',
        'must-be-less-than-or-equal:8' : 'This is an invalid postcode. If it\'s an overseas postcode, please include it in the address lines rather than in the postcode field.'
    }
}) %}

{# Set form fields variables #}
{% set title = form.get('name-title') %}
{% set firstname = form.get('name-first') %}
{% set lastname = form.get('name-last') %}
{% set address1 = form.get('address-address1') %}
{% set address2 = form.get('address-address2') %}
{% set address3 = form.get('address-address3') %}
{% set postcode = form.get('address-postcode') %}

{# form fields config #}
{{ form.setAttributes({
    'class':'form js-PersonForm js-PostcodeLookup'
}) ? '' }}

{{ title.setAttributes({
    id: 'name-title',
    class: 'form-control'
}) ? '' }}

{{ firstname.setAttributes({
    id: 'name-first',
    class: 'form-control'
}) ? '' }}

{{ lastname.setAttributes({
    id: 'name-last',
    class: 'form-control'
}) ? '' }}

{{ address1.setAttributes({
    id: 'address-address1',
    class: 'form-control'
}) ? ''}}

{{ address2.setAttributes({
    id: 'address-address2',
    class: 'form-control'
}) ? ''}}

{{ address3.setAttributes({
    id: 'address-address3',
    class: 'form-control'
}) ? ''}}

{{ postcode.setAttributes({
    id: 'address-postcode',
    class: 'form-control'
}) ? ''}}

{# form fields labels #}
{{ title.setOptions({label:'Title'}) ? '' }}
{{ firstname.setOptions({label:'First names'}) ? '' }}
{{ lastname.setOptions({label:'Last name'}) ? '' }}
{{ address1.setOptions({label:'Address line 1'}) ? '' }}
{{ address2.setOptions({label:'Address line 2'}) ? '' }}
{{ address3.setOptions({label:'Address line 3'}) ? '' }}
{{ postcode.setOptions({label:'Postcode'}) ? '' }}

<header class="popup-header">
    <i class="icon icon-person"></i>
    <h2 class="heading-small popup-header-title">Person to notify details</h2>
</header>

{{ form.prepare() ? '' }}

{################# person to notify form #####################}

{# Error summary #}
{{ macros.formErrorSummary(error, form, 'There was a problem submitting the form') }}

{# If applicable display the Use my details link #}
{% if displayReuseSessionUserLink %}
    {{ macros.displayUseMyDetailsLink() }}
{% endif %}

{# begin form #}
{{ form().openTag( form )|raw }}
    {{ formElement(form.getCsrf) }}
    {{ formElementErrorsV2(form.getCsrf) }}

    <h2 class="heading-medium popup-exclude">What is the person's name?</h2>

    <fieldset>
        <legend class="visually-hidden">Add person's name</legend>

        {{ macros.formGroup(title) }}
        {{ macros.formGroup(firstname) }}
        {{ macros.formGroup(lastname) }}

    </fieldset>

    <h2 class="heading-medium popup-exclude">What is the person's address?</h2>

    <fieldset class="postcodelookup">
        <legend class="visually-hidden">Address</legend>
        <div class="js-PostcodeLookup__postal-add">
            {{ macros.formGroup(address1) }}
            {{ macros.formGroup(address2) }}
            {{ macros.formGroup(address3) }}
            {{ macros.formGroup(postcode) }}
        </div>
    </fieldset>

    {{ macros.renderFormButtons(cancelUrl, backButtonUrl) }}

{{ form().closeTag|raw }}

{% endblock %}