{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}Replacement attorneys - {% endblock %}

{% block content %}

{% set form = formErrorTextExchange(form, {}) %}

<li id="replacement-attorney-section" class="section current">

    <h2 class="heading-medium accordion-header flush--top">Does the donor want any replacement attorneys?</h2>

    <div class="accordion-info">
        <div class="text">
            <p>Replacement attorneys step in if an original attorney can no longer act.</p>
            <p>A replacement attorney must meet the same requirements as an original attorney. This includes being 18 or over.</p>

            {% if (lpa.document.primaryAttorneyDecisions) %}
                {% if (lpa.document.primaryAttorneyDecisions.how == 'jointly') %}
                <div class="alert" role="alert">
                    <i class="icon icon-important-small" role="presentation"></i>
                    <div class="alert-message">
                        <h3 class="heading-small flush--top">Replacement attorneys are an important backup when attorneys are appointed to act jointly.</h3>
                        <p>If the donor does not appoint any replacement attorneys and one of the original attorneys dies or can no longer act, the LPA will stop working.</p>
                        <p>If the donor does appoint replacement attorneys and one of the original attorneys dies or can no longer act:</p>
                        <ul class="list list-bullet">
                            <li>
                                <p><strong class="bold">ALL the original attorneys will be replaced by the replacement attorneys, unless the donor states otherwise in their instructions</strong></p>
                            </li>
                            <li>
                                <p><strong class="bold">the original attorneys will not be able to make any decisions on the donor’s behalf anymore</strong></p>
                            </li>
                        </ul>
                        <p>If the donor wants to change how their replacement attorneys step in, they can explain their wishes in the instructions section.</p>
                    </div>
                </div>
                {% elseif (lpa.document.primaryAttorneyDecisions.how == 'depends') %}
                <div class="alert" role="alert">
                    <i class="icon icon-information" role="presentation"></i>
                    <div class="alert-message">
                        <h3 class="heading-small flush--top">The donor appointed their attorneys to act jointly for some decisions, and jointly and severally for others.</h3>
                        <p>This means that if an original attorney dies or can no longer act:</p>
                        <ul class="list list-bullet">
                            <li>
                                <p><strong class="bold">all the replacement attorneys step in and take over making the joint decisions</strong></p>
                            </li>
                            <li>
                                <p><strong class="bold">the remaining original attorneys will not be able to make the joint decisions anymore, unless the donor states otherwise in their instructions</strong></p>
                            </li>
                            <li>
                                <p><strong class="bold">the replacement and remaining original attorneys can make all other decisions together or individually</strong></p>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            <p><a class="js-guidance" href="/guide#topic-replacement-attorneys" data-journey-click="page:link:help: Find out more about replacement attorneys">Find out more about replacement attorneys</a></p>
        </div>
    </div>

    {% if (attorneys) %}

        <h3 class="heading-medium flush--top">
            The replacement attorney{% if attorneys|length > 1 %}s{% endif %}
        </h3>

        <ul>
            {% for attorney in attorneys %}
                {% include 'application/authenticated/lpa/replacement-attorney/partials/attorney.twig' with attorney %}
            {% endfor %}
        </ul>

    {% endif %}

    <div class="{% if (attorneys) %}action-item{% endif %} form-group">
        <a href="{{ addRoute }}" role="{% if not (attorneys)  %}button{% endif %}" class="{% if not (attorneys) %}button{% endif %} js-form-popup" >
            {% if (attorneys) %}
                Add another replacement attorney?
            {% else %}
                Add replacement attorney
            {% endif %}
        </a>
    </div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}
        <div class="form-group">
            {{ formElement(form.get('save')) }}
        </div>
    {{ form().closeTag|raw }}

</li>

{% endblock %}