{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}Replacement attorneys - {% endblock %}

{% block content %}

{% set form = formErrorTextExchange(form, {}) %}

<li id="replacement-attorney-section" class="section current">

    <h2 class="heading-medium accordion-header flush--top">Do you want any replacement attorneys?</h2>

    <div class="accordion-info">
        <div class="text">
            <p>The people you add here step in if your original attorney can no longer act.</p>
            <p>A replacement attorney must meet the same requirements as an original attorney. This includes being 18 or over when you sign your LPA.</p>

            {% if (lpa.document.primaryAttorneyDecisions) %}
                {% if (lpa.document.primaryAttorneyDecisions.how == 'jointly') %}
                <div class="alert" role="alert">
                    <i class="icon icon-important-small" role="presentation"></i>
                    <div class="alert-message">
                        <p>You appointed your original attorneys jointly. This means that:</p>
                        <ul class="list list-bullet">
                            <li>
                                <p><strong class="bold">if ANY of your original attorneys can no longer act they will ALL be replaced by your replacement attorney(s)</strong></p>
                            </li>
                            <li>
                                <p><strong class="bold">if you do not add any replacement attorneys and one of your original attorneys can no longer act, then your LPA can no longer be used</strong></p>
                            </li>
                        </ul>
                        <p>If you do not want the above to happen, you need to state this when you have the opportunity to 'add extra instructions' in the preferences and instructions section.</p>
                    </div>
                </div>
                {% elseif (lpa.document.primaryAttorneyDecisions.how == 'depends') %}
                <div class="alert" role="alert">
                    <i class="icon icon-information" role="presentation"></i>
                    <div class="alert-message">
                        <h3 class="heading-small flush--top">You appointed your original attorneys to act jointly for some decisions, and jointly and severally for others.</h3>
                        <p>This means the people you add here will step in once the FIRST of your attorneys can no longer act.<p>
                        <p>The rest of your original attorneys will no longer be able to make the decisions that you specified must be made jointly.</p>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            <p><a class="js-guidance" href="/guide#topic-replacement-attorneys" data-journey-click="page:link:help: Find out more about replacement attorneys">Find out more about replacement attorneys</a></p>
        </div>
    </div>

    {% if (attorneys) %}

        <h3 class="heading-medium flush--top">
            The replacement attorney{% if attorneys|length > 1 %}s{% endif %}
        </h3>

        <ul>
            {% for attorney in attorneys %}
                {% include 'application/authenticated/lpa/replacement-attorney/partials/attorney.twig' with attorney %}
            {% endfor %}
        </ul>

    {% endif %}

    <div class="{% if (attorneys) %}action-item{% endif %} form-group">
        <a href="{{ addRoute }}" class="{% if not (attorneys) %}button{% endif %} js-form-popup" >
            {% if (attorneys) %}
                Add another replacement attorney?
            {% else %}
                Add replacement attorney
            {% endif %}
        </a>
    </div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}
        <div class="form-group">
            {{ formElement(form.get('save')) }}
        </div>
    {{ form().closeTag|raw }}

</li>

{% endblock %}