{# Form Validation - Error Summary #}
{% macro formErrorSummary(error, form, message) %}

    {% if (error is not empty or form.getMessages|length > 0) %}
    <div class="error-summary" role="group" aria-labelledby="error-heading" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-heading">{{ message }}</h1>

        {# Show this only if it's a form error #}
        {% if form.getMessages|length > 0 %}
            <p>You need to do the following:</p>
        {% endif %}

        <ul class="error-summary-list text">
            {# Form errors #}
            {{ formLinkedErrorListV2(form) ? '' }}

            {# API errors #}
            {% if error is not empty %}
                <li><p>
                    {% if error == 'user-not-found' %}
                        We could not find an LPA account for this email address.<br><a href="signup">Create an LPA account now.</a>
                    {% elseif error == 'address-already-registered' %}
                        This email address has already been registered. Please <a href="{{ url('login') }}">sign in</a> or <a href="{{ url('forgot-password') }}">reset your password</a>.
                    {% elseif error == 'user-already-has-email' %}
                        You're already using that email address for this account – please enter another email address.
                    {% elseif error == 'email-already-exists' %}
                        Another LPA account is already using that email address – please enter a different email address.
                    {% else %}
                        {{ error }}
                    {% endif %}
                </p></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

{% endmacro %}

{# Text input #}
{% macro formGroup(element) %}

<div class="form-group {{ element.getMessages|length >0 ? 'error'}}">
    <label class="form-label" for="{{ element.getAttribute('id') }}">
        {{ element.getOption('label') }}
        {{ formElementErrorsV2(element) }}
    </label>
    {{ formElement(element) }}
</div>

{% endmacro %}

{# Checkbox #}
{% macro formGroupCheckbox(element) %}

<div class="option group">
    <label class="form-label" for="{{ element.getAttribute('id') }}">
        {{ element.getOption('label')|raw }}
    </label>
    {{ formElement(element) }}
</div>

{% endmacro %}

{% macro addSwitchAttorneyTypeLink(switchAttorneyTypeRoute, lpa, trustLink) %}
    {% if (switchAttorneyTypeRoute) %}
        <div class="use-details-link-panel hard--bottom">
            <a class="js-form-popup" href="{{ url(switchAttorneyTypeRoute, {'lpa-id': lpa.id}) }}">Using {{ trustLink ? 'a trust corporation' : 'an individual' }}?</a>
        </div>
    {% endif %}
{% endmacro %}

{% macro renderFormButtons(cancelUrl, backButtonUrl) %}
    {# Submit button #}
    <input type="submit" name="submit" id="form-save" value="Save details" class="button">

    {# Back button - if necessary #}
    {% if (backButtonUrl) %}
        <a href="{{ backButtonUrl }}" class="button button-secondary js-form-popup">Back</a>
    {% endif %}

    {# Cancel button #}
    {% if cancelUrl %}
        <a href="{{ cancelUrl }}" class="button button-secondary js-cancel">Cancel</a>
    {% endif %}
{% endmacro %}

