<div class="inner">
    <section aria-label="Service information" class="govuk-service-navigation"
             data-module="govuk-service-navigation">
        <div class="govuk-width-container">
            <div class="govuk-service-navigation__container">
                <span class="govuk-service-navigation__service-name">
                    <a href="/home" class="govuk-service-navigation__link">
                      Make a lasting power of attorney
                    </a>
                </span>
                {% if nav.userLoggedIn %}
                    <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                                data-cy="service-nav-toggle" aria-controls="navigation" aria-expanded="false" hidden>
                            Menu
                        </button>
                        <ul class="govuk-service-navigation__list" id="navigation" data-cy="service-nav-list">
                            {% if nav.name %}
                                <li class="govuk-service-navigation__item {{ nav.route == 'user/about-you' ? 'govuk-service-navigation__item--active' : ''}}">
                                    {% if nav.route == 'user/about-you' %}
                                        <a class="govuk-service-navigation__link" href="{{ url('user/about-you') }}" aria-current="true">
                                            <strong class="govuk-service-navigation__active-fallback">Your details</strong>
                                        </a>
                                    {% else %}
                                        <a class="govuk-service-navigation__link" href="{{ url('user/about-you') }}">
                                            Your details
                                        </a>
                                    {% endif %}
                                </li>

                                <li class="govuk-service-navigation__item {{ nav.route == 'user/dashboard' ? 'govuk-service-navigation__item--active' : ''}}">
                                    {% if (nav.route == 'lpa-type-no-id' and nav.hasOneOrMoreLPAs == false) or (nav.route == 'user/dashboard') %}
                                        <a class="govuk-service-navigation__link" href="{{ url('user/dashboard') }}" aria-current="true">
                                            <strong class="govuk-service-navigation__active-fallback">Your LPAs</strong>
                                        </a>
                                    {% else %}
                                        <a class="govuk-service-navigation__link" href="{{ url('user/dashboard') }}">
                                            Your LPAs
                                        </a>
                                    {% endif %}
                                </li>
                            {% endif %}

                            <li class="govuk-service-navigation__item">
                                <a class="govuk-service-navigation__link js-guidance" data-cy="guidance" href="/guide#topic-how-to-make-an-lpa-online">
                                    Help
                                </a>
                            </li>

                            <li class="govuk-service-navigation__item">
                                <a class="govuk-service-navigation__link" href="{{ url('logout') }}" data-cy="sign-out">
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </section>
</div>

{% if nav.lastLoginAt %}
    <p class="lastsigned govuk-!-padding-bottom-2 govuk-!-padding-top-2 flush--ends">Last signed in: {{ nav.lastLoginAt|date('j F Y \\a\\t g:ia', "Europe/London") }}</p>
{% endif %}

<hr class="flush--ends">
