{% extends isPopup ? 'layout/twig/popup.twig' : 'layout/twig/layout.twig' %}

{% block pageTitle %}
    Create a lasting power of attorney
{% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}

{# -- Switcher form -- #}
{# Error messages #}
{% set switcherForm = formErrorTextExchange(switcherForm,  {
    'switch-to-type' : {
        'Value is required and can\'t be empty' : 'Please select a person'
    }
}) %}

{# Set form fields variables #}
{% set sCsrf = switcherForm.get(switcherForm.csrfName()) %}
{% set switchTo = switcherForm.get('switch-to-type') %}
{% set switchSubmit = switcherForm.get('submit') %}

{# form fields config #}
{{ sCsrf.setAttributes({id:'secret'}) ? '' }}
{{ switchSubmit.setAttributes({value:'switch'}) ? '' }}
{{ switchTo.setAttributes({
    'id':'switch-to-type',
    'class':'js-reusable form-control'
}) ? '' }}
{{ switchTo.setOptions({
    empty_option: 'Select a person'
}) ? '' }}
{{ switcherForm.prepare() ? '' }}

{# form fields labels #}
{{ switchTo.setOptions({
    label:'Use these details'
}) ? '' }}

{# -- Correspondent form -- #}
{# Set form fields variables #}
{% set form = correspondentForm %}


{# Error messages #}
    {% set form = formErrorTextExchange(form,  {
    'name-title' : {
        'must-be-less-than-or-equal:5' : 'Title must be five letters or fewer - please abbreviate, if necessary'
    },
    'name-first' : {
        'cannot-be-blank' : 'Please enter the correspondent\'s first names'
    },
    'name-last' : {
        'cannot-be-blank' : 'Please enter the correspondent\'s last name'
    },
    'company' : {
        'linked-1-cannot-be-null' : 'Please enter the correspondent\'s name or company name'
    },
    'address-address1' : {
        'cannot-be-blank' : 'Please enter the correspondent\'s first line of address'
    },
    'address-address2' : {
        'linked-1-cannot-be-null' : 'Please enter the correspondent\'s second line of address'
    },
    'address-postcode' : {
        'linked-1-cannot-be-null' : 'Please enter the correspondent\'s postcode',
        'must-be-less-than-or-equal:8' : 'This is an invalid postcode. If it\'s an overseas postcode, please include it in the address lines rather than in the postcode field.'
    }
}) %}

{% set csrf = form.get(form.csrfName) %}
{% set who = form.get('who') %}
{% set title = form.get('name-title') %}
{% set firstname = form.get('name-first') %}
{% set lastname = form.get('name-last') %}
{% set company = form.get('company') %}
{% set address1 = form.get('address-address1') %}
{% set address2 = form.get('address-address2') %}
{% set address3 = form.get('address-address3') %}
{% set postcode = form.get('address-postcode') %}
{% set email = form.get('email-address') %}
{% set phone = form.get('phone-number') %}

{# form fields config #}
{{ form.setAttributes({
    'class':'form form-condensed js-PersonForm js-PostcodeLookup'
}) ? '' }}

{{ who.setAttributes({
    id: 'who-role',
    class: 'form-control'
}) ? '' }}

{{ title.setAttributes({
    id:'name-title',
    class: 'form-control'
}) ? '' }}

{{ firstname.setAttributes({
    id: 'name-first',
    class: 'form-control'
}) ? '' }}

{{ lastname.setAttributes({
    id: 'name-last',
    class: 'form-control'
}) ? '' }}

{{ company.setAttributes({
    id:'company-name',
    class: 'form-control'
}) ? '' }}

{{ address1.setAttributes({
    id:'address-address1',
    class: 'form-control'
}) ? '' }}

{{ address2.setAttributes({
    id:'address-address2',
    class: 'form-control'
}) ? '' }}

{{ address3.setAttributes({
    id:'address-address3',
    class: 'form-control'
}) ? '' }}

{{ postcode.setAttributes({
    id: 'address-postcode',
    class: 'form-control'
}) ? ''}}

{{ email.setAttributes({
    id: 'email-address',
    class: 'form-control'
}) ? ''}}

{{ phone.setAttributes({
    id: 'phone-number',
    class: 'form-control'
}) ? ''}}

{# form fields labels #}
{{ who.setOptions({label:'Role'}) ? '' }}
{{ title.setOptions({label:'Title'}) ? '' }}
{{ firstname.setOptions({label:'First names'}) ? '' }}
{{ lastname.setOptions({label:'Last name'}) ? '' }}
{{ company.setOptions({label:'Company name'}) ? '' }}
{{ address1.setOptions({label:'Address line 1'}) ? '' }}
{{ address2.setOptions({label:'Address line 2'}) ? '' }}
{{ address3.setOptions({label:'Address line 3'}) ? '' }}
{{ postcode.setOptions({label:'Postcode'}) ? '' }}
{{ email.setOptions({label:'Email'}) ? '' }}
{{ phone.setOptions({label:'Phone number'}) ? '' }}

{{ form.prepare() ? '' }}

<header class="popup-header">
    <i class="icon icon-person"></i>
    <h2 class="heading-small popup-header-title">Edit the correspondent details</h2>
</header>

{# switcher form - error summary #}
{{ macros.formErrorSummary(error, switcherForm, 'There was a problem submitting the form') }}

{# switcher form - begin form #}
{{ switcherForm.prepare() ? '' }}
{{ form().openTag( switcherForm )|raw }}
    {{ formElement(sCsrf) }}

    <div class="panel-actions">
        <fieldset>
            <legend class="visuallyhidden">Select details from a different person</legend>

            {{ macros.formGroup(switchTo) }}

        </fieldset>

        <div class="form-group">
            <input type="submit" name="switcher-submit" value="Switch to selected person" class="button js-details-picker">
        </div>
    </div>
{{ form().closeTag|raw }}

{# switcher form - error summary #}
{{ macros.formErrorSummary(error, form, 'There was a problem submitting the form') }}

{# correspondent form - begin form #}
{{ form.prepare() ? '' }}
{{ form().openTag( form )|raw }}
    {{ formElement(csrf) }}

    <h2 class="heading-medium">Correspondent's details?</h2>

    <fieldset>
        <legend class="visuallyhidden">Add correspondent's details</legend>

        {{ macros.formGroup(who) }}
        {{ macros.formGroup(title) }}
        {{ macros.formGroup(firstname) }}
        {{ macros.formGroup(lastname) }}

    </fieldset>

    <h2 class="heading-medium">Correspondent's company name?</h2>

    <fieldset>
        <legend class="visually hidden">Add company name</legend>
    	{{ macros.formGroup(company) }}
    </fieldset>

    <h2 class="heading-medium">What is the correspondent's address?</h2>

    <fieldset class="postcodelookup">
        <legend class="visuallyhidden">Add address details</legend>
        <div class="js-PostcodeLookup__postal-add">
            {{ macros.formGroup(address1) }}
            {{ macros.formGroup(address2) }}
            {{ macros.formGroup(address3) }}
            {{ macros.formGroup(postcode) }}
        </div>
    </fieldset>

    <h2 class="heading-medium">Correspondent's contact details?</h2>

    <fieldset>
        <legend class="visuallyhidden">Add correspondent's contact details</legend>

        {{ macros.formGroup(email) }}
        {{ macros.formGroup(phone) }}

    </fieldset>

    <input type="submit" name="submit" id="form-save" value="Save details" class="button">
    <a href="{{ cancelRoute }}" class="button button-secondary js-cancel">Cancel</a>

{{ form().closeTag|raw }}

{% endblock %}