{% extends 'layout/layout.twig' %}

{% set hideFeedbackLink = true %}

{%- set pageTitle = 'Send us feedback' -%}

{% set rating = form.get('rating').setOptions({ label: 'Rate your experience' }) %}

{% block errorSummary %}
    {% include 'application/general/feedback/partials/index-error-summary.twig' %}
{% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{{ form.setAttribute('class', 'form js-single-use') ? '' }}

{% set details = form.get('details') %}
{% set email = form.get('email') %}
{% set phone = form.get('phone') %}

{{ details.setAttributes({
    id: 'details',
    rows: 10,
    cols: 67,
    maxlength: 2000,
    class: 'form-control',
    'data-cy': 'feedback-textarea'
}) ? ''}}

{{ email.setAttributes({
    id: 'email',
    type: 'email',
    maxlength: 100,
    class: 'form-control',
    'data-cy': 'feedback-email'
}) ? ''}}

{{ phone.setAttributes({
    id: 'phone',
    type: 'phone',
    maxlength: 15,
    class: 'form-control',
    'data-cy': 'feedback-phone'
}) ? ''}}

{{ rating.setOptions({
    label_attributes: {'class': 'block-label'}
}) ? ''}}

{{ form().openTag( form )|raw }}

    {{ formElement(form.getCsrf) }}

    <fieldset>
        <div class="text">
            <p>We will not respond to your feedback directly but will use it to improve this service.</p>
            <p>If you have a question about your LPA, please email <a href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a> who will be able to help.</p>
        </div>

        <div class="form-group {{ rating.getMessages|length >0 ? 'form-group-error'}}">
            <label class="heading-medium flush--top text" for="{{ rating.getAttribute('id') }}">
                How would you rate your experience with this service?
            </label>
            {{ formElementErrorsV2(rating) }}
            {{ formRadio(rating) }}
        </div>

        <div class="form-group {{ details.getMessages|length >0 ? 'form-group-error'}}">
            <label class="heading-medium flush--top text" for="{{ details.getAttribute('id') }}">
                Please take a moment to tell us about your experience, what worked and what did not.
            </label>
            {{ formElementErrorsV2(details) }}
            <span class="form-hint">2000 characters max</span>
            {{ formElement(details) }}
        </div>

        <p class="heading-medium">If you’re happy to take part in research about this service, please leave your preferred contact details.</p>

        <div class="form-group {{ email.getMessages|length >0 ? 'form-group-error'}}">
            <label class="heading-medium flush--top text" for="{{ email.getAttribute('id') }}">
                Your email address
            </label>
            {{ formElementErrorsV2(email) }}
            {{ formElement(email) }}
        </div>

        <div class="form-group {{ phone.getMessages|length >0 ? 'form-group-error'}}">
            <label class="heading-medium flush--top text" for="{{ phone.getAttribute('id') }}">
                Your phone number
            </label>
            {{ formElementErrorsV2(phone) }}
            {{ formElement(phone) }}
        </div>

        <input type="submit" name="send" id="send" class="button" data-cy="feedback-submit-button" value="Send feedback">
    </fieldset>

{{ form().closeTag|raw }}

{% endblock content %}
