<li>
    <div class="person">
        <h3 class="person-name heading-small flush--ends">{{ notifiedPerson.name }}</h3>
        <p class="person-address flush--ends">{{ notifiedPerson.address }}</p>
        <ul class="person-actions">
            <li class="action-item">
                <a href="{{ editRoute }}" class="action-edit js-form-popup" aria-label="View/edit person to notify, {{ notifiedPerson.name }}">View/edit details</a>
            </li>
            <li class="action-item">
                <a href="{{ confirmDeleteRoute }}" class="action-delete js-form-popup">Delete</a>
            </li>
        </ul>
    </div>
</li>
