<li>
    <div class="person">
        <h3 class="person-name heading-small flush--ends">{{ notifiedPerson.name }}</h3>
        <p class="person-address flush--ends">{{ notifiedPerson.address }}</p>
        <ul class="person-actions">
            <li class="action-item">
                <a href="{{ confirmDeleteRoute }}" class="action-delete js-form-popup" data-cy="delete" aria-label="Delete Person to Notify {{ notifiedPerson.name }}">Delete<span class="visually-hidden"> Person to Notify {{ notifiedPerson.name }}</span></a>
            </li>
            <li class="action-item">
                <a href="{{ editRoute }}" role="button" class="action-edit js-form-popup" data-cy="view-change" aria-label="View/Change Person to Notify {{ notifiedPerson.name }}">View/Change<span class="visually-hidden"> Person to Notify {{ notifiedPerson.name }}</span></a>
            </li>
        </ul>
    </div>
</li>
