{% extends 'layout/accordion-layout.twig' %}

{%- set pageTitle = 'Who is the certificate provider?' -%}

{% block content %}

<li id="certificate-provider-section" class="section current" data-cy="section-current">

    <h1 class="heading-medium accordion-header flush--top">{{ pageTitle }}</h1>

    <div class="accordion-info">

        <div class="text">

            <p>Every LPA must have a certificate provider.</p>

            <p>The certificate provider is an independent person who helps to protect the donor’s interests.</p>

            <p>Before the donor signs the LPA, the certificate provider must discuss the LPA with the donor. This is to make sure:</p>

            <ul class="list list-bullet">
                <li>the donor understands their LPA and the power it gives their attorneys</li>
                <li>no one is putting the donor under pressure to make the LPA</li>
            </ul>

            <p>The certificate provider must:</p>

            <ul class="list list-bullet">
                <li>be able to have an honest conversation with the donor</li>
                <li>be the kind of person who speaks out if anything is wrong</li>
                <li>be independent</li>
            </ul>

            <p>The certificate provider signs the LPA after the donor.</p>

            <style>

            </style>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="visually-hidden">Warning</span>
                    There are strict rules on who can and cannot be a certificate provider.
                    If you do not follow them, your LPA will not be registered.
                </strong>
            </div>

            <div class="form-group">
                <details role="group">
                    <summary role="button" data-analytics-click="page:link.reveal:help: Rules on who can and cannot be the certificate provider">
                        <span class="summary">Rules on who can and cannot be the certificate provider</span>
                    </summary>
                    <div class="panel">
                        <h2 class="heading-medium">Who can be a certificate provider</h2>

                        <p>The certificate provider must be either:</p>

                        <ul class="list list-bullet">
                            <li>someone who has known the donor well for at least 2 years, for example, you’re a friend or neighbour (but not a relative)</li>
                            <li>a doctor, lawyer or someone with the professional skills to judge whether the donor understands the LPA</li>
                        </ul>

                        <p>The certificate provider must:</p>

                        <ul class="list list-bullet">
                            <li>be 18 or over</li>
                            <li>be able to make their own decisions (have ‘mental capacity’)</li>
                        </ul>

                        <h2 class="heading-medium">Who cannot be a certificate provider</h2>

                        <p>It’s important that the certificate provider is someone independent.</p>

                        <p>This means the certificate provider cannot be:</p>

                        <ul class="list list-bullet">
                            <li>an attorney or replacement attorney on this LPA, or any other power of attorney the donor has made</li>
                            <li>related to the donor - this includes being their husband, wife, civil partner, in-law or step-relation</li>
                            <li>related to an attorney or replacement attorney on the LPA</li>
                            <li>the donor’s boyfriend or girlfriend</li>
                            <li>an attorney or replacement attorney’s boyfriend or girlfriend</li>
                            <li>the donor’s employee or business partner</li>
                            <li>an attorney or replacement attorney’s employee or business partner</li>
                            <li>working for or running a care home where the donor lives</li>
                            <li>related to someone who works for or runs a care home where the donor lives</li>
                            <li>working for or running a trust corporation appointed as an attorney in the LPA</li>
                            <li>the donor</li>
                            <li>anyone the Court of Protection does not think is independent enough</li>
                        </ul>
                    </div>
                </details>
            </div>

            <p>
                <a class="js-guidance" href="/guide#topic-certificate-providers" data-analytics-click="page:link:help: Find out more about certificate providers">Find out more about certificate providers</a>
            </p>
        </div>
    </div>

    {% if (lpa.document.certificateProvider) %}

        <h2 class="heading-medium flush--top">The certificate provider</h2>

        <div class="person">
            <h3 class="person-name heading-small flush--ends">{{ lpa.document.certificateProvider.name }}</h3>
            <p class="person-address flush--ends">{{ lpa.document.certificateProvider.address }}</p>
            <ul class="person-actions">
                <li class="action-item">
                    <a href="{{ url('lpa/certificate-provider/confirm-delete', {'lpa-id': lpa.id}) }}" class="action-delete js-form-popup" data-cy="delete-certificate-provider" aria-label="Delete Certificate Provider">Delete<span class="visually-hidden"> Certificate Provider</span></a>
                </li>
                <li class="action-item">
                    <a href="{{ url('lpa/certificate-provider/edit', {'lpa-id': lpa.id}) }}" data-form="certificateprovider1" role="button" class="action-edit js-form-popup" data-cy="view-change-certificate-provider" aria-label="View/Change Certificate Provider">View/Change<span class="visually-hidden"> Certificate Provider</span></a>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <a href="{{ url(nextRoute, {'lpa-id': lpa.id}) }}" class="button" data-cy="save">{{ (final_check_accessible(lpa) ? 'Save and return to final check' : 'Save and continue') }}</a>
        </div>

    {% else %}

        {# begin form #}
        {{ form.prepare() ? '' }}
        {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}

        <div class="form-group">
            <a href="{{ url('lpa/certificate-provider/add', {'lpa-id': lpa.id}) }}" role="button" class="button js-form-popup" data-cy="add-certificate-provider">Add a certificate provider</a>
            <input type="submit" name="submit" class="button-link button-input-to-link" value="Skip this question for now" data-analytics-click="page:link:skip: Skip this question for now" data-cy="skip-certificate-provider"/>
        </div>

        {{ form().closeTag|raw }}

    {% endif %}

</li>

{% endblock %}
