{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}Certificate provider - {% endblock %}

{% block content %}

<li id="certificate-provider-section" class="section current">

    <h2 class="heading-medium accordion-header flush--top">Who is the certificate provider?</h2>

    <div class="accordion-info">

        <div class="text">

            <p>Every LPA must have a certificate provider.</p>

            <p>The certificate provider is an impartial person who helps to protect the donor’s interests.</p>

            <p>The certificate provider should discuss the LPA with the donor to make sure:</p>

            <ul class="list list-bullet">
                <li>the donor understands their LPA</li>
                <li>no one is putting the donor under pressure to make the LPA</li>
            </ul>

            <p>The certificate provider signs the LPA after the donor.</p>

            <p>The certificate provider must:</p>

            <ul class="list list-bullet">
                <li>be 18 years old or over</li>
                <li>have mental capacity</li>
                <li>have known the donor personally for at least 2 years, or have relevant professional skills and expertise (for example, the donor’s GP or solicitor)</li>
            </ul>

            <p>The certificate provider should:</p>

            <ul class="list list-bullet">
                <li>be the kind of person who speaks out if anything is wrong</li>
                <li>be impartial</li>
            </ul>

            <div class="form-group">
                <details role="group">
                    <summary role="button" data-journey-click="page:link.reveal:help: Who cannot be the certificate provider?">
                        <span class="summary">Who cannot be the certificate provider?</span>
                    </summary>
                    <div class="panel">
                        <p>The certificate provider cannot be:</p>
                        <ul class="list list-bullet">
                            <li>an attorney or replacement attorney for this or any other LPA or enduring power of attorney that the donor has made</li>
                            <li>a member of the donor's family or of an attorney’s or replacement attorney’s family – including husbands, wives, civil partners, in-laws and step-relations</li>
                            <li>the boyfriend or girlfriend of the donor, an attorney or replacement attorney</li>
                            <li>the business partner of the donor, an attorney or replacement attorney</li>
                            <li>an employee of the donor, an attorney or replacement attorney</li>
                            <li>anyone who runs or works for the care home where the donor lives</li>
                            <li>anyone who has a family member that runs or works for the care home where the donor lives</li>
                            <li>anyone who runs or works for a trust corporation appointed as an attorney in this LPA</li>
                            <li>the donor</li>
                        </ul>
                    </div>
                </details>
            </div>

            <p>
                <a class="js-guidance" href="/guide#topic-certificate-providers" data-journey-click="page:link:help: Find out more about certificate providers">Find out more about certificate providers</a>
            </p>
        </div>
    </div>

    {% if (lpa.document.certificateProvider) %}

        <h3 class="heading-medium flush--top">The certificate provider</h3>

        <div class="person">
            <h3 class="person-name heading-small flush--ends">{{ lpa.document.certificateProvider.name }}</h3>
            <p class="person-address flush--ends">{{ lpa.document.certificateProvider.address }}</p>
            <ul class="person-actions">
                <li class="action-item">
                    <a href="{{ url('lpa/certificate-provider/edit', {'lpa-id': lpa.id}) }}" data-form="certificateprovider1" class="action-edit js-form-popup" aria-label="View/edit Certificate Provider details">View/edit details</a>
                </li>
                <li class="action-item">
                    <a href="{{ url('lpa/certificate-provider/confirm-delete', {'lpa-id': lpa.id}) }}" class="action-delete js-form-popup">Delete</a>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <a href="{{ url(nextRoute, {'lpa-id': lpa.id}) }}" class="button">{{ (finalCheckAccessible(lpa) ? 'Save and return to final check' : 'Save and continue') }}</a>
        </div>

    {% else %}

        {# begin form #}
        {{ form.prepare() ? '' }}
        {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}

        <div class="form-group">
            <a href="{{ url('lpa/certificate-provider/add', {'lpa-id': lpa.id}) }}" class="button js-form-popup">Add a certificate provider</a>
            <input type="submit" name="submit" class="button-link button-input-to-link" value="Skip this question for now" data-journey-click="page:link:skip: Skip this question for now" />
        </div>

        {{ form().closeTag|raw }}

    {% endif %}

</li>

{% endblock %}
