{% extends 'layout/twig/layout.twig' %}

{% block errorSummary %}
    {% include 'application/general/forgot-password/partials/reset-password-error-summary.twig' %}
{% endblock %}

{% block htmlTitle %}Reset your password - {% endblock %}
{% block pageTitle %}Reset your password{% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Set form fields variables #}
{% set password = form.get('password') %}
{% set password_confirm = form.get('password_confirm') %}

{# form fields config #}
{{ password.setAttributes({
    id: 'password',
    class: 'form-control',
    'data-cy': 'password'
}) ? '' }}

{{ password_confirm.setAttributes({
    id: 'password_confirm',
    class: 'form-control',
    'data-cy': 'password_confirm'
}) ? '' }}

{# form fields labels #}
{{ password.setOptions( {label: 'Password'} ) ? '' }}
{{ password_confirm.setOptions( {label: 'Confirm password'} ) ? '' }}

{% include 'application/partials/password-rules.twig' %}

{# begin form #}
{{ form.prepare() ? '' }}
{{ form().openTag( form )|raw }}
    {{ formElement(form.getCsrf) }}

    <fieldset>
        <legend class="visually-hidden">Reset your password</legend>

        {{ macros.formGroup(password) }}
        {{ macros.formGroup(password_confirm) }}

        <div class="form-group">
            <input name="submit" id="form-submit" value="Reset my password" data-cy="reset-my-password" class="button" type="submit">
        </div>

    </fieldset>


{{ form().closeTag()|raw }}

{% endblock content %}
