<div class="global-nav js-toggle-nav">
    <div class="inner">
        <nav role="navigation" class="content">

            <ul class="navigation">

                {% if name %}
                    <li class="user navigation-item">{{ name ~ ':' }} </li>

                    <li class="navigation-item">
                        {% if route == 'user/about-you' %}
                            <span>Your details</span>
                        {% else %}
                            <a href="{{ view.url('user/about-you') }}">Your details</a>
                        {% endif %}
                    </li>


                    <li class="navigation-item">
                        {% if route == 'lpa-type-no-id' and hasOneOrMoreLPAs == false %}
                            <span>Your LPAs</span>
                        {% elseif route == 'user/dashboard' %}
                            <span>Your LPAs</span>
                        {% else %}
                            <a href="{{ view.url('user/dashboard') }}">Your LPAs</a>
                        {% endif %}
                    </li>

                {% endif %}

                <li class="navigation-item"><a href="/guide#topic-how-to-make-an-lpa-online" class="js-guidance">Help</a></li>

                <li class="navigation-item"><a href="{{ view.url('logout') }}">Sign out</a></li>

            </ul>

            {% if lastLogin %}
                <p class="lastsigned flush--ends">Last signed in: {{ lastLogin|date('j F Y \a\t g:ia', "Europe/London") }}</p>
            {% endif %}

        </nav>
    </div>
</div>
