<div class="global-nav js-toggle-nav">
    <div class="inner">
        <nav role="navigation" class="content">

            <ul class="navigation">

                {% if name %}
                    <li class="user navigation-item">{{ name ~ ':' }} </li>

                    {% set links = {
                        'user/about-you': 'Your details',
                        'user/dashboard': 'Your LPAs'
                    } %}

                    {% for page,title in links %}
                        <li class="navigation-item">
                            {% if route == page %}
                                <span>{{ title }}</span>
                            {% else %}
                                <a href="{{ view.url(page) }}">{{ title }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}

                {% endif %}

                <li class="navigation-item"><a href="{{ view.url('logout') }}">Sign out</a></li>

            </ul>

            {% if lastLogin %}
                <p class="lastsigned flush--ends">Last signed in: {{ lastLogin|date('j F Y \a\t g:ia') }}</p>
            {% endif %}

        </nav>
    </div>
</div>
