<div class="js-toggle-nav" id="global-nav">
    <div class="inner">
        <nav role="navigation" class="content">
        
            {# 
            USAGE EXAMPLE
            -------------
            {{ route == '/user/about-you' ? 'ON ABOUT YOU PAGE' : 'ON ANOTHER PAGE' }}
            #}
            
            <ul id="navigation">
                <li class="user">{{ name ? name ~ ':' : '' }} </li>
                {% for key,value in links %}
                    <li>
                        {% if route == value['url'] %}
                            <span>{{ value['text'] }}</span>
                        {% else %}
                            <a href="{{ value['url'] }}">{{ value['text'] }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if lastLogin %}
                <p class="lastsigned flush--ends">Last signed in: {{ lastLogin|date('j F Y \a\t g:ia') }}</p>
            {% endif %}
        </nav>
    </div>
</div>
