{% import "application/summary/partials/macros.twig" as macros %}

<table class="table-summary" itemtype="http://schema.org/Organization" itemscope>

	<caption class="visuallyhidden">Caption to identify a table</caption>
	
	<tbody>

		{# LPA TYPE #}
		{% if lpa.document.type is defined %}
			<tr class="group-single">
				<th class="table-summary-title" scope="row">Type of LPA</th>
				<td class="table-summary-content" itemprop="name">
					{{ lpa.document.type == 'health-and-welfare' ? 'Health and welfare' : 'Property and finance' }}
				</td>
				<td class="table-summary-action"><a href="#">Edit</a></td>
			</tr>
		{% endif %}

		{# DONOR #}
		{% if lpa.document.donor is defined %}

			<tr class="group-start">
				<td class="table-summary-heading" colspan="3">
					<h3 class="heading-small">Donor</h3>
				</td>
			</tr>

			{{ macros.outputActor( lpa.document.donor, '#') }}

			{% if lpa.document.donor.canSign is defined %}
				<tr class="group-end">
					<th class="table-summary-title" scope="row">I can physically sign the LPA</th>
					<td class="table-summary-content">{{ lpa.document.donor.canSign ? 'Yes' : 'No' }}</td>
					<td class="table-summary-action"></td>
				</tr>
			{% endif %}

		{% endif %}

		{# WHEN LPA STARTS #}
		{% if lpa.document.type is defined and lpa.document.primaryAttorneyDecisions.when is defined and lpa.document.type == 'property-and-financial' %}
			<tr class="group-single">
				<th class="table-summary-title" scope="row">My LPA can be used</th>
				<td class="table-summary-content">
					{{ lpa.document.primaryAttorneyDecisions.when == 'now' ? 'As soon as it\'s registered (with my consent)' : 'Only if I don\'t have mental capacity' }}
				</td>
				<td class="table-summary-action"><a href="#">Edit</a></td>
			</tr>
		{% endif %}

		{# PRIMARY ATTORNEYS #}
		{% if lpa.document.primaryAttorneys is defined and lpa.document.primaryAttorneys|length > 0 %}

			{% for key,attorney in lpa.document.primaryAttorneys %}

				<tr class="group-start">
					<td class="table-summary-heading" colspan="3">
						<h3 class="heading-small">{{ ordinalSuffix(loop.index) }} Primary Attorney</h3>
					</td>
				</tr>

				{{ macros.outputActor( attorney, '#') }}

			{% endfor %}

		{% endif %}


		{# HOW PRIMARY ATTORNEYS MAKE DECISIONS #}

		<tr class="group-single">
			<th class="table-summary-title" scope="row">How primary attorneys make decisions</th>
			<td class="table-summary-content" itemprop="name">The attorneys will act jointly and severally</td>
			<td class="table-summary-action"><a href="#">Edit</a></td>
		</tr>

		{# REPLACEMENT ATTORNEY #}

		<tr class="group-start">
			<td class="table-summary-heading" colspan="3">
				<h3 class="heading-small">Replacement Attorney</h3>
			</td>
		</tr>

		<tr class="group-element">
			<th class="table-summary-title" scope="row">Name</th>
			<td class="table-summary-content">Amber Iqbal</td>
			<td class="table-summary-action"><a href="#">Edit</a></td>
		</tr>

		<tr class="group-element">
			<th class="table-summary-title" scope="row">Date of birth</th>
			<td class="table-summary-content">19/08/1946</td>
			<td class="table-summary-action"></td>
		</tr>

		<tr class="group-element">
			<th class="table-summary-title" scope="row">Address</th>
			<td class="table-summary-content">
				<div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
					<div itemprop="streetAddress">10 Marlborough Crescent</div>
					<div itemprop="addressLocality">South Luffenham</div>
					<div itemprop="postalCode">LE15 5YE</div>
					<div itemprop="addressCountry">United Kingdom</div>
				</div>
			</td>
			<td class="table-summary-action"></td>
		</tr>

		<tr class="group-end">
			<th class="table-summary-title" scope="row">Email address</th>
			<td class="table-summary-content">amberiqbal@inbound.plus</td>
			<td class="table-summary-action"></td>
		</tr>

		{# WHEN REPLACEMENT ATTORNEYS STEP IN #}

		<tr class="group-single">
			<th class="table-summary-title" scope="row">When replacement attorneys step in</th>
			<td class="table-summary-content">The replacement attorneys will step in as per instructions</td>
			<td class="table-summary-action"><a href="#">Edit</a></td>
		</tr>

		{# CERTIFICATE PROVIDER #}

		<tr class="group-start">
			<td class="table-summary-heading" colspan="3">
				<h3 class="heading-small">Certificate Provider</h3>
			</td>
		</tr>

		<tr class="group-element">
			<th class="table-summary-title" scope="row">Name</th>
			<td class="table-summary-content">Poppy Gough</td>
			<td class="table-summary-action"><a href="#">Edit</a></td>
		</tr>

		<tr class="group-end">
			<th class="table-summary-title" scope="row">Address</th>
			<td class="table-summary-content">
				<div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
					<div itemprop="streetAddress">42 Withers Close</div>
					<div itemprop="addressLocality">Alkington</div>
					<div itemprop="postalCode">SY13 0HG</div>
					<div itemprop="addressCountry">United Kingdom</div>
				</div>
			</td>
			<td class="table-summary-action"></td>
		</tr>

		{# PEOPLE TO NOTIFY 1 #}

		<tr class="group-start">
			<td class="table-summary-heading" colspan="3">
				<h3 class="heading-small">1st person to notify</h3>
			</td>
		</tr>

		<tr class="group-element">
			<th class="table-summary-title" scope="row">Name</th>
			<td class="table-summary-content">Adam Jackson</td>
			<td class="table-summary-action"><a href="#">Edit</a></td>
		</tr>

		<tr class="group-end">
			<th class="table-summary-title" scope="row">Address</th>
			<td class="table-summary-content">
				<div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
					<div itemprop="streetAddress">93 Ilchester Road</div>
					<div itemprop="addressLocality">Mundford</div>
					<div itemprop="postalCode">IP26 9DE</div>
					<div itemprop="addressCountry">United Kingdom</div>
				</div>
			</td>
			<td class="table-summary-action"></td>
		</tr>

		{# PEOPLE TO NOTIFY #}

		<tr class="group-start">
			<td class="table-summary-heading" colspan="3">
				<h3 class="heading-small">2nd person to notify</h3>
			</td>
		</tr>

		<tr class="group-element">
			<th class="table-summary-title" scope="row">Name</th>
			<td class="table-summary-content">Mohammad Jackson</td>
			<td class="table-summary-action"><a href="#">Edit</a></td>
		</tr>

		<tr class="group-end">
			<th class="table-summary-title" scope="row">Address</th>
			<td class="table-summary-content">
				<div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
					<div itemprop="streetAddress">40 Park Place</div>
					<div itemprop="addressLocality">Carroglen</div>
					<div itemprop="postalCode">PH6 2YU</div>
					<div itemprop="addressCountry">United Kingdom</div>
				</div>
			</td>
			<td class="table-summary-action"></td>
		</tr>

		{# ATTORNEY INSTRUCTIONS #}

		<tr class="group-single">
			<th class="table-summary-title" scope="row">Attorney instructions</th>
			<td class="table-summary-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem alias quas, et voluptates. Commodi amet dolorum, non officiis perferendis, dolor quae aliquam accusantium! Sequi dicta modi earum obcaecati voluptatem consectetur.</td>
			<td class="table-summary-action"><a href="#">Edit</a></td>
		</tr>

		{# ATTORNEY PREFERENCES #}

		<tr class="group-single">
			<th class="table-summary-title" scope="row">Attorney preferences</th>
			<td class="table-summary-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem alias quas, et voluptates. Commodi amet dolorum, non officiis perferendis, dolor quae aliquam accusantium! Sequi dicta modi earum obcaecati voluptatem consectetur.</td>
			<td class="table-summary-action"><a href="#">Edit</a></td>
		</tr>
	
	</tbody>

</table>