{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}
    Your LPAs
{% endblock %}

{% block content %}

{% if message %}

    <h3>{{ message }}</h3>

{% else %}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="text">
            <p class="lede">On this page you'll find all the LPAs that you've created. As well as creating a new LPA from scratch, you can:</p>
            <ul class="list list-bullet">
                <li><strong>Continue creating</strong> an LPA</li>
                <li>Check that the <strong>signing dates</strong> on an LPA are in the right order before you
                    register it. (If they're not in the right order, you risk having to repay some or all of the
                    application fee.)
                </li>
                <li><strong>Reuse details</strong> from an existing LPA to create a new one and save you
                    entering some information twice
                </li>
            </ul>    
        </div>
    </div>
    <div class="column-one-third">
        <div class="panel-cta">
            <p class="panel-body flush--top">Create another LPA</p>
            <p class="panel-button flush--bottom">
                <a class="button" href='{{ url('user/dashboard/create-lpa') }}' role="button">Start now</a>
            </p>
            
        </div>
    </div>
</div>

{% endif %}

<hr>
{% set shortList = lpas.getTotalItemCount() < 21 %}

{% if lpas.getTotalItemCount() == 0 %}
    {% if shortList %}
        <h2 class="heading-large">You have no LPAs</h2>
    {% else %}
        <div class="grid-row">
            <div class="column-one-half">
                <h2 class="heading-large">No LPAs found</h2>
                {% if isSearch %}
                    <p>
                        Your search has found no results.<br>
                        <a id="clear" href='{{ url('user/dashboard') }}'>Clear search results</a>
                    </p>
                {% endif %}
            </div>
            <div class="column-one-half">
                <form action="{{ url('user/dashboard') }}" method="GET" class="lpa-search-form">
                    <fieldset>
                        <legend class="visuallyhidden">Search for LPAs</legend>
                        <div class="">
                            <label for="search" class="form-label">
                                <span class="form-label-bold">Search LPAs</span>
                            </label>
                            <span class="form-hint">LPA number, donor's first or last name</span>
                            <input type="text" id="search" name="search" value="{{ freeText ? escapeHtmlAttr( freeText ) : '' }}" class="form-control"/>
                            <input class="add button" type="submit" value="Search"/>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    {% endif %}
{% endif %}

{% if lpas.getTotalItemCount() > 0 %}

{% if shortList %}
    <h2 class="heading-large">Property and finance</h2>
{% else %}
    <div class="grid-row">
        <div class="column-one-half">
            <h2 class="heading-large">All {{ lpas.getTotalItemCount() }} LPAs</h2>
            {% if isSearch %}

                {% if lpas.getTotalItemCount() == 0 %}

                    <p>
                        Your search has found no results.<br>
                        <a id="clear" href='{{ url('user/dashboard') }}'>Clear search results</a>
                    </p>

                {% else %}

                    <p>
                        Your search has found {{ lpas.getTotalItemCount() }} results.<br>
                        <a id="clear" href='{{ url('user/dashboard') }}'>Clear search results</a>
                    </p>

                {% endif %}

            {% endif %}
        </div>
        <div class="column-one-half">
            <form action="{{ url('user/dashboard') }}" method="GET" class="lpa-search-form">
                <fieldset>
                    <legend class="visuallyhidden">Search for LPAs</legend>
                    <div class="">
                        <label for="search" class="form-label">
                            <span class="form-label-bold">Search LPAs</span>
                        </label>
                        <span class="form-hint">LPA number, donor's first or last name</span>
                        <input type="text" id="search" name="search" value="{{ freeText ? escapeHtmlAttr( freeText ) : '' }}" class="form-control"/>
                        <input class="add button" type="submit" value="Search"/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endif %}
<hr>

<table id="savedforms" class="{{ shortList == true ? 'lpa-cards' : 'lpa-table' }}">
    <thead>
    <tr>
        <th>Donor</th>
        <th>LPA number</th>
        <th>LPA Type</th>
        <th>Progress</th>
        <th>Last saved</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for key,lpa in lpas %}
        <tr>
            <td class="lpa-donor">
                <h3 class="heading-{{ shortList == true ? 'medium' : 'small' }} flush--ends">  
                {% if lpa.donor|length > 0 %}
                    {{ lpa.donor }}
                {% else %}
                    No donor added
                {% endif %}
                </h3>
                {% if not shortList %}
                    <div class="lpa-number-alt">{{ formatLpaId(lpa.id) }}</div>
                {% endif %}
            </td>
            <td class="lpa-number">{{ formatLpaId(lpa.id) }}</td>
            <td class="lpa-type">{{ lpa.type == 'property-and-financial' ? 'P & F' : ((lpa.type == 'health-and-welfare') ? 'H & W' : 'Not selected') }}</td>
            <td class="lpa-progress">
                <span class="{{ lpa.progress == 'Started' ? 'progress-started' : 'progress-completed' }}">{{ lpa.progress }}</span>
            </td>
            <td class="lpa-date">
                {# <span>{{ lpa.updatedAt.format('d/m/y') }}</span> #}
                <span>24/10/16</span>
            </td>
            <td class="lpa-actions">
                <div class="lpa-cta">
                    <a class="button button-secondary" href="/lpa/{{ lpa.id }}">{{ lpa.progress == 'Completed' ? 'View LPA' : 'Continue' }}</a>
                </div>
                <div class="lpa-manage">
                    {% if shortList %}
                        {% if (lpa.progress == 'Completed' or lpa.progress == 'Created') %}
                            <a href="/lpa/{{ lpa.id }}/date-check">Check <span>signing</span> dates</a><br>
                        {% endif %}

                        {% if lpa.progress != 'Started' %}
                            <a href="{{ url('user/dashboard/create-lpa', {'lpa-id': lpa.id}) }}">Reuse <span>LPA</span> details</a><br>
                        {% endif %}

                        <a href="/user/dashboard/delete-lpa/{{ lpa.id }}">Delete <span>LPA</span></a>
                    {% else %}
                        <details>
                            <summary>
                                <span class="summary">Manage</span>
                            </summary>
                            <ul>
                                {% if (lpa.progress == 'Completed' or lpa.progress == 'Created') %}
                                    <li>
                                        <a href="/lpa/{{ lpa.id }}/date-check">Check dates</a>
                                    </li>
                                {% endif %}

                                {% if lpa.progress != 'Started' %}
                                    <li>
                                        <a href="{{ url('user/dashboard/create-lpa', {'lpa-id': lpa.id}) }}">Reuse details</a>     
                                    </li>
                                {% endif %}

                                <li>
                                    <a href="/user/dashboard/delete-lpa/{{ lpa.id }}">Delete</a>
                                </li>
                            </ul>
                        </details>
                    {% endif %}
                </div>
            </td>
        </tr>

    {% endfor %}

    </tbody>
</table>

<? /* Pagination HTML is in pagination.phtml */ ?>
{{ paginationControl(lpas, 'Sliding', 'application/dashboard/pagination', {'route': 'user/dashboard/pagination'}) }}

<p>
{% endif %}
  
{% endblock %}