{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}Life-sustaining treatment - {% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}
{% set form = formErrorTextExchange(form, {
    'canSustainLife' : {
        'Value is required and can\'t be empty' : 'Please choose an option'
    }
}) %}

{# Set form fields variables #}
{% set canSustainLife = form.get('canSustainLife') %}

{{ canSustainLife.setValueOptions(
    {"1": "Option A – <strong class='bold-small'>The donor gives their attorneys authority</strong> to give or refuse consent to life-sustaining treatment on their behalf.",
        "0": "Option B – <strong class='bold-small'>The donor does not give their attorneys authority</strong> to give or refuse consent to life-sustaining treatment on their behalf."}
) ? ''}}

{# form fields config #}

{{ canSustainLife.setOptions({
    label_attributes: {'class': 'text block-label'}
}) ? '' }}

{{ canSustainLife.setLabelOptions({
    disable_html_escape: true
}) ? '' }}


<li id="life-sustaining-section" class="section current">

    <h2 class="heading-medium accordion-header flush--top">Who does the donor want to make decisions about life-sustaining treatment?</h2>

    <div class="accordion-info">
        <div class="text">
            <p class="text">This is a very important decision. The donor should read the guidance carefully before they answer.</p>
            <p class="text">Life-sustaining treatment is care, surgery, medicine or other help from doctors that's needed to keep someone alive.</p>
            <p class="text">The donor must choose who they want to make decisions about life-sustaining treatment if they do not have the mental capacity to decide themselves.</p>
            <p><a href="/guide#topic-life-sustaining-treatment" class="js-guidance" data-journey-click="page:link:help: Read guidance on making this decision">Read guidance on making this decision</a></p>
        </div>
    </div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}

        {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}

        <fieldset id="canSustainLife">
            <legend class="visually-hidden">Life-sustaining treatment decision</legend>

            <h2 class="heading-medium flush--top text">Who does the donor want to make decisions about life-sustaining treatment?</h2>

            <div class="form-group {{ canSustainLife.getMessages|length > 0 ? 'error'}}">
                {{ formElementErrorsV2(canSustainLife) }}

                {{ formRadio().outputOption(canSustainLife, "1")|raw }}

                <div class="panel panel-border-thin">
                    <p class="text">The donor can add preferences and instructions later in the LPA to explain what they would like their attorneys to consider if they have to make decisions about life-sustaining treatment.</p>
                </div>

                {{ formRadio().outputOption(canSustainLife, "0")|raw }}

                <div class="panel panel-border-thin">
                    <p class="text">Doctors will make any decisions about life-sustaining treatment, taking into account the donor’s best interests and, where possible, the views of others involved in the donor’s welfare, such as their attorneys and family members.</p>
                </div>

            </div>
        </fieldset>

        <p class="text">After the LPA document is printed, the donor will need to sign and date the option they've chosen. This must be witnessed. The witness must also sign and include their full name and address. If they do not,  OPG cannot register the LPA and the donor may have to pay the application fee again.</p>

        <div class="form-group">
            {{ formElement(form.get('save')) }}
        </div>

    {{ form().closeTag|raw }}

</li>

{% endblock %}
