{% extends 'layout/twig/accordion-layout.twig' %}

{% block htmlTitle %}Life-sustaining treatment - {% endblock %}

{% block content %}

{% import "application/macros.twig" as macros %}

{# Error messages #}
{% set form = formErrorTextExchange(form, {
    'canSustainLife' : {
        'Value is required and can\'t be empty' : 'Please choose an option'
    }
}) %}

{# Set form fields variables #}
{% set canSustainLife = form.get('canSustainLife') %}

{{ canSustainLife.setValueOptions(
    {"1": "Option A – Choose this option if you <strong class='bold-small'>want to give your attorneys authority</strong> to give or refuse consent to life-sustaining treatment on your behalf",
        "0": "Option B – Choose this option if you <strong class='bold-small'>do not want to give your attorneys authority</strong> to give or refuse consent to life-sustaining treatment on your behalf"}
) ? ''}}

{# form fields config #}

{{ canSustainLife.setOptions({
    label_attributes: {'class': 'text block-label'}
}) ? '' }}

{{ canSustainLife.setLabelOptions({
    disable_html_escape: true
}) ? '' }}


<li id="life-sustaining-section" class="section current">

    <h2 class="heading-medium accordion-header flush--top">Who do you (the donor) want to make decisions about life-sustaining treatment?</h2>

    <div class="accordion-info">
        <div class="text">
            <p>This is a very important decision. Read the guidance carefully before you answer.</p>
            <ul class="list list-bullet">
                <li>your attorneys can only make decisions about life-sustaining treatment if you do not have mental capacity</li>
                <li>life-sustaining treatment is any treatment a doctor considers necessary to keep you alive</li>
            </ul>
            <p><a href="/guide#topic-life-sustaining-treatment" class="js-guidance" data-journey-click="page:link:help: Read guidance on making this decision">Read guidance on making this decision </a></p>
        </div>
    </div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.getCsrf) }}

        {{ macros.formErrorSummary(error,form,'There was a problem submitting the form') }}

        <fieldset id="canSustainLife">
            <legend class="visually-hidden">Life-sustaining treatment decision</legend>

            <h2 class="heading-medium flush--top text">Who do you (the donor) want to make decisions about life-sustaining treatment?</h2>

            <div class="form-group {{ canSustainLife.getMessages|length > 0 ? 'error'}}">
                {{ formElementErrorsV2(canSustainLife) }}
               <!-- {{ formRadio(canSustainLife) }} -->

                        {{ formRadio().outputOption(canSustainLife, "1", {"data-target":"js-can-sustain-life-true"} )|raw }}

                <div class="panel panel-border-thin js-hidden" id="js-can-sustain-life-true">
                    <p class="text">
                        You can give your attorneys preferences and instructions later in your LPA.
                        This will tell them what you would like them to consider if they have to make
                        decisions about life-sustaining treatment.
                    </p>
                </div>

                {{ formRadio().outputOption(canSustainLife, "0", {"data-target":"js-can-sustain-life-false"} )|raw }}

                <div class="panel panel-border-thin js-hidden" id="js-can-sustain-life-false">
                    <p class="text">
                        This means that doctors will make life-sustaining treatment decisions for you, taking into account
                        your best interests, and where possible the views of others involved in your welfare, such as
                        your attorneys and family members.
                    </p>
                </div>

            </div>
        </fieldset>

        <p class="text">After the LPA document is printed, the donor will need to sign and date the option they've chosen. This must be witnessed. The witness must also sign and include their full name and address - if not, OPG cannot register the LPA, and you may have to pay the application fee again.</p>

        <div class="form-group">
            {{ formElement(form.get('save')) }}
        </div>

    {{ form().closeTag|raw }}

</li>

{% endblock %}
