{% extends 'layout/twig/accordion-layout.twig' %}

{% block content %}

<li id="people-to-notify-section" class="section current js-current">

    <h2 class="heading-medium accordion-header flush--top">Who should be notified about your LPA?</h2>

    <div class="accordion-info">
        <div class="text">
            <p>You can add up to 5 'people to notify' however, you don't have to include any for your LPA to be valid.</p>
            <p>These people have a chance to raise any concerns before your LPA is registered.</p>
            <p>You will be given the form to download and send to any 'people to notify' once you have finished your LPA.</p>
            <p><a class="js-guidance" href="/guide#topic-people-to-notify" data-journey-click="stageprompt.lpa:help:people-to-notify">Find out more about 'people to notify'</a></p>
        </div>
    </div>

    {% if (peopleToNotify) %}

        <ul>
            {% for person in peopleToNotify %}
                {% include 'application/people-to-notify/partials/people-to-notify.twig' with person %}
            {% endfor %}
        </ul>

    {% endif %}

    <div class="form-group">
        <a href="{{ addRoute }}" class="{% if not (peopleToNotify) %}button{% endif %} js-form-popup" >
            {% if (peopleToNotify) %}
                Add another 'person to notify'
            {% else %}
                Add a 'person to notify'
            {% endif %}
        </a>
    </div>

    {# begin form #}
    {{ form.prepare() ? '' }}
    {{ form().openTag( form )|raw }}
        {{ formElement(form.get( form.csrfName )) }}

        <div class="form-group">
            <input type="submit" name="save" value="Save and continue" class="button divorced">
        </div>

    {{ form().closeTag|raw }}

</li>

{% endblock %}