{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}
    Check your details
{% endblock %}

{% block content %}

    {# worldpay #}

        {% set worldpayForm = formErrorTextExchange(worldpayForm,  {
        'email' : {
        'Value is required and can\'t be empty' : 'Please enter an email address'
        }
        }) %}

        {# Set form fields variables #}
        {% set email = worldpayForm.get('email') %}

        {# form fields config #}
        {{ email.setAttributes({
            id:'email',
            class: 'form-control'
        }) ? '' }}

        {# form fields labels #}
        {{ email.setOptions( {
            label: 'Email address'
        } ) ? '' }}

    {# /worldpay #}

    {% import "application/macros.twig" as macros %}

    {% include 'application/summary/partials/summary-table.twig' %}

    <div class="appstatus" role="alert">
        <h2 class="heading-xlarge">Confirm and pay</h2>
        {% if paymentAmount == null %}
            <h3 class="heading-medium">We'll contact you about the fee</h3>
        {% else %}
            <h3 class="heading-medium">Application fee: £{{ paymentAmount }}</h3>
        {% endif %}
    </div>

    {% if lpa.payment.amount == 0 %}

        {# -- Nothing to pay -- #}
        <p class="divorced"><a href="{{ url('lpa/checkout/confirm', {'lpa-id': lpa.id}) }}" class="button">Confirm and finish</a></p>

    {% else %}

        <div class="text">
            <p>This is a non-refundable application fee that's paid by the donor. If you are an attorney, you should pay the fee now and reclaim it from the donor's funds.</p>
            <p>On the next screen you'll be taken to our payment partner, Worldpay, where you can pay by debit or credit card. This is a secure transaction.</p>
        </div>

        {# -- Worldpay -- #}
        {# begin form #}
        {{ worldpayForm.prepare() ? '' }}
        {{ form().openTag( worldpayForm )|raw }}
        {{ formElement(worldpayForm.get( worldpayForm.csrfName )) }}

        {# Error summary #}
        {{ macros.formErrorSummary(error,worldpayForm,'There was a problem submitting the form') }}

        <fieldset>
            <legend class="visuallyhidden">Contact email</legend>

            <h2 class="heading-medium flush--top text">Enter a contact email for correspondence regarding this payment.</h2>

            {{ macros.formGroup(email) }}

        </fieldset>

        <div class="form-group">
            <input type="submit" name="save" value="Make online payment now" class="button">
        </div>

        {{ form().closeTag|raw }}


        {# -- GDS Pay
        <p class="divorced"><a href="{{ url('lpa/checkout/pay', {'lpa-id': lpa.id}) }}" class="button">Make online payment now (GDS)</a></p>
        -- #}

        {# -- Cheque -- #}
        <p><a href="{{ url('lpa/checkout/cheque', {'lpa-id': lpa.id}) }}">I want to pay by cheque</a></p>

    {% endif %}

{% endblock %}