{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}
    Payment Cancelled
{% endblock %}

{% block content %}

    {# worldpay #}

        {% set worldpayForm = formErrorTextExchange(worldpayForm,  {
        'email' : {
        'Value is required and can\'t be empty' : 'Please enter an email address'
        }
        }) %}

        {# Set form fields variables #}
        {% set email = worldpayForm.get('email') %}

        {# form fields con  fig #}
        {{ email.setAttributes({
            id:'email',
            class: 'form-control'
        }) ? '' }}

        {# form fields labels #}
        {{ email.setOptions( {
            label: 'Email address'
        } ) ? '' }}

    {% import "application/macros.twig" as macros %}

    {# /worldpay #}

    <li id="payment" class="section current js-current">

        <h2 class="heading-medium accordion-header flush--top">Making payment online through Worldpay payment gateway</h2>

        <div class="accordion-info">
            <div class="text">

                <div class="alert panel" role="alert">
                    <i class="icon icon-cross" role="presentation"></i>
                    <div class="alert-message">
                        <p>Payment cancelled</p>
                    </div>
                </div>

                <h2 class="heading-medium flush--top">Amount due: &pound;{{ lpa.payment.amount }}</h2>

                <p>It appears you have chosen to cancel online payment. If you would like you can choose to <a href="{{ url('lpa/checkout/cheque', {'lpa-id': lpa.id}) }}">pay by cheque</a>.</p>

            </div>
        </div>

        {# -- Worldpay -- #}
        {# begin form #}
        {{ worldpayForm.prepare() ? '' }}
        {{ form().openTag( worldpayForm )|raw }}
        {{ formElement(worldpayForm.get( worldpayForm.csrfName )) }}

        {# Error summary #}
        {{ macros.formErrorSummary(error,worldpayForm,'There was a problem submitting the form') }}

        <fieldset>
            <legend class="visuallyhidden">Contact email</legend>

            <h2 class="heading-medium flush--top text">Please enter a contact email for correspondence regarding this payment.</h2>

            {{ macros.formGroup(email) }}

        </fieldset>

        <div class="form-group">
            <input type="submit" name="save" value="Try again" class="button">
        </div>

        {{ form().closeTag|raw }}


    </li>

{% endblock %}
