{% extends 'layout/twig/layout.twig' %}

{% block pageTitle %}
    Online payment failed
{% endblock %}

{% block content %}

    {# worldpay #}

    {% set worldPayForm = formErrorTextExchange(worldPayForm,  {
    'email' : {
    'Value is required and can\'t be empty' : 'Please enter an email address'
    }
    }) %}

    {# Set form fields variables #}
    {% set email = worldPayForm.get('email') %}

    {# form fields con  fig #}
    {{ email.setAttributes({
        id:'email',
        class: 'form-control'
    }) ? '' }}

    {# form fields labels #}
    {{ email.setOptions( {
        label: 'Email address'
    } ) ? '' }}

    {% import "application/macros.twig" as macros %}

    {# /worldpay #}

    <h2 class="heading-medium flush--top">Amount due: &pound;{{ moneyFormat(lpa.payment.amount) }}</h2>

    <div class="text">
        <p>Sorry, but there appears to be a problem with this payment. Please click the button below to try again. If the problem continues, visit <a href="http://www.worldpay.com/shopper/" target="_blank">Worldpay's support pages</a> for help.</p>

        <p>If you would like you can choose to <a href="{{ url('lpa/checkout/cheque', {'lpa-id': lpa.id}) }}">pay by cheque</a>.</p>
    </div>

    {# -- Worldpay -- #}
    {# begin form #}
    {{ worldPayForm.prepare() ? '' }}
    {{ form().openTag( worldPayForm )|raw }}
    {{ formElement(worldPayForm.getCsrf) }}

    {# Error summary #}
    {{ macros.formErrorSummary(error,worldPayForm,'There was a problem submitting the form') }}

    <fieldset>
        <legend class="visually-hidden">Contact email</legend>

        <h2 class="heading-medium text">Enter a contact email for correspondence regarding this payment.</h2>

        {{ macros.formGroup(email) }}

    </fieldset>

    <input type="submit" name="save" value="Try again" class="button">

    {{ form().closeTag|raw }}

{% endblock %}
