{% extends 'layout/twig/layout.twig' %}

{% block content %}
<div class="text">
    <p class="lede">This online service will help you to create a
        <a class="js-guidance" href="/guide#topic-what-is-an-lpa" data-journey-click="page:link:help: lasting power of attorney" target="_blank">lasting power of attorney</a>
        (LPA) for England and Wales.</p>

    <p>This service guides you through answering the questions and explains the process along the way.
        We’ll use your answers to create an LPA that you can save and print, sign and send to the Office of the Public Guardian (OPG) for registration.</p>

    <p>We’ll save your LPA as you progress so you don’t need to complete it in one go.</p>

    {{ systemMessage() }}
</div>

<div id="home-boxes">
    {% if (identity() is empty) %}
        <div id="home-boxes-left">
            <div>
                <h2 class="heading-medium">I don’t have an LPA account</h2>
                <p>
                    To start your LPA you first need to set up an online account. You can use your account
                    to make multiple LPAs for yourself and others.
                </p>
                <a class="button button-start" href="{{ url('register') }}" role="button">Create my account</a>
            </div>
        </div>
        <div id="home-boxes-right">
            <div>
                <h2 class="heading-medium">I already have an LPA account</h2>
                <p>
                    Continue making your LPA online by signing into your existing account.
                </p>
                <a class="button button-start" href="{{ url('login') }}" role="button">Sign in</a>
            </div>
            </div>
    {% else %}
        <div id="home-boxes-left">
            <div>
                <h2 class="heading-medium">Create an LPA</h2>
                <p>
                    Begin the guided steps to create your LPA to print and sign.
                </p>
                <a class="button button-start" href="{{ url('user/dashboard/create-lpa') }}" role="button">Start now</a>
            </div>
        </div>
    {% endif %}
</div>


<br><br>

<h2 class="heading-medium">
    Before you create your LPA
</h2>

<details role="group">
    <summary role="button" data-journey-click="page:link.reveal:help: How much does it cost?">
        <span class="summary">How much does it cost?</span>
    </summary>
    <div class="panel panel-border-narrow">
        <p>
            It is free to complete your LPA online, however your LPA cannot be used until it's registered. There's a &pound;{{ lpaFee }} application fee to register each LPA. If the donor has an income below £12,000, or gets certain benefits, they might qualify for a lower fee, or the fee might be waived altogether. If you're eligible for a reduction the completed form for this will be given to you at the end of this service. You can pay your application fee by card online or send a cheque with your LPA to OPG.
        </p>
        <p>
            <a href="/guide#topic-fees-and-reductions" class="js-guidance" data-journey-click="page:link:help: Read more about fees and reductions">Read more about fees and reductions</a>
        </p>

    </div>
</details>

<details role="group">
    <summary role="button" data-journey-click="page:link.reveal:help: What do I need to complete the form?">
        <span class="summary">What do I need to complete the form?</span>
    </summary>
    <div class="panel panel-border-narrow">
        <ul class="list list-bullet">
            <li>name, address and date of birth of the <a href="/guide#topic-donor" class="js-guidance" data-journey-click="page:link:help: donor">donor</a> (the person the LPA is for)</li>
            <li>names, addresses and dates of birth of all <a href="/guide#topic-attorneys" class="js-guidance" data-journey-click="page:link:help: attorneys">attorneys</a>
                and <a href="/guide#topic-replacement-attorneys" class="js-guidance"  data-journey-click="page:link:help: replacement attorneys">replacement attorneys</a></li>
            <li>names and addresses of <a href="/guide#topic-certificate-providers" class="js-guidance" data-journey-click="page:link:help: certificate provider">certificate provider</a></li>
            <li>names and addresses of <a href="/guide#topic-people-to-notify" class="js-guidance" data-journey-click="page:link:help: people to notify">'people to notify'</a></li>
        </ul>
        <p>
            You won’t be asked for the name of witnesses, you can fill those in on the printed form when they sign.
        </p>
        <p>
            <a href="/guide#topic-before-you-begin" class="js-guidance" data-journey-click="page:link:help: Read more about how to prepare">Read more about how to prepare</a>
        </p>
    </div>
</details>

<details role="group">
    <summary role="button" data-journey-click="page:link.reveal:help: Why can’t I do all of this online?">
        <span class="summary">Why can’t I do all of this online?</span>
    </summary>
    <div class="panel panel-border-narrow">
        <p>
            For an LPA to be valid it needs to be signed and witnessed by all people mentioned on the
            LPA. The online tool makes it simpler to do the first part, the filling in of the form.
            You can take your time and can read extra help if you need it. A printed, signed LPA has to
            be registered with the Office of the Public Guardian before it can be used.
        </p>
        <p>
            <a href="/guide#topic-about-this-service" class="js-guidance" data-journey-click="page:link:help: Read more about this service">Read more about this service</a>
        </p>
    </div>
</details>

{% endblock %}

