{% set v1 = {
        'current' : {
            'started'   : {'all':41874,  'hw':11211, 'pf':30663},
            'created'   : {'all':101189, 'hw':36289, 'pf':64900},
            'signed'    : {'all':1659,   'hw':558,   'pf':1101},
            'completed' : {'all':97140,  'hw':33515, 'pf':63625},
            'deleted'   : {'all':31548,  'hw':12287, 'pf':19261},
            'total'     : {'all':240211, 'hw':81021, 'pf':159190}
        }
    }
%}

<style>
    <!--
    div#stats {outline:none; width:950px; overflow:auto; margin: 0 auto;}
    table.stats {border:0px solid black; width:950px; background:#EEE; border-collapse: collapse; margin: 40px 0; }
    table.stats th {text-align:center; border:1px solid #ddd; padding:8px; background:#333; color:#eee; font-family:tahoma; font-weight:normal;}
    table.stats td {padding:3px; font-size:16pt; height:30px; text-align:center; vertical-align:middle; border:1px solid #ccc;}
    table.stats td a {text-decoration: none; color:black}
    table.stats tbody.app_stats td {width:180px}
    table.stats tbody.app_stats td.app_status {font-size:10pt; vertical-align: middle; font-family:Verdana; width:100px;}

    table.stats tbody.app_stats tr.border td { border-top-width: 8px; }
    table.stats tbody.app_stats tr.subquestion td {font-size:9pt; vertical-align: middle; font-family:Verdana; width:100px;}
    table.stats tbody.app_stats tr.subquestion td.app_status {font-size:8pt;}

    table.stats tbody.site td {width:180px;}
    table.stats tbody.db td {width:110px; margin:10px;}

    table.stats td.error {height:200px; background:red;}
    table.stats td.warning {height:200px; background:orange;}
    table.stats td.ok {height:200px; background:#88aa88;}

    table.stats img {width:60px;}
    -->
</style>

<div id='stats'>

    <table class='stats'>
        <thead>
        <tr><th>Total no. of registered users</th><th>Total no. of activated users</th><th>No. of activated users this month</th></tr>
        </thead>
        <tbody class='app_stats'>
        <tr><td>{{ users.total }}</td><td>{{ users.activated }}</td><td>{{ users.activated-this-month }}</td></tr>
        </tbody>
    </table>

    <table class='stats'>
        <thead>
        <tr><th>Current Progress</th><th>All applications</th><th>Health and Welfare</th><th>Property and Financial Affairs</th></tr>
        </thead>
        <tbody class='app_stats'>
        <tr>
            <td class='app_status'>Started</td>
            <td>{{ lpas.all.started + v1.current.started.all }}</td>
            <td>{{ lpas.health-and-welfare.started + v1.current.started.hw }}</td>
            <td>{{ lpas.property-and-finance.started + v1.current.started.pf }}</td>
        </tr>
        <tr>
            <td class='app_status'>Created</td>
            <td>{{ lpas.all.created + v1.current.created.all }}</td>
            <td>{{ lpas.health-and-welfare.created + v1.current.created.hw }}</td>
            <td>{{ lpas.property-and-finance.created + v1.current.created.pf }}</td>
        </tr>
        <tr>
            <td class='app_status'>Completed</td>
            <td>{{ lpas.all.completed + v1.current.completed.all }}</td>
            <td>{{ lpas.health-and-welfare.completed + v1.current.completed.hw }}</td>
            <td>{{ lpas.property-and-finance.completed + v1.current.completed.pf }}</td>
        </tr>
        <tr>
            <td class='app_status'><strong>Total</strong></td>
            <td>{{ lpas.all.started + lpas.all.created + lpas.all.completed + v1.current.total.all }}</td>
            <td>{{ lpas.health-and-welfare.started + lpas.health-and-welfare.created + lpas.health-and-welfare.completed + v1.current.total.hw }}</td>
            <td>{{ lpas.property-and-finance.started + lpas.property-and-finance.created + lpas.property-and-finance.completed + v1.current.total.pf }}</td>
        </tr>
        <tr>
            <td class='app_status'>Deleted</td>
            <td>{{ lpas.all.deleted + v1.current.deleted.all }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <table class='stats'>
        <thead>
        <tr>
            <th></th>
            {% for month,values in lpas['by-month'] %}
                <th>{{ month }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class='app_stats'>
        <tr>
            <td class='app_status'>Started LPAs</td>
            {% for month,values in lpas['by-month'] %}
                <td>{{ values.started }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td class='app_status'>Created LPAs</td>
            {% for month,values in lpas['by-month'] %}
                <td>{{ values.created }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td class='app_status'>Completed LPAs</td>
            {% for month,values in lpas['by-month'] %}
                <td>{{ values.completed }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <table class="stats whoareyou">
        <thead>
        <tr>
            <th></th>
            <th>All time</th>
            {% for month,values in who['by-month'] %}
                <th>{{ month }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class="app_stats">
        <tr>
            <td class="app_status">Donor</td>
            <td>{{ who.all.donor.count }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.donor.count }}</td>
            {% endfor %}
        </tr>
        <tr class="border">
            <td class="app_status">Friend or family</td>
            <td>{{ who.all.friendOrFamily.count }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.friendOrFamily.count }}</td>
            {% endfor %}
        </tr>
        <tr class="border">
            <td class="app_status">Professional</td>
            <td>{{ who.all.professional.count }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.professional.count }}</td>
            {% endfor %}
        </tr>
        <tr class="subquestion">
            <td class="app_status">Solicitor</td>
            <td>{{ who.all.professional.subquestions.solicitor }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.professional.subquestions.solicitor }}</td>
            {% endfor %}
        </tr>
        <tr class="subquestion">
            <td class="app_status">Will-writer</td>
            <td>{{ who.all.professional.subquestions.will-writer }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.professional.subquestions.will-writer }}</td>
            {% endfor %}
        </tr>
        <tr class="subquestion">
            <td class="app_status">Other</td>
            <td>{{ who.all.professional.subquestions.other }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.professional.subquestions.other }}</td>
            {% endfor %}
        </tr>

        <tr class="border">
            <td class="app_status">Digital Partner</td>
            <td>{{ who.all.digitalPartner.count }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.digitalPartner.count }}</td>
            {% endfor %}
        </tr>
        <tr class="subquestion">
            <td class="app_status">Age UK</td>
            <td>{{ who.all.digitalPartner.subquestions.Age-Uk }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.digitalPartner.subquestions.Age-Uk }}</td>
            {% endfor %}
        </tr>
        <tr class="subquestion">
            <td class="app_status">Alzheimer's Society</td>
            <td>{{ who.all.digitalPartner.subquestions.Alzheimer-Society }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.digitalPartner.subquestions.Alzheimer-Society }}</td>
            {% endfor %}
        </tr>
        <tr class="subquestion">
            <td class="app_status">Citizens Advice Bureau</td>
            <td>{{ who.all.digitalPartner.subquestions.Citizens-Advice-Bureau }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.digitalPartner.subquestions.Citizens-Advice-Bureau }}</td>
            {% endfor %}
        </tr>

        <tr class="border">
            <td class="app_status">Another organisation</td>
            <td>{{ who.all.organisation.count }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.organisation.count }}</td>
            {% endfor %}
        </tr>
        <tr class="border">
            <td class="app_status">Not said</td>
            <td>{{ who.all.notSaid.count }}</td>
            {% for month,values in who['by-month'] %}
                <td>{{ values.notSaid.count }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

</div>
